<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kspo.voc.sys.dao.FileBaseDao">
    <sql id="sqlPkConditions">
                WHERE FILE_ID           =       #{fileId}
                  AND FILE_ODRG         =       #{fileOdrg}
    </sql>
    <sql id="sqlCols">
                      FILE_ID                    /*파일코드        */
                    , FILE_ODRG                    /*파일순번        */
                    , FILE_NM                    /*파일명        */
                    , FILE_SIZE                    /*파일크기        */
                    , FILE_SAVE_NM                    /*파일저장명        */
                    , FILE_URL                    /*파일URL        */
                    , FILE_EXT_NM                    /*파일확장자명        */
                    , MIME_TYPE_NM                    /*MIME유형명        */
                    , REGR_ID                    /*등록자ID        */
                    , REG_DT                    /*등록일시        */
                    , AMDR_ID                    /*수정자ID        */
                    , AMD_DT                    /*수정일시        */
    </sql>
    <sql id="sqlConditions">
                WHERE 1 = 1
        <if test="fileId != null and fileId != ''">
            <choose>
                <when test="fileId instanceof String">
                              AND FILE_ID           =       #{fileId}
                </when>
                <otherwise>
                    AND FILE_ID           IN
                    <foreach item="item" index="index" collection="fileId" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="fileOdrg != null and fileOdrg != ''">
                      AND FILE_ODRG         =       #{fileOdrg}
        </if>
        <if test="fileNm != null and fileNm != ''">
                      AND FILE_NM           =       #{fileNm}
        </if>
        <if test="fileSize != null and fileSize != ''">
                      AND FILE_SIZE         =       #{fileSize}
        </if>
        <if test="fileSaveNm != null and fileSaveNm != ''">
                      AND FILE_SAVE_NM      =       #{fileSaveNm}
        </if>
        <if test="fileUrl != null and fileUrl != ''">
                      AND FILE_URL          =       #{fileUrl}
        </if>
        <if test="fileExtNm != null and fileExtNm != ''">
                      AND FILE_EXT_NM       =       #{fileExtNm}
        </if>
        <if test="mimeTypeNm != null and mimeTypeNm != ''">
                      AND MIME_TYPE_NM      =       #{mimeTypeNm}
        </if>
    </sql>
    <select id="selectListCount" resultType="int">
                SELECT COUNT(1)
                 FROM TB_SYS_FILE_BAS
        <include refid="sqlConditions"/>
    </select>
    <select id="selectList" resultType="com.kspo.voc.sys.model.FileVo">
        <include refid="com.kspo.voc.sys.dao.CommonDao.pagingHeader"/>
               SELECT /* com.kspo.voc.sys.dao.FileBaseDao.selectList */ <include refid="sqlCols"/>
                    , TO_CHAR(REG_DT, 'YYYYMMDDHH24MISS') UPL_DT
                 FROM TB_SYS_FILE_BAS
        <include refid="sqlConditions"/>
               ORDER BY <if test="fileId != null and fileId != ''">
                    FILE_ODRG ,
                </if> REG_DT DESC
        <include refid="com.kspo.voc.sys.dao.CommonDao.pagingFooter"/>
    </select>
    <select id="select" resultType="com.kspo.voc.sys.model.FileVo">
               SELECT  /* com.kspo.voc.sys.dao.FileBaseDao.select */ <include refid="sqlCols"/>
                    , TO_CHAR(REG_DT, 'YYYYMMDDHH24MISS') UPL_DT
                 FROM TB_SYS_FILE_BAS
        <include refid="sqlPkConditions"/>
    </select>
    <insert id="insert">
        <selectKey order="BEFORE" keyProperty="fileOdrg" resultType="int">
            SELECT NVL(DECODE(#{fileOdrg},0,NULL,#{fileOdrg}),NVL(MAX(FILE_ODRG),0) + 1 )
              FROM TB_SYS_FILE_BAS
             WHERE FILE_ID = TO_CHAR(#{fileId}) 
        </selectKey>
        
                INSERT  /* com.kspo.voc.sys.dao.FileBaseDao.insert */  INTO TB_SYS_FILE_BAS (
        <include refid="sqlCols"/>
                 ) VALUES (
                       #{fileId}
                     , #{fileOdrg}
                     , #{fileNm}
                     , #{fileSize}
                     , #{fileSaveNm}
                     , #{fileUrl}
                     , #{fileExtNm}
                     , #{mimeTypeNm}
                     , #{regrId}
                     , SYSDATE
                     , #{amdrId}
                     , SYSDATE
                 )
    </insert>
    <update id="update">
               UPDATE  /* com.kspo.voc.sys.dao.FileBaseDao.update */  TB_SYS_FILE_BAS
                  SET FILE_NM             =         #{fileNm}
                    , FILE_SIZE           =         #{fileSize}
                    , FILE_SAVE_NM        =         #{fileSaveNm}
                    , FILE_URL            =         #{fileUrl}
                    , FILE_EXT_NM         =         #{fileExtNm}
                    , AMDR_ID             =         #{amdrId}
                    , AMD_DT              =         SYSDATE
                    , MIME_TYPE_NM        =         #{mimeTypeNm}
        <include refid="sqlPkConditions"/>
    </update>
    <delete id="delete">
               DELETE  /* com.kspo.voc.sys.dao.FileBaseDao.delete */  FROM TB_SYS_FILE_BAS
                WHERE FILE_ID            =       TO_CHAR(#{fileId})
                <if test="fileOdrg != null and fileOdrg != ''">
                  AND FILE_ODRG           =       #{fileOdrg} 
                </if>
    </delete>
    <select id="selectMaxfileOdrg" resultType="int">
        SELECT  /* com.kspo.voc.sys.dao.FileBaseDao.selectMaxfileOdrg */  NVL(DECODE(#{fileOdrg},0,NULL,#{fileOdrg}),NVL(MAX(FILE_ODRG),0) + 1 )
              FROM TB_SYS_FILE_BAS
             WHERE FILE_ID = TO_CHAR(#{fileId})
    </select>
</mapper>