<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kspo.voc.sys.dao.GrpBaseDao">
    <sql id="sqlPkConditions">
                WHERE GRP_ID            =       #{grpId}
    </sql>
    <sql id="sqlCols">
                      GRP_ID                    /*그룹코드        */
                    , GRP_NM                    /*그룹명        */
                    , REGR_ID                    /*등록자ID        */
                    , REG_DT                    /*등록일시        */
                    , AMDR_ID                    /*수정자ID        */
                    , AMD_DT                    /*수정일시        */
    </sql>
    <sql id="sqlConditions">
                WHERE 1 = 1
        <if test="grpId != null and grpId != ''">
            <choose>
                <when test="grpId instanceof String">
                              AND GRP_ID            =       #{grpId}
                </when>
                <otherwise>
                    AND GRP_ID            IN
                    <foreach item="item" index="index" collection="grpId" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="grpNm != null and grpNm != ''">
                      AND GRP_NM            =       #{grpNm}
        </if>
    </sql>
    <select id="selectListCount" resultType="int">
                SELECT /* com.kspo.voc.sys.dao.GrpBaseDao.selectListCount */ COUNT(1)
                 FROM TB_SYS_GRP_BAS
        <include refid="sqlConditions"/>
    </select>
    <select id="selectList" resultType="com.kspo.voc.sys.model.GrpBaseVo">
        <include refid="com.kspo.voc.sys.dao.CommonDao.pagingHeader"/>
               SELECT /* com.kspo.voc.sys.dao.GrpBaseDao.selectList */ <include refid="sqlCols"/>
                 FROM TB_SYS_GRP_BAS
        <include refid="sqlConditions"/>
               ORDER BY REG_DT DESC
        <include refid="com.kspo.voc.sys.dao.CommonDao.pagingFooter"/>
    </select>
    <select id="select" resultType="com.kspo.voc.sys.model.GrpBaseVo">
               SELECT /* com.kspo.voc.sys.dao.GrpBaseDao.select */ <include refid="sqlCols"/>
                 FROM TB_SYS_GRP_BAS
        <include refid="sqlPkConditions"/>
    </select>
    <insert id="insert">
                INSERT /* com.kspo.voc.sys.dao.GrpBaseDao.insert */ 
                  INTO TB_SYS_GRP_BAS (
        <include refid="sqlCols"/>
                 ) VALUES (
                       #{grpId}
                     , #{grpNm}
                     , #{regrId}
                     , SYSDATE
                     , #{amdrId}
                     , SYSDATE
                 )
    </insert>
    <update id="update">
               UPDATE /* com.kspo.voc.sys.dao.GrpBaseDao.update */ TB_SYS_GRP_BAS
                  SET GRP_NM              =         #{grpNm}
                    , AMDR_ID             =         #{amdrId}
                    , AMD_DT              =         SYSDATE
        <include refid="sqlPkConditions"/>
    </update>
    <delete id="delete">
               DELETE /* com.kspo.voc.sys.dao.GrpBaseDao.delete */ 
                 FROM TB_SYS_GRP_BAS
        <include refid="sqlPkConditions"/>
    </delete>
    
    
    
    
    
    
    
    
    
    <select id="selectGroupUserListCount" resultType="int">
             SELECT COUNT(1) CNT
               FROM TB_SYS_GRP_BAS A
                  , TB_SYS_GRP_USER_REL B
                  , TB_SYS_USER_BAS C
              WHERE A.GRP_ID = B.GRP_ID
                AND B.USER_ID = C.USER_ID
             <choose>
                <when test="exGroupCd != null and exGroupCd != ''">
                AND A.GRP_ID != #{exGroupCd}
                </when>
                <otherwise>
                AND A.GRP_ID = #{grpId}
                </otherwise>
             </choose> 
                AND C.DEL_YN = 'N'
    </select>
    <select id="selectGroupCheckList" resultType="com.kspo.voc.sys.model.GrpBaseVo">
        SELECT A.GRP_ID
             , A.GRP_NM
             , DECODE( NVL(B.GRP_ID,C.GRP_ID),NULL,'N','Y') CHECK_YN
          FROM TB_SYS_GRP_BAS A
          LEFT JOIN TB_SYS_GRP_USER_REL B ON A.GRP_ID = B.GRP_ID AND B.USER_ID = #{userId}
          LEFT JOIN TB_SYS_GRP_MENU_REL C ON A.GRP_ID = C.GRP_ID AND C.MENU_ID = #{menuId}
    </select>
    <select id="selectGroupUserList" resultType="com.kspo.voc.sys.model.GrpUserRelVo">
        <include refid="com.kspo.voc.sys.dao.CommonDao.pagingHeader"/>
       SELECT A.GRP_ID
            , C.USER_ID
            , C.LOGIN_ID
            , C.USER_NM
            , C.EMAIL_ADDR
            , C.MPHON_NO
         FROM TB_SYS_GRP_BAS A
            , TB_SYS_GRP_USER_REL B
            , TB_SYS_USER_BAS C
       WHERE A.GRP_ID = B.GRP_ID
         AND B.USER_ID = C.USER_ID
         <choose>
            <when test="exGroupCd != null and exGroupCd != ''">
         AND A.GRP_ID != #{exGroupCd}
            </when>
            <otherwise>
         AND A.GRP_ID = #{grpId}
            </otherwise>
         </choose> 
         AND C.DEL_YN = 'N'
       ORDER BY C.LOGIN_ID
        <include refid="com.kspo.voc.sys.dao.CommonDao.pagingFooter"/>
    </select>
    <select id="selectGroupMenuListCount" resultType="int">
        SELECT COUNT(1) CNT
          FROM TB_SYS_GRP_BAS A
             , TB_SYS_GRP_MENU_REL B
             , TB_SYS_MENU_BAS C
        WHERE A.GRP_ID = B.GRP_ID
          AND B.MENU_ID = C.MENU_ID
         <choose>
            <when test="exGroupCd != null and exGroupCd != ''">
            AND A.GRP_ID != #{exGroupCd}
            </when>
            <otherwise>
            AND A.GRP_ID = #{grpId}
            </otherwise>
         </choose> 
         <if test="topMenuId != null and topMenuId != ''">
            AND C.TOP_MENU_ID = #{topMenuId}
         </if>
            AND C.MENU_URL IS NOT NULL
            AND C.MENU_LVL_NO > 1
            AND C.MENU_AUTH_YN = 'Y'
    </select>
    <select id="selectGroupMenuList" resultType="com.kspo.voc.sys.model.GrpMenuRelVo">
        <include refid="com.kspo.voc.sys.dao.CommonDao.pagingHeader"/>
       SELECT A.GRP_ID
            , C.MENU_ID
            , C.MENU_NM
            , C.MENU_URL
            , C.TOP_MENU_ID
            , B.MENU_REG_AUTH_YN
            , B.MENU_READ_AUTH_YN
            , B.MENU_AMD_AUTH_YN
            , B.MENU_DEL_AUTH_YN
             , ( SELECT LISTAGG(MENU_NM, '>') WITHIN GROUP(ORDER BY MENU_LVL_NO)
                          FROM TB_SYS_MENU_BAS
                         START WITH MENU_ID = C.MENU_ID 
                       CONNECT BY PRIOR PRNTS_MENU_ID = MENU_ID ) MENU_PATH
         FROM TB_SYS_GRP_BAS A
            , TB_SYS_GRP_MENU_REL B
            , TB_SYS_MENU_BAS C
        WHERE A.GRP_ID = B.GRP_ID
          AND B.MENU_ID = C.MENU_ID
          <choose>
            <when test="exGroupCd != null and exGroupCd != ''">
          AND A.GRP_ID != #{exGroupCd}
            </when>
            <otherwise>
          AND A.GRP_ID = #{grpId}
            </otherwise>
         </choose> 
         <if test="topMenuId != null and topMenuId != ''">
          AND C.TOP_MENU_ID = #{topMenuId}
         </if>
          AND C.MENU_URL IS NOT NULL
          AND C.MENU_LVL_NO > 1
          AND C.MENU_AUTH_YN = 'Y'
        ORDER BY C.MENU_ID
          
        <include refid="com.kspo.voc.sys.dao.CommonDao.pagingFooter"/>
    </select>
</mapper>
