<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kspo.voc.sys.dao.GrpOrgHstDao">
    <sql id="sqlPkConditions">
                WHERE GRP_ORG_HST_ID    =       #{grpOrgHstId}
    </sql>
    <sql id="sqlCols">
                      GRP_ORG_HST_ID                    /*그룹조직이력코드        */
                    , GRP_ID                    /*그룹코드        */
                    , ORG_ID                    /*조직ID        */
                    , DEL_YN                    /*삭제여부        */
                    , REGR_ID                    /*등록자ID        */
                    , REG_DT                    /*등록일시        */
                    , AMDR_ID                    /*수정자ID        */
                    , AMD_DT                    /*수정일시        */
    </sql>
    <sql id="sqlConditions">
                WHERE 1 = 1
        <if test="grpOrgHstId != null and grpOrgHstId != ''">
            <choose>
                <when test="grpOrgHstId instanceof String">
                              AND A.GRP_ORG_HST_ID    =       #{grpOrgHstId}
                </when>
                <otherwise>
                    AND A.GRP_ORG_HST_ID    IN
                    <foreach item="item" index="index" collection="grpOrgHstId" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="grpId != null and grpId != ''">
            <choose>
                <when test="grpId instanceof String">
                              AND A.GRP_ID            =       #{grpId}
                </when>
                <otherwise>
                    AND A.GRP_ID            IN
                    <foreach item="item" index="index" collection="grpId" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="orgId != null and orgId != ''">
                      AND A.ORG_ID            =       #{orgId}
        </if>
        <if test="delYn != null and delYn != ''">
                      AND A.DEL_YN            =       #{delYn}
        </if>
        <if test="strtDt != null and strtDt != ''">
                      AND A.REG_DT      >=       TO_DATE(#{strtDt},'YYYYMMDD')
        </if>
        <if test="endDt != null and endDt != ''">
                      AND TO_DATE(#{endDt},'YYYYMMDD') + 1 > A.REG_DT
        </if>
        <if test="empId != null and empId != ''">
                      AND A.AMDR_ID LIKE  #{empId} || '%'
        </if>
        <if test="orgNmLike != null and orgNmLike != ''">
                      AND C.ORG_NM LIKE '%' || #{orgNmLike} || '%'
        </if>
    </sql>
    <select id="selectListCount" resultType="int">
                SELECT /* com.kspo.voc.sys.dao.GrpOrgHstDao.selectListCount */ COUNT(1)
                 FROM TB_SYS_GRP_ORG_HST A
                INNER JOIN TB_SYS_GRP_BAS B ON A.GRP_ID = B.GRP_ID
                INNER JOIN TB_SYS_ORG_BAS C ON A.ORG_ID = C.ORG_ID
        <include refid="sqlConditions"/>
    </select>
    <select id="selectList" resultType="com.kspo.voc.sys.model.GrpOrgHstVo">
        <include refid="com.kspo.voc.sys.dao.CommonDao.pagingHeader"/>
               SELECT /* com.kspo.voc.sys.dao.GrpOrgHstDao.selectList */ A.GRP_ORG_HST_ID                    /*그룹조직이력코드        */
                    , A.GRP_ID                    /*그룹코드        */
                    , A.ORG_ID                    /*조직ID        */
                    , A.DEL_YN                    /*삭제여부        */
                    , A.REGR_ID                    /*등록자ID        */
                    , A.REG_DT                    /*등록일시        */
                    , A.AMDR_ID                    /*수정자ID        */
                    , A.AMD_DT                    /*수정일시        */
                    , B.GRP_NM
                    , C.ORG_NM
                 FROM TB_SYS_GRP_ORG_HST A
                INNER JOIN TB_SYS_GRP_BAS B ON A.GRP_ID = B.GRP_ID
                INNER JOIN TB_SYS_ORG_BAS C ON A.ORG_ID = C.ORG_ID
        <include refid="sqlConditions"/>
               ORDER BY REG_DT DESC
        <include refid="com.kspo.voc.sys.dao.CommonDao.pagingFooter"/>
    </select>
    <select id="select" resultType="com.kspo.voc.sys.model.GrpOrgHstVo">
               SELECT /* com.kspo.voc.sys.dao.GrpOrgHstDao.select */ <include refid="sqlCols"/>
                 FROM TB_SYS_GRP_ORG_HST
        <include refid="sqlPkConditions"/>
    </select>
    <insert id="insert">
                INSERT /* com.kspo.voc.sys.dao.GrpOrgHstDao.insert */ INTO TB_SYS_GRP_ORG_HST (
        <include refid="sqlCols"/>
                 ) VALUES (
                       FN_VOC_AUTO_SEQ('GOH')
                     , #{grpId}
                     , #{orgId}
                     , 'N'
                     , #{regrId}
                     , SYSDATE
                     , #{amdrId}
                     , SYSDATE
                 )
    </insert>
    <insert id="insertDelete">
                INSERT /* com.kspo.voc.sys.dao.GrpOrgHstDao.insertDelete */ INTO TB_SYS_GRP_ORG_HST (
        <include refid="sqlCols"/>
                 ) VALUES (
                       FN_VOC_AUTO_SEQ('GOH')
                     , #{grpId}
                     , #{orgId}
                     , 'Y'
                     , #{regrId}
                     , SYSDATE
                     , #{amdrId}
                     , SYSDATE
                 )
    </insert>
    <update id="update">
               UPDATE /* com.kspo.voc.sys.dao.GrpOrgHstDao.update */ TB_SYS_GRP_ORG_HST
                  SET GRP_ID              =         #{grpId}
                    , ORG_ID              =         #{orgId}
                    , DEL_YN              =         #{delYn}
                    , AMDR_ID             =         #{amdrId}
                    , AMD_DT              =         SYSDATE
        <include refid="sqlPkConditions"/>
    </update>
    <delete id="delete">
               DELETE  /* com.kspo.voc.sys.dao.GrpOrgHstDao.delete */ 
                 FROM TB_SYS_GRP_ORG_HST
        <include refid="sqlPkConditions"/>
    </delete>
</mapper>
