<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kspo.voc.sys.dao.PostBasDao">
    <sql id="sqlPkConditions">
                WHERE POST_ID         =       #{postId}
    </sql>
    <sql id="sqlCols">
                      POST_ID                    /*게시물ID        */
                    , BRD_ID                    /*게시판ID        */
                    , UP_POST_ID                    /*상위게시물ID        */
                    , TOP_POST_ID                    /*최상위게시물ID        */
                    , POST_NM                    /*게시물명        */
                    , POST_CTNTS                    /*게시물내용        */
                    , ANSWER_CTNTS                    /*답변내용        */
                    , NOTE_STATUS_CD                    /*공지상태코드        */
                    , POST_STATUS_CD                    /*게시상태코드        */
                    , NOTE_YN                    /*공지여부        */
                    , POST_STA_DT                    /*게시시작일시        */
                    , POST_END_DT                    /*게시종료일시        */
                    , NOTE_STA_DT                    /*공지시작일시        */
                    , NOTE_END_DT                    /*공지종료일시        */
                    , FILE_ID                    /*파일코드        */
                    , POST_PWD                    /*게시물비밀번호        */
                    , REGR_ID                    /*등록자ID        */
                    , REG_DT                    /*등록일시        */
                    , AMDR_ID                    /*수정자ID        */
                    , AMD_DT                    /*수정일시        */
    </sql>
    <sql id="sqlConditions">
                WHERE 1 = 1
        <if test="postId != null and postId != ''">
                      AND POST_ID         =       #{postId}
        </if>
        <if test="brdId != null and brdId != ''">
                      AND BRD_ID            =       #{brdId}
        </if>
        <if test="upPostId != null and upPostId != ''">
                      AND UP_POST_ID      =       #{upPostId}
        </if>
        <if test="topPostId != null and topPostId != ''">
                      AND TOP_POST_ID     =       #{topPostId}
        </if>
        <if test="postNm != null and postNm != ''">
                      AND POST_NM         =       #{postNm}
        </if>
        <if test="postCtnts != null and postCtnts != ''">
                      AND POST_CTNTS      =       #{postCtnts}
        </if>
        <if test="answerCtnts != null and answerCtnts != ''">
                      AND ANSWER_CTNTS      =       #{answerCtnts}
        </if>
        <if test="noteStatusCd != null and noteStatusCd != ''">
            <choose>
                <when test="noteStatusCd instanceof String">
                              AND NOTE_STATUS_CD    =       #{noteStatusCd}
                </when>
                <otherwise>
                    AND NOTE_STATUS_CD    IN
                    <foreach item="item" index="index" collection="noteStatusCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="postStatusCd != null and postStatusCd != ''">
            <choose>
                <when test="postStatusCd instanceof String">
                              AND POST_STATUS_CD    =       #{postStatusCd}
                </when>
                <otherwise>
                    AND POST_STATUS_CD    IN
                    <foreach item="item" index="index" collection="postStatusCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="noteYn != null and noteYn != ''">
                      AND NOTE_YN           =       #{noteYn}
        </if>
        <if test="postStaDt != null and postStaDt != ''">
                      AND POST_STA_DT       =       #{postStaDt}
        </if>
        <if test="postEndDt != null and postEndDt != ''">
                      AND POST_END_DT       =       #{postEndDt}
        </if>
        <if test="noteStaDt != null and noteStaDt != ''">
                      AND NOTE_STA_DT       =       #{noteStaDt}
        </if>
        <if test="noteEndDt != null and noteEndDt != ''">
                      AND NOTE_END_DT       =       #{noteEndDt}
        </if>
        <if test="fileId != null and fileId != ''">
            <choose>
                <when test="fileId instanceof String">
                              AND FILE_ID           =       #{fileId}
                </when>
                <otherwise>
                    AND FILE_ID           IN
                    <foreach item="item" index="index" collection="fileId" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="postPwd != null and postPwd != ''">
                      AND POST_PWD        =       #{postPwd}
        </if>
<!--          DBMS_LOB.INSTR(찾을컬럼이름, '찾을문자열') > 0 -->
    </sql>
    <select id="selectListCount" resultType="int">
                SELECT /* com.kspo.voc.sys.dao.PostBasDao.selectListCount */  COUNT(1)
                 FROM TB_SYS_POST_BAS
        <include refid="sqlConditions"/>
    </select>
    <select id="selectList" resultType="com.kspo.voc.sys.model.PostBasVo">
        <include refid="com.kspo.voc.sys.dao.CommonDao.pagingHeader"/>
               SELECT /* com.kspo.voc.sys.dao.PostBasDao.selectList */ POST_ID                    /*게시물ID        */
                    , BRD_ID                    /*게시판ID        */
                    , UP_POST_ID                    /*상위게시물ID        */
                    , TOP_POST_ID                    /*최상위게시물ID        */
                    , POST_NM                    /*게시물명        */
                    , POST_CTNTS                    /*게시물내용        */
                    , ANSWER_CTNTS                    /*답변내용        */
                    , NOTE_STATUS_CD                    /*공지상태코드        */
                    , POST_STATUS_CD                    /*게시상태코드        */
                    , NOTE_YN                    /*공지여부        */
                    , /*TO_CHAR(POST_STA_DT,'YYYYMMDDHH24MISS')*/       POST_STA_DT             /*게시시작일시        */
                    , /*TO_CHAR(POST_END_DT,'YYYYMMDDHH24MISS')*/       POST_END_DT              /*게시종료일시        */
                    , /*TO_CHAR(NOTE_STA_DT,'YYYYMMDDHH24MISS')*/       NOTE_STA_DT              /*공지시작일시        */
                    , /*TO_CHAR(NOTE_END_DT,'YYYYMMDDHH24MISS')*/       NOTE_END_DT              /*공지종료일시        */
                    , FILE_ID                    /*파일코드        */
                    , POST_PWD                    /*게시물비밀번호        */
                    , REGR_ID                    /*등록자ID        */
                    , REG_DT                    /*등록일시        */
                    , AMDR_ID                    /*수정자ID        */
                    , AMD_DT                    /*수정일시        */
                 FROM TB_SYS_POST_BAS
        <include refid="sqlConditions"/>
               ORDER BY REG_DT DESC
        <include refid="com.kspo.voc.sys.dao.CommonDao.pagingFooter"/>
    </select>
    <select id="select" resultType="com.kspo.voc.sys.model.PostBasVo">
               SELECT /* com.kspo.voc.sys.dao.PostBasDao.select */ <include refid="sqlCols"/>
                 FROM TB_SYS_POST_BAS
        <include refid="sqlPkConditions"/>
    </select>
    <insert id="insert">
                INSERT /* com.kspo.voc.sys.dao.PostBasDao.insert */ INTO TB_SYS_POST_BAS (
        <include refid="sqlCols"/>
                 ) VALUES (
                       #{postId}
                     , #{brdId}
                     , #{upPostId}
                     , #{topPostId}
                     , #{postNm}
                     , #{postCtnts}
                     , #{answerCtnts}
                     , #{noteStatusCd}
                     , #{postStatusCd}
                     , #{noteYn}
                     , DECODE(#{postStaDt},NULL,NULL,TO_DATE(SUBSTR(#{postStaDt} || '000000',1,14) ,'YYYYMMDDHH24MISS'))
                     , DECODE(#{postEndDt},NULL,NULL,TO_DATE(SUBSTR(#{postEndDt} || '235959',1,14) ,'YYYYMMDDHH24MISS'))
                     , DECODE(#{noteStaDt},NULL,NULL,TO_DATE(SUBSTR(#{noteStaDt} || '000000',1,14) ,'YYYYMMDDHH24MISS'))
                     , DECODE(#{noteEndDt},NULL,NULL,TO_DATE(SUBSTR(#{noteEndDt} || '235959',1,14) ,'YYYYMMDDHH24MISS'))
                     , NVL(#{fileId},#{postId})
                     , #{postPwd}
                     , #{regrId}
                     , SYSDATE
                     , #{amdrId}
                     , SYSDATE
                 )
    </insert>
    <update id="update">
               UPDATE /* com.kspo.voc.sys.dao.PostBasDao.update */ TB_SYS_POST_BAS
                  SET BRD_ID              =         #{brdId}
                    , UP_POST_ID        =         #{upPostId}
                    , TOP_POST_ID       =         #{topPostId}
                    , POST_NM           =         #{postNm}
                    , POST_CTNTS        =         #{postCtnts}
                    , ANSWER_CTNTS        =         #{answerCtnts}
                    , NOTE_STATUS_CD      =         #{noteStatusCd}
                    , POST_STATUS_CD      =         #{postStatusCd}
                    , NOTE_YN             =         #{noteYn}
                    , POST_STA_DT         =         DECODE(#{postStaDt} ,NULL ,NULL, TO_DATE(SUBSTR(#{postStaDt} || '000000',1,14) ,'YYYYMMDDHH24MISS'))
                    , POST_END_DT         =         DECODE(#{postEndDt} ,NULL ,NULL, TO_DATE(SUBSTR(#{postEndDt} || '235959',1,14) ,'YYYYMMDDHH24MISS'))
                    , NOTE_STA_DT         =         DECODE(#{noteStaDt} ,NULL ,NULL, TO_DATE(SUBSTR(#{noteStaDt} || '000000',1,14) ,'YYYYMMDDHH24MISS'))
                    , NOTE_END_DT         =         DECODE(#{noteEndDt} ,NULL ,NULL, TO_DATE(SUBSTR(#{noteEndDt} || '235959',1,14) ,'YYYYMMDDHH24MISS'))
<!--                     , FILE_ID             =         #{fileId} -->
                    , POST_PWD          =         #{postPwd}
                    , AMDR_ID             =         #{amdrId}
                    , AMD_DT              =         SYSDATE
        <include refid="sqlPkConditions"/>
    </update>
    <delete id="delete">
               DELETE /* com.kspo.voc.sys.dao.PostBasDao.delete */  
                 FROM TB_SYS_POST_BAS
        <include refid="sqlPkConditions"/>
    </delete>
</mapper>
