@charset "utf-8";
@import url('fonts.css');

html, body,
h1, h2, h3, h4, h5, h6,
input, select, textarea, button, option {font-family:"Noto Sans KR", "맑은 고딕", "돋움", dotum, sans-serif;}

body{background-color:#fff;color:#686868;font-size:12px;line-height:150%;-webkit-text-size-adjust:none;word-wrap:break-word;word-break:keep-all;-webkit-text-size-adjust:none;}
body,h1,h2,h3,h4,h5,h6,div,p,blockquote,pre,address,ul,ol,li,dl,dt,dd,table,caption,th,td,form,fieldset,legend,hr,select,input,textarea{margin:0;padding:0;}
ul,ol{list-style:none;}
table{margin:0;padding:0;border-spacing:0;border:0;_border-collapse:collapse;width:100%;}
*+html table{border-collapse:collapse;}
img,fieldset,abbr,acronym{border:0;}
address,caption,cite,code,dfn,var{font-style:normal;font-weight:normal;}
em{font-style:normal;}
input, button,textarea{padding:0;color:#686868;font-family:'Noto Sans KR', sans-serif, Dotum,Gulim,Helvetica,Apple-Gothic;}
,select{color:#686868;font-family:'Noto Sans KR', sans-serif, Dotum,Gulim,Helvetica,Apple-Gothic;}
table{border-collapse:collapse;border-spacing:0}
table,table th,table td{border:0;}
hr{display:none}
a{color:#686868;text-decoration:none;}
img{vertical-align:middle;}
caption,legend{position:absolute;top:0;left:0;width:0;height:0;line-height:0;overflow:hidden;visibility:hidden;font-size:0;}
.hidden{display:none}
.sound-only{ position: absolute!important;width: 1px!important; height: 1px!important;clip: rect(0 0 0 0)!important;overflow: hidden!important; border: 0!important; padding: 0!important;margin: -1px!important;}

input::-ms-clear{display:none;}
::-webkit-input-placeholder{color:#a4a4a4;} /* Chrome/Opera/Safari */
::-moz-placeholder{color:#a4a4a4;} /* Firefox 19+ */
:-ms-input-placeholder{color:#a4a4a4;} /* IE 10+ */
:-moz-placeholder{color:#a4a4a4;} /* Firefox 18- */

#skipnavigation{position:relative;z-index:110;}
#skipnavigation .skip{position:absolute;top:0;left:0;}
#skipnavigation a{display:block;height:1px;width:1px;margin-bottom:-1px;overflow:hidden;text-align:center;color:#000;white-space:nowrap;}
#skipnavigation a:focus,
#skipnavigation a:active{height:auto;width:auto;padding:5px;margin-bottom:10px;}

html,
body{height:100%;}
body{background-color:#fff;}

/* layout */
#wrap.closed .mGrid1 .gLeft .btnClose{right:-12px;z-index:101;}
#wrap.closed .mGrid1 .gLeft .btnClose:before{transform:rotate(180deg);}
#wrap.closed .mGrid1 .gLeft{left:-372px;}
#wrap.closed .mGrid1 .gRight{margin-left:0;}

#wrap.wide .mGrid1 > .gLeft{width:calc(100% - 46px);}
#wrap.wide .mGrid1 > .gLeft .btnClose{display:none;}
#wrap.wide .mGrid1 > .gLeft .btnWide{right:-12px;}

#wrap{height:100%;/*min-width:1900px;min-height:920px;*/}

#header{position:relative;background-color:#414141;padding:0 0 0 39px;line-height:48px;height:50px;z-index:500;}
#header .menu{float:left;background:url(../images/ico_menu.png) 50% 50% no-repeat;text-indent:-9999px;font-size:0;width:50px;height:50px;}
#header .gRt{position:absolute;top:0;right:36px;}
#header .gRt .log{background:url(../images/ico_log1.png) 0 50% no-repeat;color:#fff;font-size:10px;padding:0 0 0 18px;}
#header .gRt .log + .mBtn1{margin-left:17px;border-color:#b7b7b7;}
#header h1{float:left;}
#header h1 img{margin-top:-5px;}
#header .mGnb{float:left;margin:0 0 0 35px;}

#body{padding:17px 17px 16px 34px;/*height:calc(100% - 101px);*/}

.mGnb > ul{position:relative;}
.mGnb > ul > li{float:left;}
.mGnb > ul > li.active .dep1,
.mGnb > ul > li:hover .dep1{color:#fff2c6;}
.mGnb.hover > ul > li.active .dep2,
.mGnb > ul > li:hover .dep2{display:block;width:1078px;}
.mGnb.hover > ul > li.active .dep1{background-color:#676767;}
.mGnb > ul > li .dep1{display:block;color:#fff;font-size:16px;padding:0 53px;line-height:48px;height:50px;}
.mGnb > ul > li .dep2{display:none;position:absolute;top:44px;left:-98px;background-color:#fff;box-shadow:1px 3px 3px 3px rgba(0,0,0,0.2);padding:41px 0;text-align:left;width:100%;}
.mGnb > ul > li .dep2 > ul{line-height:150%;margin:0 0 0 51px;zoom:1;}
.mGnb > ul > li .dep2 > ul:after{display:block;clear:both;content:''}
.mGnb > ul > li .dep2 > ul + ul{margin-top:60px;}
.mGnb > ul > li .dep2 > ul > li{float:left;width:20%;}
.mGnb > ul > li .dep2 > ul > li.w18per{width:18%;}
.mGnb > ul > li .dep2 > ul > li.w23per{width:23%;}
.mGnb > ul > li .dep2 > ul > li.w55per{width:55%;}
.mGnb > ul > li .dep2 .row{zoom:1;}
.mGnb > ul > li .dep2 .row:after{display:block;clear:both;content:''}
.mGnb > ul > li .dep2 .row .col{float:left;width:33.33%;}
.mGnb > ul > li .dep2 .tit{display:block;color:#d00e2d;font-size:16px;font-weight:bold;padding:0 0 15px;}
.mGnb > ul > li .dep2 .ls{position:relative;letter-spacing:-1px;padding:0 0 0 18px;}
.mGnb > ul > li .dep2 .ls + .ls{margin-top:2px;}
.mGnb > ul > li .dep2 .ls .iFavor1{position:absolute;top:2px;left:0;}
.mGnb > ul > li .dep2 .ls a{display:inline-block;color:#282828;font-size:14px;padding:2px 3px;line-height:140%;}
.mGnb > ul > li .dep2 .ls a:hover{background-color:#f0556e;color:#fff;}

.iFavor1{background:url(../images/ico_favor1.png) 0 50% no-repeat;border:0;cursor:pointer;width:21px;height:19px;}
.iFavor1.active{background-image:url(../images/ico_favor1_a.png);}

.mMidTab{position:relative;background-color:#cacaca;padding:4px 115px 0 0;overflow:hidden;}
.mMidTab .swiper{margin:0 0 0 34px;}
.mMidTab:before{content:"";position:absolute;bottom:0;left:0;background-color:#363636;width:100%;height:1px;}
.mMidTab .swiper-button-prev,
.mMidTab .swiper-button-next{top:4px;left:0;margin:0;background:url(../images/ico_prev1.png) 50% 50% no-repeat #cacaca;width:33px;height:29px;z-index:10;}
.mMidTab .swiper-button-next{left:auto;right:82px;background-image:url(../images/ico_next1.png);}
.mMidTab .swiper-button-next.swiper-button-disabled,
.mMidTab .swiper-button-prev.swiper-button-disabled{opacity:0;background-image:url(../images/ico_prev1_d.png);}
.mMidTab .swiper-button-next.swiper-button-disabled{background-image:url(../images/ico_next1_d.png);}
.mMidTab .swiper-slide{position:relative;display:block;float:left;border:solid 1px #b0acac;border-bottom-color:#363636;background-color:#eee;font-size:12px;color:#484848;margin:0 0 0 -1px;padding:0 35px 0 14px;width:auto;line-height:27px;height:28px;}
.mMidTab .swiper-slide .iHome{background:url(../images/ico_home1.png) 0 50% no-repeat;padding:0 0 0 17px;}
.mMidTab .swiper-slide .delete{position:absolute;top:0;right:0;border:0;background:url(../images/ico_delete1.png) 50% 50% no-repeat;text-indent:-9999px;font-size:0;width:28px;height:28px;opacity:0.6;cursor:pointer;}
.mMidTab .swiper-slide.active{position:relative;background-color:#fff;border-bottom-color:#fff;border-color:#363636;border-bottom-color:#fff;z-index:1;}
.mMidTab .swiper-slide.active .delete{opacity:1;}
.mMidTab .gRt{position:absolute;top:0;right:0;background-color:#cacaca;padding:7px 36px 0 0;height:26px;z-index:10;}
.mMidTab .gRt .mBtn1{border-color:#b7b7b7;}

.mWidget1{position:absolute;top:101px;left:0;width:25px;height:838px;z-index:500;}
.mWidget1 a.btn{display:block;background-color:#ee8686;border-radius:0 5px 5px 0;color:#fff;font-size:12px;font-weight:bold;padding:16px 5px 16px 4px;line-height:120%;text-align:center;width:16px;}
.mWidget1 .list{position:absolute;top:0;left:-257px;background-color:#fff;border:1px solid #b0b0b0;width:255px;transition:all 0.4s 0s;padding-bottom:8px;overflow:hidden;overflow-y:auto;height:100%;}
.mWidget1 .list .ti{background:url(../images/ico_favor1_a.png) 18px 50% no-repeat;color:#313131;font-size:14px;font-weight:normal;margin:0 8px;padding:0 0 0 40px;line-height:40px;height:40px;}
.mWidget1 .list ul{background-color:#f5f5f5;border-top:1px solid #d7d7d7;margin:0 8px;}
.mWidget1 .list li{position:relative;border-bottom:1px solid #ebebeb;}
.mWidget1 .list li a{display:block;color:#313131;font-size:14px;padding:11px 46px 11px 40px;}
.mWidget1 .list li .delete{position:absolute;top:0;right:6px;border:0;background:url(../images/ico_delete2.png) 50% 50% no-repeat;text-indent:-9999px;font-size:0;width:40px;height:40px;cursor:pointer;}
.mWidget1.active .list{left:0;}

.mGrid1{/*height:100%;*/zoom:1;}
.mGrid1:after{display:block;clear:both;content:''}
.mGrid1 > .gLeft{position:absolute;top:101px;left:34px;width:372px;/*height:calc(100% - 118px)*/;transition:all 0.4s 0s;z-index:100}
.mGrid1 > .gLeft .mTitle1{padding-left:18px;}
.mGrid1 > .gLeft .mTitle1:before{left:6px;}
.mGrid1 > .gLeft .btnClose,
.mGrid1 > .gLeft .btnWide{position:absolute;top:50%;right:0;border:0;background-color:#c4c4c4;cursor:pointer;margin-top:-85px;text-indent:-9999px;font-size:0;width:12px;height:35px;}
.mGrid1 > .gLeft .btnClose:before,
.mGrid1 > .gLeft .btnWide:before{content:"";position:absolute;top:0;left:0;background:url(../images/ico_lnb1.png) 50% 50% no-repeat;width:100%;height:100%;}
.mGrid1 > .gLeft .btnWide{margin-top:-48px;}
.mGrid1 > .gLeft .btnWide:before{transform:rotate(180deg);}
.mGrid1 > .gLeft .mBox1{height:calc(100% - 34px);transition:all 0.4s 0s;height:812px;}
.mGrid1 > .gLeft .mDir1,
.mGrid1 > .gLeft .mBoard1{overflow:hidden;overflow-y:auto;/*height:calc(100% - 62px);*/height:744px;}
.mGrid1 > .gRight{margin:0 0 0 387px;height:calc(100% - 17px);transition:all 0.4s 0s;}
.mGrid1 > .gRight .mBoard1{overflow:hidden;overflow-y:auto;height:388px;}
.mGrid1 > .gRight .mBoard1.hSortRow1{height:642px;}
.mGrid1 > .gRight .mBoard1.hSortRow3{height:580px;}

.mGrid1.type2 .gLeft{width:263px;}
.mGrid1.type2 .gRight{margin-left:278px;}

.mGrid2{position:relative;zoom:1;}
.mGrid2:after{display:block;clear:both;content:''}
.mGrid2 > .lt{float:left;width:calc(50% - 10px);}
.mGrid2 > .rt{float:right;width:calc(50% - 10px);}

.mGrid2.type2 .mBoard1{height:617px !important;}
.mGrid2.type2 > .lt{width:calc(50% - 32px);}
.mGrid2.type2 > .mPn1{position:absolute;top:50%;left:50%;margin:-47px 0 0 -32px;width:64px;text-align:center;}
.mGrid2.type2 > .rt{width:calc(50% - 32px);}

.mPn1 a{display:block;background:url(../images/ico_prev2.png) 50% 50% no-repeat #e7e7e7;border:1px solid #b1b1b1;border-radius:4px;text-indent:-9999px;font-size:0;margin:0 auto;width:33px;height:33px;}
.mPn1 a + a{margin-top:10px;}
.mPn1 a:hover{background-image:url(../images/ico_prev2_a.png);background-color:#fff2f2;}
.mPn1 a.next{background-image:url(../images/ico_next2.png);}
.mPn1 a:hover.next{background-image:url(../images/ico_next2_a.png);}

.mBox1 + .mTab1{margin-top:15px;}
.mBox1.p10{padding:10px;}
.mBox1.p24{padding:19px 24px;}
.mBox1.pt25{padding-top:25px;}
.mBox1.pt28{padding-top:28px;}

.mBox1.h717{height:717px;}

.mBox1{background-color:#fff;border:1px solid #9c9c9c;padding:17px 10px;}
.mBox1 .row + .row{margin-top:25px;}
.mBox1 .row{margin-left:-10px;zoom:1;}
.mBox1 .row:after{display:block;clear:both;content:''}
.mBox1 .row .col{float:left;margin:0 0 0 10px;width:calc(50% - 10px);}
.mBox1 .row .col.w57per{width:calc(57% - 10px);}
.mBox1 .row .col.w43per{width:calc(43% - 10px);}

.lMenu{position:absolute;top:0;left:-100%;width:100%;height:100%;z-index:600;transition:all 0.4s 0s;}
.lMenu .modal{display:none;position:fixed;top:0;left:0;width:100%;height:100%;background-color:rgba(255,255,255,0.01);}
.lMenu .con{position:relative;margin:50px 0 0;background-color:#fff;box-shadow:5px 5px 5px rgba(0,0,0,0.2);border-right:1px solid #9c9c9c;width:260px;min-height:870px;height:calc(100% - 50px);overflow:hidden;overflow-y:auto;}
.lMenu .con ul{padding:0 10px 10px;}
.lMenu .con li{border-bottom:1px solid #eaeaea;}
.lMenu .con li > a{position:relative;display:block;color:#000;font-weight:500;font-size:14px;padding:11px 35px;}
.lMenu .con li ul{display:none;border-top:1px solid #dadada;padding:0;}
.lMenu .con li.active > a:before{content:"";position:absolute;top:50%;right:15px;margin-top:-7px;background:url(../images/ico_lnb2_a.png) 0 0 no-repeat;width:8px;height:14px;}
.lMenu .con li.active li > a:before{display:none;}
.lMenu .con li.active li{border-bottom:1px solid #fff;background-color:#f5f5f5;}
.lMenu .con li.active li a{display:block;color:#545454;padding:7px 10px 7px 46px;}
.lMenu .con li.active li.active a,
.lMenu .con li.active li.active a:hover{color:#000;}
.lMenu .con li.active li.active ul{background-color:#e8e8e8;}
.lMenu .con li.active li.active li{border:0;background-color:transparent;}
.lMenu .con li.active li.active ul{border-top:0;border-bottom:1px solid #dedede;margin-bottom:-1px;padding:5px 0;}
.lMenu .con li.active li.active li a{color:#5e6265;padding:5px 10px 5px 70px;}
.lMenu .con li.active li.active li a:before{content:"-";position:absolute;top:6px;left:60px;}

.lMenu.active{left:0;}
.lMenu.active .modal{display:block;}

.mDir1{border:1px solid #c7c7c7;color:#484848;font-size:12px;padding:16px 8px;}
.mDir1 .dep1{background:url(../images/ico_dir1_dep1.png) 0 4px no-repeat;padding:0 0 0 16px;}
.mDir1 ul{padding:5px 0 0 16px;}
.mDir1 li a{position:relative;display:block;padding:3px 0 3px 15px;}
.mDir1 li a:after{content:"";position:absolute;top:10px;left:0;background:url(../images/ico_dir1_dep2.png) 0 0 no-repeat;width:6px;height:6px;transition:all 0.4s 0s;}
.mDir1 li ul{display:none;background:url(../images/ico_dir1_line2.png) 16px 100% repeat-y;margin:0 0 0 -16px;padding-top:0px;}
.mDir1 li li{position:relative;padding-left:22px;}
.mDir1 li li:before{content:"";position:absolute;bottom:0;left:0;background:url(../images/ico_dir1_line1.png) 0 100% no-repeat;width:9px;height:100%;}
.mDir1 li li:last-child:before{background-image:url(../images/ico_dir1_line1_last.png);}
.mDir1 li ul ul:before{content:"";position:absolute;bottom:5px;left:3px;background-color:#fff;width:10px;height:10px;}
.mDir1 li.active > a:after{transform:rotate(90deg);}
.mDir1 li.active > a + ul{display:block;}

/* //layout */

/* button */
.mBtn1{display:inline-block;border:1px solid #898989;background-color:#6b6b6b;border-radius:2px;color:#fff;font-size:12px;padding:0 11px;text-align:center;line-height:25px;height:26px;}

.mBtn1.s{font-size:10px;padding:0 4px;line-height:17px;height:18px;}
.mBtn1.m{letter-spacing:-1px;padding:0 8px;line-height:22px;height:22px;}
.mBtn1.r5{border-radius:5px;}

.mBtn1.lGray{border-color:#898989;background-color:#dfdfdf;color:#525252;}
.mBtn1.lWhite{border-color:#898989;background-color:#fff;color:#797979;}
.mBtn1.lPink{border-color:#898989;background-color:#fbcbcb;color:#232323;}
.mBtn1.lPrimary{border-color:#c47b7b;background-color:#fff;color:#494949;}
.mBtn1.gray{border-color:#898989;background-color:#dfdfdf;color:#525252;}
.mBtn1.primary{border-color:#a84242;background-color:#ff7b7b;color:#fff;}

.iFace,
.iPoint,
.iStamp,
.iCoupon,
.iCard{display:inline-block;background:url(../images/ico_point1.png) 0 50% no-repeat;margin:0 6px 0 0;padding:0 0 0 23px;}
.iStamp{background-image:url(../images/ico_stamp1.png);}
.iCoupon{background-image:url(../images/ico_coupon1.png);}
.iCard{background-image:url(../images/ico_card1.png);}
.iFace{background-image:url(../images/ico_face1.png);}
/* //button */

/* form */
.mFlex1{display:-webkit-flex;display:flex;}
.mFlex1 .it{-webkit-flex:1;flex:1;width:100%;}
.mFlex1 .it{border:1px solid #898989;background-color:#fff;border-radius:3px;color:#686868;font-size:12px;padding:0 0 0 6px;height:26px;}
.mFlex1 .it + .it{margin-left:3px;}
.mFlex1 .it.w1{-webkit-flex:0.53;flex:0.53;}
.mFlex1 .it.w2{-webkit-flex:0.85;flex:0.85;}
.mFlex1 .mBtn1{margin-left:4px;}
.mFlex1 + .mBoard1{margin-top:7px;}

.mFlex2.w170{width:170px;}
.mFlex2{display:-webkit-flex;display:flex;text-align:left;}
.mFlex2 .flex.w1{-webkit-flex:0.7;flex:0.7;}
.mFlex2 .flex{-webkit-flex:1;flex:1;}
.mFlex2 .flex + .button{margin-left:6px;}
.mFlex2 .flex + .it,
.mFlex2 .flex + .mBtn1,
.mFlex2 .flex + .flex{margin-left:2px;}
.mFlex2 .mBtn1.m{padding:0 5px;min-width:38px;}
.mFlex2 .mFind1{margin-right:2px;min-width:100px;}
.mFlex2 .it + .it{margin-left:2px;}
.mFlex2 .it + .it{margin-left:2px;}
.mFlex2 .mDate1{width:220px;}
.mFlex2 .mCheckbox1{margin-top:5px;}
.mFlex2 .flex + .bar2,
.mFlex2 .flex + .bar,
.bar2{display:inline-block;margin-left:4px;line-height:24px;height:24px;}
.bar2{margin:0 10px 0 0;}
.bar2 + .mDate1{margin-left:15px;}

.it{border:1px solid #e2e2e4;background-color:#fff;color:#686868;font-size:12px;padding:0 0 0 9px;width:calc(100% - 11px);height:22px;}
.it.center{text-align:center;padding-left:0;width:calc(100% - 2px);}
.it.right{text-align:right;padding:0 9px 0 0;}
.it.date{background:url(../images/ico_cal1.png) calc(100% - 3px) 50% no-repeat #fff;padding-right:20px;width:calc(100% - 31px);}
.it.w35{width:35px;}
.it.w50{width:50px;}
.it.w60{width:60px;}
.it.w70{width:70px;}
.it.w75{width:75px;}
.it.w80{width:80px;}
.it.w185{width:185px;}

.select.wAuto{width:auto;}
.select{border:1px solid #e2e2e4;background-color:#fff;color:#686868;font-size:12px;padding:0 25px 0 9px;width:calc(100% - 11px);height:24px;-webkit-appearance:none;-moz-appearance:none;appearance:none;background:url(../images/ico_select1.png) no-repeat 100% 50% #fff;min-width:60px;width:100%;}
.select::-ms-expand{display:none;}

.iMust{position:relative;padding:0 6px 0 0;}
.iMust:before{content:"";position:absolute;top:4px;right:0;background-color:#d00e2d;border-radius:5px;width:3px;height:3px;}

.must{background-color:#fcf4f6 !important;}
.crucial{background-color:#fff2c6 !important;}

.mRadio1{display:inline-block;margin-left:6px;margin-right:6px;}
.mRadio1:last-child{margin-right:0;}
.mRadio1 input[type="radio"]{position:absolute;border:0;padding:0;width:14px;height:14px;overflow:hidden;clip:rect(0px, 0px, 0px, 0px);}
.mRadio1 input[type="radio"] + .label{position:relative;display:block;padding:0 0 0 17px;vertical-align:middle;line-height:14px;cursor:pointer;}
.mRadio1 input[type="radio"] + .label:before{content:"";position:absolute;top:0;left:0;background:url(../images/ico_radio1.png) 0 0 no-repeat;width:14px;height:14px;line-height:14px;overflow:hidden;margin:0;padding:0;}
.mRadio1 input[type="radio"]:checked + .label::before{background-image:url(../images/ico_radio1_a.png);}

.mRadio1.posRt input[type="radio"] + .label{padding:0 17px 0 0;}
.mRadio1.posRt input[type="radio"] + .label:before{left:auto;right:0;}

.mRadio1.type2 input[type="radio"] + .label{color:#1b1b1b;font-size:14px;padding-left:27px;line-height:20px;}
.mRadio1.type2 input[type="radio"] + .label:before{background-image:url(../images/ico_radio2.png);width:20px;height:20px;line-height:14px;overflow:hidden;margin:0;padding:0;}
.mRadio1.type2 input[type="radio"]:checked + .label::before{background-image:url(../images/ico_radio2_a.png);}

.mRadio1.type2.fs12 input[type="radio"] + .label{font-size:12px;}

.mCheckbox1{display:inline-block;margin-left:6px;margin-right:6px;}
.mCheckbox1:last-child{margin-right:0;}
.mCheckbox1 input[type="checkbox"]{position:absolute;border:0;padding:0;width:14px;height:14px;overflow:hidden;clip:rect(0px, 0px, 0px, 0px);}
.mCheckbox1 input[type="checkbox"] + .label{position:relative;display:block;padding:0 0 0 17px;vertical-align:middle;line-height:14px;cursor:pointer;}
.mCheckbox1 input[type="checkbox"] + .label:before{content:"";position:absolute;top:0;left:0;background:url(../images/ico_checkbox1.png) 0 0 no-repeat;width:14px;height:14px;line-height:14px;overflow:hidden;margin:0;padding:0;}
.mCheckbox1 input[type="checkbox"]:checked + .label::before{background-image:url(../images/ico_checkbox1_a.png);}

.mCheckbox1.notext{margin-left:0;}
.mCheckbox1.notext input[type="checkbox"] + .label{padding-left:0;text-indent:-9999px;font-size:0;width:14px;}
/* //form */

/* common */
.mFind1{position:relative;}
.mFind1 .it{padding-right:24px;width:calc(100% - 35px);}
.iFind{position:absolute;top:0;right:0;background:url(../images/ico_find1.png) 50% 50% no-repeat;text-indent:-9999px;font-size:0;width:24px;height:24px;}

.mDate1{display:-webkit-flex;display:flex;line-height:24px;}
.mDate1 .bar{padding:0 5px;}
.mDate1 .it{-webkit-flex:1;flex:1;}

.mBoard1{border:1px solid #c7c7c7;padding:2px;}
.mBoard1 th,
.mBoard1 td{background-color:#fff;border:1px solid #d4d4d4;color:#686868;text-align:center;word-break:break-all;padding:0 5px;height:36px;}
.mBoard1 thead th{background-color:#ffeded;border-color:#fbcbcb;color:#000;font-weight:500;}
.mBoard1 tbody tr:first-child td{border-top:0;}
.mBoard1 tbody th{background-color:#f6f6f4;color:#212121;font-weight:normal;}
.mBoard1 tbody tr:nth-child(even) td{background-color:#f6f6f4;}
.mBoard1 tbody tr.active td{background-color:#dedede;}
.mBoard1 .mCheckbox1.notext{vertical-align:middle;margin-top:-2px;}
.mBoard1 .left{padding-left:12px;text-align:left;}
.mBoard1 .right{padding-right:12px;text-align:right;}
.mBoard1 .select{border-color:#b9b9b9;height:26px;}
.mBoard1 .nodata td{background-color:#f6f6f4;}

.mBoard1.pType1 thead th{height:33px;}
.mBoard1.pType1 td{padding:0 2px;height:30px;}
.mBoard1.pType1 .left{padding-left:20px;}
.mBoard1.pType1 .right{padding-right:20px;}
.mBoard1.hRow7{max-height:252px;}

.mBoard2 + .mSort2{margin-top:15px;}
.mBoard2 + .gTitle1.line{margin-top:38px;}
.mBoard2 th,
.mBoard2 td{background-color:#fff;border:1px solid #e2e2e4;text-align:center;word-break:break-all;padding:2px;height:24px;}
.mBoard2 th{background-color:#f6f6f4;color:#212121;font-weight:normal;padding-left:8px;padding-right:8px;}
.mBoard2 th .iMust{margin-right:-8px;}
.mBoard2 .left{text-align:left;padding-right:0;}
.mBoard2 .tx{padding-left:4px;}
.mBoard2 .tx + .txtRed{padding-left:17px;}
.mBoard2 .bgWhite{background-color:#fff;}
.mBoard2 .bgGray{background-color:#f6f6f4;}

.mPag1{position:relative;line-height:normal;text-align:center;margin:10px auto 11px;padding:0 40px;}
.mPag1 .mCount1{position:absolute;top:2px;left:0;}
.mPag1 a,
.mPag1 span{display:inline-block;color:#c1c1c1;text-decoration:none;font-size:14px;margin:0 10px;vertical-align:middle;text-align:center;line-height:25px;height:25px;}
.mPag1 .active{color:#000;}
.mPag1 .first,
.mPag1 .last,
.mPag1 .prev,
.mPag1 .next{position:relative;display:inline-block;background:url(../images/ico_pag_first.png) 50% 50% no-repeat #fff;margin:0;text-indent:-9999px;font-size:0;margin:0;overflow:hidden;width:22px;height:25px;z-index:10;}
.mPag1 .next,
.mPag1 .last{background-image:url(../images/ico_pag_last.png);}
.mPag1 .prev{background-image:url(../images/ico_pag_prev.png);margin-left:5px;}
.mPag1 .next{background-image:url(../images/ico_pag_next.png);margin-left:5px;}
.mPag1 span.first,
.mPag1 span.prev,
.mPag1 span.next,
.mPag1 span.last{opacity:0.4;}
.mPag1 .select{border-color:#c1c1c1;color:#000;font-size:14px;border-radius:4px;margin-left:17px;padding-left:14px;width:auto;min-width:66px;line-height:23px;height:25px;vertical-align:middle;}
.mPag1 .select.posRt{position:absolute;top:0;right:0;}

.mPag1.mPag1{padding:0 65px 0 37px;}

.mCount1{color:#212121;font-size:14px;}
.mCount1 strong{color:#d00e2d;}

.mCSB_inside > .mCSB_container{margin-right:0;}
.mCSB_scrollTools{width:3px;}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{background-color:#9e9e9e !important;}
.mCSB_scrollTools .mCSB_draggerRail{background-color:transparent;}

.mImg1{border:1px solid #e2e2e4;background-size:cover;background-repeat:no-repeat;background-position:50% 50%;width:67px;height:86px;}

.mTab1.hasSub{padding:0 0 28px;}
.mTab1{position:relative;zoom:1;}
.mTab1:before{content:"";position:absolute;top:25px;left:0;width:100%;height:2px;background-color:#d00e2d;zoom:1;}
.mTab1:after{display:block;clear:both;content:''}
.mTab1 li{float:left;margin-right:-1px;}
.mTab1 li > a{display:block;float:left;background-color:#fff;border:1px solid #ababab;border-bottom:0;color:#2c2c2c;font-size:14px;text-align:center;padding:0 15px;min-width:103px;line-height:24px;height:24px;}
.mTab1 li .sub{display:none;position:absolute;top:26px;left:0;}
.mTab1 li.active > a{position:relative;background-color:#d00e2d;border-color:#d00e2d;color:#fff;}
.mTab1 li.active .sub{display:block;padding:3px 0 0 9px;zoom:1;}
.mTab1 li.active .sub:after{display:block;clear:both;content:''}
.mTab1 li.active .sub a{position:relative;display:block;float:left;color:#686868;font-size:12px;padding:0 16px;line-height:25px;height:25px;}
.mTab1 li.active .sub a.active{color:#000;font-weight:bold;}
.mTab1 li.active .sub a.active:before{content:"";position:absolute;bottom:0;left:0;background-color:#5e5e5e;width:100%;height:4px;}
.mTab1 li.active .sub a + a{margin-right:-1px;}

.mTab2{padding:3px 0 0 9px;zoom:1;}
.mTab2:after{display:block;clear:both;content:''}
.mTab2 a{position:relative;display:block;float:left;color:#686868;font-size:12px;padding:0 16px;line-height:25px;height:25px;}
.mTab2 a.active{color:#000;font-weight:bold;}
.mTab2 a.active:before{content:"";position:absolute;bottom:0;left:0;background-color:#5e5e5e;width:100%;height:4px;}
.mTab2 a + a{margin-right:-1px;}

.gProfile1 .mImg1{float:left;}
.gProfile1 .mBoard2{margin-left:69px;}

.mSort2 + .mGrid2,
.mSort2 + .gTitle1,
.mSort2 + .mBox1{margin-top:15px;}
.mSort2{position:relative;border:1px solid #ccc;border-radius:4px;background-color:#f2f2f2;padding:19px 0 15px;zoom:1;}
.mSort2:after{display:block;clear:both;content:''}
.mSort2 ul{width:1075px;zoom:1;}
.mSort2 ul:after{display:block;clear:both;content:''}
.mSort2 li{float:left;display:-webkit-flex;display:flex;margin:0 0 4px;width:25%;}
.mSort2 li .tit{float:left;color:#212121;font-size:14px;padding:0 10px 0 0;text-align:right;width:118px;line-height:27px;height:27px;}
.mSort2 .w35{width:35px !important;}
.mSort2 .w41{width:41px !important;}
.mSort2 .w50{width:50px !important;}
.mSort2 .w65{width:65px !important;}
.mSort2 .w80{width:80px !important;}
.mSort2 .w85{width:85px !important;}
.mSort2 .w90{width:90px !important;}
.mSort2 .w100{width:100px !important;}
.mSort2 .w105{width:105px !important;}
.mSort2 .w115{width:115px !important;}

.mSort2 li .txt{-webkit-flex:1;flex:1;}
.mSort2 li .txt .it,
.mSort2 li .txt .select{color:#212121;font-size:12px;border-color:#b9b9b9;}
.mSort2 li .txt .select{height:27px;}
.mSort2 li .txt .mBtn1.lWhite,
.mSort2 li .txt .it{height:25px;}
.mSort2 li .txt .it.w485{width:485px;}
.mSort2 li .txt .mDate1{width:250px;}
.mSort2 li .txt .mDate1 .it.date{background-position:calc(100% - 15px) 50%;padding:0 28px 0 0;text-align:center;}
.mSort2 li .txt .mBtn1.lWhite{border-color:#898989;color:#212121;}
.mSort2 li.w100per{width:100%;}
.mSort2 li.w11per{width:11%;}
.mSort2 li.w11per .tit{width:90px;}
.mSort2 li.w12per{width:12%;}
.mSort2 li.w12per .tit{width:60px;}
.mSort2 li.w13per{width:13%;}
.mSort2 li.w13per .tit{width:83px;}
.mSort2 li.w13per .tit.w110{width:110px;}
.mSort2 li.w14per{width:14%;}
.mSort2 li.w14per .tit{width:83px;}
.mSort2 li.w15per{width:15%;}
.mSort2 li.w15per .tit{width:83px;}
.mSort2 li.w16per{width:16%;}
.mSort2 li.w16per .tit{width:65px;}
.mSort2 li.w17per{width:17%;}
.mSort2 li.w17per .tit{width:85px;}
.mSort2 li.w17per .tit.w105{width:105px;}
.mSort2 li.w18per{width:18%;}
.mSort2 li.w18per .tit{width:113px;}
.mSort2 li.w20per{width:20%;}
.mSort2 li.w20per .tit{width:85px;}
.mSort2 li.w21per{width:21%;}
.mSort2 li.w22per{width:22%;}
.mSort2 li.w22per .tit{width:100px;}
.mSort2 li.w22per .tit.w85{width:85px;}
.mSort2 li.w24per{width:24%;}
.mSort2 li.w24per .tit{width:110px;}
.mSort2 li.w26per{width:26%;}
.mSort2 li.w26per .tit{width:110px;}
.mSort2 li.w32per{width:32%;}
.mSort2 li.w33per{width:33%;}
.mSort2 li.w33per .tit{width:85px;}
.mSort2 li.wAuto{width:auto;}
.mSort2 li .button{position:static;}
.mSort2 .button .mBtn1{min-width:38px;height:25px;}
.mSort2 .button{position:absolute;bottom:19px;left:1075px;}
.mSort2 .button.posVm{bottom:50%;margin-bottom:-13.5px;}
.mSort2 .button.posRt{left:auto;right:20px;}
.mSort2 .button.posRt .mBtn1{margin-left:2px;}

.mSort2.type2 .gRadio1{position:absolute;top:0;left:15px;display:table;width:150px;height:100%;}
.mSort2.type2 .gRadio1 .cont{display:table-cell;vertical-align:middle;padding-bottom:2px;}
.mSort2.type2 .gRadio1 + ul{padding:0 0 0 165px;width:1385px;}
.mSort2.type2 ul + .button{left:1570px;}

.mSort2.type3 .row .titl{float:left;font-size:14px;margin:0 0 0 20px;line-height:27px;height:27px;}
.mSort2.type3 .row .titl + ul{padding-left:70px;}
.mSort2.type3 ul{margin-right:160px;width:auto;}
.mSort2.type3 li:first-child{margin-left:-2px;}
.mSort2.type3 li .tit{font-size:12px;}

/* //common */

/* title */
.mTitle1{position:relative;color:#2c2c2c;font-size:14px;font-weight:bold;padding:0 0 0 13px;}
.mTitle1:before{content:"";position:absolute;top:7px;left:0;background-color:#d00e2d;border-radius:5px;width:5px;height:5px;}
.gTitle1 + .mList1,
.gTitle1 + .mBoard1,
.mTitle1 + .mBoard1{margin-top:14px;}
.gTitle1.line{border-bottom:1px solid #cdcdcd;margin:0 0 4px;padding:0 0 5px;}
.gTitle1.line:before{content:"";position:absolute;bottom:0;left:0;background-color:#d4d4d4;width:100%;height:1px;}
.gTitle1.line .gRt{top:-12px;}

.gTitle1{position:relative;}
.gTitle1 .gRt{position:absolute;top:0;right:0;}
.gTitle1 .gRt .mBtn1{margin:0 0 10px;}
.gTitle1 .gRt .mBtn1 + .mBtn1.ml17,
.gTitle1 .gRt .mBtn1.ml20{margin-left:17px;}
.gTitle1 .gRt .mBtn1 + .mBtn1{margin-left:2px;}
.gTitle1 .gRt.pos1{top:-15px;}
.gTitle1 + .mDir1,
.gTitle1 + .mFlex1{margin-top:12px;}
/* //title */

/* popup */
.mPopup1 .title{position:relative;background-color:#525252;padding:0 30px;height:50px;}
.mPopup1 .title h1{color:#fff;font-size:18px;font-weight:500;line-height:50px;}
.mPopup1 .title .close{position:absolute;top:0;right:0;background:url(../images/ico_close1.png) 50% 50% no-repeat;text-indent:-9999px;font-size:0;width:50px;height:50px;}
.mPopup1 .cont{padding:35px 30px 20px;}
.mPopup1 .mSort2 .button.posVm{left:988px;}

.mList1 ul{margin-left:-13px;zoom:1;}
.mList1 ul:after{display:block;clear:both;content:''}
.mList1 li{float:left;background-color:#f4f4f4;border:1px solid #e3e3e3;border-radius:15px;margin:0 0 0 13px;padding:18px 30px;text-align:center;width:calc(25% - 75px);}
.mList1 li .tit{position:relative;border-bottom:1px solid #cecece;color:#333;font-weight:500;font-size:14px;padding:0 0 10px;text-align:center;}
.mList1 li .tit:before{content:"";position:absolute;bottom:0;left:0;background-color:#d3d3d3;width:100%;height:1px;}
.mList1 li .txt{display:table;width:100%;height:83px;}
.mList1 li .txt .txtBg{display:table-cell;color:#333;font-size:14px;vertical-align:middle;}
.mList1 li .txt em{font-weight:500;}
.mList1 li .bt{display:inline-block;background-color:#5b5b5b;border-radius:35px;color:#fff;font-size:16px;margin:10px 0 0;padding:0 17px;line-height:26px;height:26px;}

.modalBg{position:fixed;top:0;left:0;background-color:rgba(0,0,0,0.6);width:100%;height:100%;}

.mPopup2.w805 .cont{width:805px;margin-left:-402.5px;}
.mPopup2{position:absolute;top:0;left:0;width:100%;height:100%;z-index:1000;}
.mPopup2 .cont{position:absolute;top:50%;left:50%;margin-left:-200px;background-color:#fff;border-radius:20px;transform:translateY(-50%);width:400px;overflow:hidden;}
.mPopup2 .mButton1{display:-webkit-flex;display:flex;text-align:center;}
.mPopup2 .mButton1 a{-webkit-flex:1;flex:1;background-color:#f5f5f5;border-top:1px solid #dedede;color:#212121;font-size:20px;line-height:65px;height:65px;}
.mPopup2 .mButton1 a.primary{color:#01a69f;}
.mPopup2 .mButton1 a + a{border-left:1px solid #dedede;}
.mPopup2 .text{padding:35px 0 26px;text-align:center;}
.mPopup2 .text .txt{color:#212121;font-size:20px;min-height:55px;}
.mPopup2 .text .txt.ico1,
.mPopup2 .text .txt.ico2,
.mPopup2 .text .txt.ico3{background:url(../images/ico_popup1.png) 50% 0 no-repeat;padding:115px 0 0;}
.mPopup2 .text .txt.ico2{background-IMAGE:url(../images/ico_popup2.png);}
.mPopup2 .text .txt.ico3{background-IMAGE:url(../images/ico_popup3.png);}

/* //popup */

/* etc */
.bgGray{background-color:#f0f0f0;}

.mVm1{display:table;padding:30px 0;width:100%;height:calc(100% - 60px);}
.mVm1 .cont{display:table-cell;vertical-align:middle;padding:0 30px;}

.mLogin1{position:relative;}
.mLogin1 fieldset{background-color:#fff;border-radius:10px;margin:0 auto;padding:91px 65px 110px;width:346px;}
.mLogin1 h1 + dl{margin-top:45px;}
.mLogin1 dt{display:none;}
.mLogin1 dd{margin:0 0 10px;}
.mLogin1 .it{border:1px solid #000;border-radius:5px;color:#212121;font-size:16px;padding-left:20px;width:calc(100% - 22px);line-height:45px;height:45px;}
.mLogin1 .save{margin:18px 0 0 -5px;}
.mLogin1 .mCheckbox1 input[type="checkbox"] + .label{color:#000;font-size:16px;padding-left:23px;}
.mLogin1 .mCheckbox1 input[type="checkbox"] + .label:before{background-image:url(../images/ico_checkbox1_l.png);width:18px;height:18px;}
.mLogin1 .mCheckbox1 input[type="checkbox"]:checked + .label::before{background-image:url(../images/ico_checkbox1_l_a.png);}
.mLogin1 .button{margin:40px 0 0;text-align:center;}
.mLogin1 .button a{display:inline-block;background-color:#d00e2d;border-radius:5px;color:#fff;font-size:18px;text-align:center;min-width:210px;line-height:48px;height:48px;}

.mError1{color:#212121;font-size:18px;line-height:150%;text-align:center;width:100%;}
.mError1 .tit{display:block;background:url(../images/img_error1.png) 50% 0 no-repeat;font-size:30px;margin:0 0 12px;padding:222px 0 0;}

.mIntro1{display:table;text-align:center;}
.mIntro1 .cont{}
.mIntro1 h1{margin:0 0 70px;}
.mIntro1 .list{margin:0 auto;width:1290px;}
.mIntro1 .list ul{display:-webkit-flex;display:flex;margin-left:-15px;}
.mIntro1 .list li{position:relative;-webkit-flex:1;flex:1;margin:0 0 0 15px;}
.mIntro1 .list li a{position:relative;display:block;background:url(../images/ico_intro1_1.png) 50% 182px no-repeat #fff;border-radius:10px;height:360px;overflow:hidden;}
.mIntro1 .list li:hover a:before{content:"";position:absolute;top:0;left:0;border:2px solid #000;border-radius:8px;width:calc(100% - 4px);height:calc(100% - 4px);}
.mIntro1 .list li .tit{display:block;border-top:11px solid #d00e2d;color:#000;font-size:25px;padding:84px 0 0;}
.mIntro1 .list li .txt{display:block;color:#434343;font-size:14px;padding:14px 0 0;}
.mIntro1 .list li.ico2 a{background-image:url(../images/ico_intro1_2.png);}
.mIntro1 .list li.ico3 a{background-image:url(../images/ico_intro1_3.png);}
.mIntro1 .list li.ico4 a{background-image:url(../images/ico_intro1_4.png);}

/* //etc */

/* text */
.txtRed{color:#d14141;}

.mTxt1{padding:5px 0 0;}
.mTxt1 .t{padding:0 0 7px;}
.mTxt1 .c{display:table;border:1px solid #e2e2e4;background-color:#fff;color:#686868;margin:0 0 0 -6px;width:calc(100% + 11px);height:108px;}
.mTxt1 .c > div{display:table-cell;vertical-align:middle;}
/* //text */

/* iframe */
#jsContent{border:0;width:100%;height:859px;}

#wrapIframe .mGrid1 .gLeft{top:0;left:0;}

#wrapIframe.closed .mGrid1 .gLeft .btnClose{right:-12px;z-index:101;}
#wrapIframe.closed .mGrid1 .gLeft .btnClose:before{transform:rotate(180deg);}
#wrapIframe.closed .mGrid1 .gLeft{left:-372px;}
#wrapIframe.closed .mGrid1 .gRight{margin-left:0;}
/* //iframe */

/*
#wrap{width:1900px;height:960px;}
#wrap{border-bottom:1px solid #f00;}
*/
