<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kspo.voc.program.setting.dao.VocDtlMgmtPrcdDao">

    <sql id="mgmtPrcdCols">
            TVMPD.MGMT_PRCD_CD /* 관리절차코드 */
        ,   TVMPD.PRCD_CD /* 절차코드 */,
        ,   TVMPD.MGMT_PRCD_ORDR /* 관리절차순번 */
        ,   TVMPD.DDLN_SEC /* 처리기한 초 */
        ,   TVMPD.DUTY_ORG_ID /* 담당부서 아이디 */
        ,   TVMPD.DUTY_EMP_ID /* 담당직원 아이디 */
        ,   TVMPD.DUTY_ROLE_CD /* 담당권한코드 */
        ,   TVMPD.REGR_ID /* 등록자 아이디 */
        ,   TVMPD.REG_DT /* 등록일시 */
        ,   TVMPD.AMDR_ID /* 수정자 아이디 */
        ,   TVMPD.AMD_DT /* 수정일시 */
    </sql>

    <sql id="dirCdCols">
            TVDCB.DIR_CD /* 경로코드 */
        ,   TVDCB.SP_DIR_YN /* 특수경로 여부 */
        ,   TVDCB.REGR_ID /* 등록자 아이디 */
        ,   TVDCB.REG_DT /* 등록일시 */
        ,   TVDCB.AMDR_ID /* 수정자 아이디 */
        ,   TVDCB.AMD_DT /* 수정일시 */
    </sql>

    <sql id="dirMgmtCols">
            TVDMR.DIR_CD /* 경로코드 */
        ,   TVDMR.MGMT_CD /* 관리코드 */
        ,   TVDMR.REGR_ID /* 등록자 아이디 */
        ,   TVDMR.REG_DT /* 등록일시 */
        ,   TVDMR.AMDR_ID /* 수정자 아이디 */
        ,   TVDMR.AMD_DT /* 수정일시 */
    </sql>

    <select id="selectDirMgmtList" resultType="com.kspo.voc.program.setting.model.VocDirMgmtVo">
        SELECT
            <include refid="dirMgmtCols"/>
        FROM
            TB_VOC_DIR_MGMT_REL TVDMR
        WHERE
            <if test="tpMgmtCd != null and !tpMgmtCd.equals('')">
                TVDMR.MGMT_CD = #{tpMgmtCd}
            </if>
            <if test="dirCd != null and !dirCd.equals('')">
                TVDMR.DIR_CD = #{dirCd}
            </if>
    </select>

    <select id="selectMaxDirCd" resultType="String">
        SELECT
            MAX(DIR_CD)
        FROM
            TB_VOC_DIR_CD_BAS
    </select>

    <insert id="insertDirCd">
        INSERT INTO TB_VOC_DIR_CD_BAS
            (DIR_CD, REGR_ID, AMDR_ID)
        VALUES(
                  #{dirCd},
                  #{loginUsr},
                  #{loginUsr}
              )
    </insert>

    <insert id="insertDirMgmtCombo">
        INSERT ALL
        INTO TB_VOC_DIR_MGMT_REL
            (DIR_CD, MGMT_CD, REGR_ID, REG_DT, AMDR_ID, AMD_DT)
        VALUES(
                  #{dirCd},
                  #{chMgmtCd},
                  #{loginUsr},
                  sysdate,
                  #{loginUsr},
                  sysdate
              )
        INTO TB_VOC_DIR_MGMT_REL
            (DIR_CD, MGMT_CD, REGR_ID, REG_DT, AMDR_ID, AMD_DT)
        VALUES(
                  #{dirCd},
                  #{tpMgmtCd},
                  #{loginUsr},
                  sysdate,
                  #{loginUsr},
                  sysdate
              )
        select * from dual
    </insert>

    <select id="selectMaxMgmtPrcdCd" resultType="String">
        SELECT
            MAX(MGMT_PRCD_CD)
        FROM
            TB_VOC_MGMT_PRCD_DTL
    </select>

    <select id="selectMaxMgmtTaskCd" resultType="String">
        SELECT
            MAX(MGMT_TASK_CD)
        FROM
            TB_VOC_MGMT_TASK_DTL
    </select>

    <select id="selectMaxMgmtActvCd" resultType="String">
        SELECT
            MAX(MGMT_ACTV_CD)
        FROM
            TB_VOC_MGMT_ACTV_DTL
    </select>

    <insert id="insertMgmtPrcd">
        INSERT INTO TB_VOC_MGMT_PRCD_DTL
        (MGMT_PRCD_CD, PRCD_CD, MGMT_PRCD_ORDR, DDLN_SEC, DUTY_ORG_ID, DUTY_EMP_ID, DUTY_ROLE_CD, REGR_ID, AMDR_ID)
        VALUES(
                  #{mgmtPrcdCd},
                  #{prcdCd},
                  #{mgmtPrcdOrdr},
                  #{ddlnSec},
                  #{dutyOrgId},
                  #{dutyEmpId},
                  #{dutyRoleCd},
                  #{loginUsr},
                  #{loginUsr}
              )
    </insert>

    <insert id="insertMgmtTask">
        INSERT INTO TB_VOC_MGMT_TASK_DTL
        (MGMT_TASK_CD, TASK_CD, MGMT_PRCD_CD, MGMT_TASK_ORDR, DDLN_SEC, DUTY_ORG_ID, DUTY_EMP_ID, DUTY_ROLE_CD, REGR_ID, AMDR_ID)
        VALUES(
               #{mgmtTaskCd},
               #{taskCd},
               #{mgmtPrcdCd},
               #{mgmtTaskOrdr},
               #{ddlnSec},
               #{dutyOrgId},
               #{dutyEmpId},
               #{dutyRoleCd},
               #{loginUsr},
               #{loginUsr}
        )
    </insert>

    <insert id="insertMgmtActv">
        INSERT INTO TB_VOC_MGMT_ACTV_DTL
        (MGMT_ACTV_CD, ACTV_CD, MGMT_TASK_CD, MGMT_ACTV_ORDR, DUTY_ORG_ID, DUTY_EMP_ID, DUTY_ROLE_CD, REGR_ID, AMDR_ID)
        VALUES(
            #{mgmtActvCd},
            #{actvCd},
            #{mgmtTaskCd},
            #{mgmtActvOrdr},
            #{dutyOrgId},
            #{dutyEmpId},
            #{dutyRoleCd},
            #{loginUsr},
            #{loginUsr}
        )
    </insert>

    <insert id="insertDirPrcd">
        INSERT INTO TB_VOC_DIR_PRCD_REL
            (DIR_CD, MGMT_PRCD_CD)
        VALUES(
                  #{dirCd},
                  #{mgmtPrcdCd}
              )
    </insert>

    <delete id="deleteMgmtActvList">
        DELETE FROM TB_VOC_MGMT_ACTV_DTL
        WHERE
            MGMT_ACTV_CD IN
            <foreach collection="actvList" item="item" open="(" separator="," close=")">
                #{item.mgmtActvCd}
            </foreach>
    </delete>
    
    <delete id="deleteChildMgmtActvList">
        DELETE FROM TB_VOC_MGMT_ACTV_DTL
        WHERE
            MGMT_TASK_CD IN
            <foreach collection="taskList" item="item" open="(" separator="," close=")">
                #{item.mgmtTaskCd}
            </foreach>
    </delete>

    <delete id="deleteMgmtTaskList">
        DELETE FROM TB_VOC_MGMT_TASK_DTL
        WHERE
            MGMT_TASK_CD IN
            <foreach collection="taskList" item="item" open="(" separator="," close=")">
                #{item.mgmtTaskCd}
            </foreach>
    </delete>

    <delete id="deleteMgmtPrcdList">
        DELETE FROM TB_VOC_MGMT_PRCD_DTL
        WHERE
            MGMT_PRCD_CD IN
            <foreach collection="prcdList" item="item" open="(" separator="," close=")">
                #{item.mgmtPrcdCd}
            </foreach>
    </delete>

    <delete id="deleteDirPrcd">
        DELETE FROM TB_VOC_DIR_PRCD_REL
        WHERE
            MGMT_PRCD_CD IN
            <foreach collection="prcdList" item="item" open="(" separator="," close=")">
                #{item.mgmtPrcdCd}
            </foreach>
    </delete>

    <update id="updateMgmtPrcd">
        UPDATE TB_VOC_MGMT_PRCD_DTL
        SET
            MGMT_PRCD_ORDR = #{mgmtPrcdOrdr},
            DDLN_SEC = #{ddlnSec},
            DUTY_ORG_ID = #{dutyOrgId},
            DUTY_EMP_ID = #{dutyEmpId},
            DUTY_ROLE_CD = #{dutyRoleCd},
            AMDR_ID = #{amdrId},
            AMD_DT = SYSDATE
        WHERE
            MGMT_PRCD_CD = #{mgmtPrcdCd}
    </update>

    <update id="updateMgmtTask">
        UPDATE TB_VOC_MGMT_TASK_DTL
        SET
            MGMT_TASK_ORDR = #{mgmtTaskOrdr},
            DDLN_SEC = #{ddlnSec},
            DUTY_ORG_ID = #{dutyOrgId},
            DUTY_EMP_ID = #{dutyEmpId},
            DUTY_ROLE_CD = #{dutyRoleCd},
            AMDR_ID = #{amdrId},
            AMD_DT = SYSDATE
        WHERE
            MGMT_TASK_CD = #{mgmtTaskCd}
    </update>

    <update id="updateMgmtActv">
        UPDATE TB_VOC_MGMT_ACTV_DTL
        SET
            MGMT_ACTV_ORDR = #{mgmtActvOrdr},
            DUTY_ORG_ID = #{dutyOrgId},
            DUTY_EMP_ID = #{dutyEmpId},
            DUTY_ROLE_CD = #{dutyRoleCd},
            AMDR_ID = #{amdrId},
            AMD_DT = SYSDATE
        WHERE
            MGMT_ACTV_CD = #{mgmtActvCd}
    </update>
</mapper>
