<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kspo.voc.kspo.setting.dao.VocMgmtCdMappDao">

    <select id="select" resultType="com.kspo.voc.kspo.setting.model.VocMgmgCdMappVo">
        select
            *
        from
            TB_VOC_MGMT_CD_REL tvmcr inner join TB_VOC_MGMT_CD_BAS tvmcb
            on tvmcr.MGMT_CD = tvmcb.MGMT_CD
        <where>
            <if test="mappCd != null and !mappCd.equals('')">
                MAPP_CD = #{mappCd}
            </if>
            <if test="mgmtCd != null and !mgmtCd.equals('')">
                and
                MGMT_CD = #{mgmtCd}
            </if>
        </where>
    </select>

    <select id="selectList" resultType="com.kspo.voc.kspo.setting.model.VocMgmgCdMappVo">
        select
            *
        from
            TB_VOC_MGMT_CD_REL tvmcr inner join TB_VOC_MGMT_CD_BAS tvmcb
            on tvmcr.MGMT_CD = tvmcb.MGMT_CD
        <where>
            <if test="prntsMappCd != null and !prntsMappCd.equals('')">
                and
                PRNTS_MAPP_CD = #{prntsMappCd}
            </if>
        </where>
    </select>

    <select id="selectMaxCd" resultType="String">
        select
            MAX(MAPP_CD)
        from
            TB_VOC_MGMT_CD_REL
    </select>

    <insert id="insert">
        insert into TB_VOC_MGMT_CD_REL
        (MAPP_CD, MGMT_CD, PRNTS_MAPP_CD, MAPP_LVL_NO, REGR_ID)
        values
            (
             #{mappCd},
             #{mgmtCd},
             #{prntsMappCd},
             #{mappLvlNo},
             #{loginUsr}
            )
    </insert>
    
    <delete id="delete">
        delete from TB_VOC_MGMT_CD_REL
        where
            MAPP_CD in
            <foreach collection="list" item="vo" open="(" separator="," close=")">
                #{vo.mappCd}
            </foreach>
    </delete>
</mapper>
