<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kspo.voc.program.setting.dao.VocMgmtPrcdDao">

    <select id="selectMaxDirCd" resultType="String">
        SELECT
            MAX(DIR_CD)
        FROM
            TB_VOC_DIR_CD_BAS
    </select>

    <insert id="insertDirCd">
        INSERT INTO TB_VOC_DIR_CD_BAS
        (DIR_CD, REGR_ID, AMDR_ID)
        VALUES(
               #{dirCd},
               #{loginUsr},
               #{loginUsr}
              )
    </insert>

    <insert id="insertDirOrg">
        INSERT INTO TB_VOC_DIR_ORG_REL
        (DIR_CD, ORG_ID, PRIM_PROC_ORG_YN, REGR_ID, AMDR_ID)
        VALUES(
               #{dirCd},
               #{orgId},
               #{primProcOrgYn},
               #{loginUsr},
               #{loginUsr}
              )
    </insert>

    <insert id="insertDirMgmt">
        INSERT INTO TB_VOC_DIR_MGMT_REL
        (DIR_CD, MGMT_CD, REGR_ID, REG_DT, AMDR_ID, AMD_DT)
        VALUES(
            #{dirCd},
            #{chMgmtCd},
            #{loginUsr},
            sysdate,
            #{loginUsr},
            sysdate
        )
    </insert>

    <update id="updateDirOrg">
        <foreach collection="rows" item="item" open="DECLARE BEGIN" separator=";" close=";END;">
            UPDATE TB_VOC_DIR_ORG_REL
            SET
                PRIM_PROC_ORG_YN = #{item.primProcOrgYn}
            WHERE
                ORG_ID = #{item.orgId}
                AND
                DIR_CD = #{dirCd}
        </foreach>
    </update>

    <delete id="deleteDirOrg">
        DELETE FROM TB_VOC_DIR_ORG_REL
        WHERE
            ORG_ID IN
            <foreach collection="rows" item="item" open="(" separator="," close=")">
                #{item.orgId}
            </foreach>
            AND
            DIR_CD = #{dirCd}
    </delete>

    <insert id="insertMgmtPrcd">
        INSERT INTO TB_VOC_MGMT_PRCD_DTL
        (MGMT_PRCD_CD, PRCD_CD, MGMT_PRCD_ORDR, DDLN_SEC, DUTY_ORG_ID, DUTY_EMP_ID, DUTY_ROLE_CD, REGR_ID, AMDR_ID)
        VALUES(
            #{mgmtPrcdCd},
            #{prcdCd},
            #{mgmtPrcdOrdr},
            #{ddlnSec},
            #{dutyOrgId},
            #{dutyEmpId},
            #{dutyRoleCd},
            #{loginUsr},
            #{loginUsr}
        )
    </insert>

    <insert id="insertDirPrcd">
        INSERT INTO TB_VOC_DIR_PRCD_REL
        (DIR_CD, MGMT_PRCD_CD)
        VALUES(
            #{dirCd},
            #{mgmtPrcdCd}
        )
    </insert>

    <select id="selectMaxMgmtPrcdCd" resultType="String">
        SELECT
            MAX(MGMT_PRCD_CD)
        FROM
            TB_VOC_MGMT_PRCD_DTL
    </select>

    <delete id="deleteMgmtPrcd">
        DELETE FROM TB_VOC_MGMT_PRCD_DTL
        WHERE
            MGMT_PRCD_CD IN
            <foreach collection="mgmtPrcdList" item="item" open="(" separator="," close=")">
                #{item.mgmtPrcdCd}
            </foreach>
    </delete>
</mapper>
