<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kspo.voc.kspo.setting.dao.VocManagementCodeDao">

    <select id="selectList" resultType="com.kspo.voc.kspo.setting.model.VocManagementCodeVo">
        select
            MANAGEMENT_CD,
            TOP_CD,
            PRNTS_CD,
            TOP_COMN_CD,
            COMN_CD,
            ODRG,
            LVL,
            CODE_NM,
            USE_YN,
            REGR_ID,
            REG_DT,
            AMDR_ID,
            AMD_DT,
            nvl((
                select
                    code_nm
                from
                    tb_voc_management_code
                where
                    management_cd = vmc.prnts_cd
            ), '-') prntsCdNm,
            (
                select
                    code_nm
                from
                    tb_voc_management_code
                where
                    management_cd = vmc.top_cd
            ) topCdNm
        from
            tb_voc_management_code vmc
        where
            <if test="prntsCd != null and !prntsCd.equals('')">
                prnts_cd = #{prntsCd}
            </if>
            <if test="prntsCd == null">
                prnts_cd is null
            </if>
        order by
            odrg, management_cd
    </select>

    <insert id="insert">
        insert into tb_voc_management_code
        (MANAGEMENT_CD, TOP_CD, PRNTS_CD, TOP_COMN_CD, COMN_CD, ODRG, LVL, CODE_NM, REGR_ID, AMDR_ID)
        values(
               #{managementCd},
               #{topCd},
               #{prntsCd},
               #{topComnCd},
               #{comnCd},
               #{odrg},
               #{lvl},
               #{codeNm},
               #{loginUsr},
               #{loginUsr}
              )
    </insert>

    <update id="update">
        <foreach collection="rows" item="item" open="DECLARE BEGIN" separator=";" close="; END;">
            update tb_voc_management_code
            set
                odrg = #{item.odrg},
                code_nm = #{item.codeNm},
                use_yn = #{item.useYn}
            where
                management_cd = #{item.managementCd}
        </foreach>
    </update>

    <delete id="delete">
        delete from tb_voc_management_code
        where
            management_cd in
            <foreach collection="list" separator="," item="item" open="(" close=")">
                #{item.managementCd}
            </foreach>
    </delete>

    <select id="maxChildCd" resultType="string">
        select
            max(management_cd)
        from
            tb_voc_management_code
        where
            <if test="prntsCd != null">
            prnts_cd = #{prntsCd}
            </if>
            <if test="prntsCd == null">
            prnts_cd is null
            </if>
    </select>

</mapper>
