<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kspo.voc.kspo.setting.dao.VocPrcdCdBasDao">

    <select id="selectMaxCd" resultType="string">
        select
            MAX(PRCD_CD)
        from
            TB_VOC_PRCD_BAS
    </select>

    <select id="selectList" resultType="com.kspo.voc.kspo.setting.model.VocPrcdBasVo">
        select
            PRCD_CD,
            PRCD_NM,
            TOP_COMN_CD,
            COMN_CD,
            DDLN_SEC,
            nvl(DUTY_ORG_ID, '-') dutyOrgId,
            nvl(DUTY_EMP_ID, '-') dutyEmpId,
            nvl(DUTY_ROLE_CD, '-') dutyRoleCd,
            DUTY_CHNG_YN,
            VOC_APPLY_YN,
            VOC_DTL_APPLY_YN,
            VOC_ESTL_APPLY_YN,
            VOC_DTL_ESTL_APPLY_YN,
            TASK_USE_YN,
            REGR_ID,
            REG_DT,
            AMDR_ID,
            AMD_DT,
            nvl(DUTY_ORG_NM, '-') dutyOrgNm,
            nvl(DUTY_EMP_NM, '-') dutyEmpNm
        from
            TB_VOC_PRCD_BAS
        order by
            1
    </select>

    <insert id="insert">
        insert into TB_VOC_PRCD_BAS
        (PRCD_CD, PRCD_NM, TOP_COMN_CD, COMN_CD, DDLN_SEC, DUTY_ORG_ID, DUTY_ORG_NM, DUTY_EMP_ID ,DUTY_EMP_NM, DUTY_ROLE_CD, DUTY_CHNG_YN, VOC_APPLY_YN,
         VOC_DTL_APPLY_YN, VOC_ESTL_APPLY_YN, VOC_DTL_ESTL_APPLY_YN, TASK_USE_YN, REGR_ID, REG_DT, AMDR_ID, AMD_DT)
        values (
                #{prcdCd},
                #{prcdNm},
                #{topComnCd},
                #{comnCd},
                #{ddlnSec},
                #{dutyOrgId},
                #{dutyOrgNm},
                #{dutyEmpId},
                #{dutyEmpNm},
                #{dutyRoleCd},
                #{dutyChngYn},
                #{vocApplyYn},
                #{vocDtlApplyYn},
                #{vocEstlApplyYn},
                #{vocDtlEstlApplyYn},
                #{taskUseYn},
                #{loginUsr},
                sysdate,
                #{loginUsr},
                sysdate
        )
    </insert>

    <update id="update">
        <foreach collection="rows" item="item" open="DECLARE BEGIN" close=";END;" separator=";">
            update TB_VOC_PRCD_BAS
            set
                PRCD_NM = #{item.prcdNm},
                DDLN_SEC = #{item.ddlnSec},
                DUTY_CHNG_YN = #{item.dutyChngYn},
                VOC_APPLY_YN = #{item.vocApplyYn},
                VOC_DTL_APPLY_YN = #{item.vocDtlApplyYn},
                VOC_ESTL_APPLY_YN = #{item.vocEstlApplyYn},
                VOC_DTL_ESTL_APPLY_YN = #{item.vocDtlEstlApplyYn},
                TASK_USE_YN = #{item.taskUseYn},
                AMDR_ID = #{loginUsr},
                AMD_DT = sysdate
            where
                PRCD_CD = #{item.prcdCd}
        </foreach>
    </update>

    <delete id="delete">
        delete from TB_VOC_PRCD_BAS
        where
            PRCD_CD in
            <foreach collection="rows" item="item" open="(" close=")" separator=",">
                #{item.prcdCd}
            </foreach>
    </delete>

    <update id="chngPrcdDuty">
        update TB_VOC_PRCD_BAS
        set
            ${targetInfo.col} = #{chngMap.id},
            ${targetInfo.col}_NM = #{chngMap.nm},
            AMDR_ID = #{loginUsr},
            AMD_DT = SYSDATE
        where
            PRCD_CD = #{targetInfo.prcdCd}
    </update>

    <update id="updateDeadline">
        update TB_VOC_PRCD_BAS
        set
            DDLN_SEC = #{ddlnSec},
            AMDR_ID = #{loginUsr},
            AMD_DT = SYSDATE
        where
            PRCD_CD = #{prcdCd}
    </update>

    <update id="deleteAutoApplyPrcd" parameterType="java.util.List">
        update TB_VOC_TASK_BAS
        set
            AUTO_APPLY_PRCD_CD = null,
            AUTO_APPLY_PRCD_NM = null
        where
            TASK_CD in
            <foreach collection="list" item="task" open="(" separator="," close=")">
                #{task.taskIdss}
            </foreach>
    </update>
</mapper>
