<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kspo.voc.kspo.setting.dao.VocProcedureCodeSettingDao">

    <select id="selectMaxCd" resultType="string">
        select
            max(prcd_id)
        from
            tb_voc_prcd_bas
    </select>

    <select id="selectList" resultType="com.kspo.voc.kspo.setting.model.VocPrcdBasVo">
        select
            PRCD_ID,
            PRCD_NM,
            TOP_COMN_CD,
            COMN_CD,
            DEADLINE,
            nvl(DUTY_ORG, '-') dutyOrg,
            nvl(DUTY_EMP, '-') dutyEmp,
            nvl(DUTY_ROLE, '-') dutyRole,
            DUTY_CHNG_YN,
            VOC_USE_YN,
            VOC_DTL_USE_YN,
            VOC_COMPULSORY_YN,
            VOC_DTL_COMPULSORY_YN,
            TASK_YN,
            REGR_ID,
            REG_DT,
            AMDR_ID,
            AMD_DT,
            nvl(DUTY_ORG_NM, '-') dutyOrgNm,
            nvl(DUTY_EMP_NM, '-') dutyEmpNm
        from
            TB_VOC_PRCD_BAS
        order by
            1
    </select>

    <insert id="insert">
        insert into TB_VOC_PRCD_BAS
        (PRCD_ID, PRCD_NM, TOP_COMN_CD, COMN_CD, DEADLINE, DUTY_ORG, DUTY_ORG_NM, DUTY_EMP,DUTY_EMP_NM, DUTY_ROLE, DUTY_CHNG_YN, VOC_USE_YN,
         VOC_DTL_USE_YN, VOC_COMPULSORY_YN, VOC_DTL_COMPULSORY_YN, TASK_YN, REGR_ID, REG_DT, AMDR_ID, AMD_DT)
        values (
                #{prcdId},
                #{prcdNm},
                #{topComnCd},
                #{comnCd},
                #{deadline},
                #{dutyOrg},
                #{dutyOrgNm},
                #{dutyEmp},
                #{dutyEmpNm},
                #{dutyRole},
                #{dutyChngYn},
                #{vocUseYn},
                #{vocDtlUseYn},
                #{vocCompulsoryYn},
                #{vocDtlCompulsoryYn},
                #{taskYn},
                #{loginUsr},
                sysdate,
                #{loginUsr},
                sysdate
        )
    </insert>

    <update id="update">
        <foreach collection="rows" item="item" open="DECLARE BEGIN" close=";END;" separator=";">
            update TB_VOC_PRCD_BAS
            set
                prcd_nm = #{item.prcdNm},
                deadline = #{item.deadline},
                duty_chng_yn = #{item.dutyChngYn},
                voc_use_yn = #{item.vocUseYn},
                voc_dtl_use_yn = #{item.vocDtlUseYn},
                voc_compulsory_yn = #{item.vocCompulsoryYn},
                voc_dtl_compulsory_yn = #{item.vocDtlCompulsoryYn},
                task_yn = #{item.taskYn},
                amdr_id = #{loginUsr},
                amd_dt = sysdate
            where
                prcd_id = #{item.prcdId}
        </foreach>
    </update>

    <delete id="delete">
        delete from TB_VOC_PRCD_BAS
        where
            prcd_id in
            <foreach collection="rows" item="item" open="(" close=")" separator=",">
                #{item.prcdSeq}
            </foreach>
    </delete>

    <update id="chngProcedureDuty">
        update TB_VOC_PRCD_BAS
        set
            ${targetInfo.col} = #{chngMap.id},
            ${targetInfo.col}_nm = #{chngMap.nm},
            amdr_id = #{loginUsr},
            amd_dt = sysdate
        where
            prcd_id = #{targetInfo.prcdSeq}
    </update>

    <update id="updateDeadline">
        update TB_VOC_PRCD_BAS
        set
            deadline = #{deadline},
            amdr_id = #{loginUsr},
            amd_dt = sysdate
        where
            prcd_id = #{prcdId}
    </update>

    <update id="deleteAutoApplyPrcd" parameterType="java.util.List">
        update tb_voc_task_bas
        set
            AUTO_APPLY_PRCD_SEQ = null,
            AUTO_APPLY_PRCD_NM = null
        where
            task_id in
            <foreach collection="list" item="task" open="(" separator="," close=")">
                #{task.taskIdss}
            </foreach>
    </update>
</mapper>
