<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kspo.voc.kspo.setting.dao.VocTaskCodeSettingDao">

    <sql id="prcdCols">
        prcd_id,
        prcd_nm,
        deadline,
        nvl(duty_org_nm, '-') dutyOrgNm,
        nvl(duty_emp_nm, '-') dutyEmpNm,
        nvl(duty_role, '-') dutyRole
    </sql>

    <select id="selectList" resultType="com.kspo.voc.kspo.setting.model.VocTaskBasVo">
        select
            task_id,
            task_nm,
            deadline,
            nvl(duty_org, '-') dutyOrg,
            nvl(duty_emp, '-') dutyEmp,
            nvl(duty_role, '-') dutyRole,
            use_yn,
            duty_chng_yn,
            auto_apply_yn,
            auto_apply_all_yn,
            auto_apply_prcd_id,
            auto_apply_prcd_nm,
            regr_id,
            reg_dt,
            amdr_id,
            amd_dt,
            nvl(duty_org_nm, '-') dutyOrgNm,
            nvl(duty_emp_nm, '-') dutyEmpNm
        from
            tb_voc_task_bas
        order by
            1
    </select>

    <insert id="insert">
        insert into tb_voc_task_bas
        (task_id, task_nm, deadline, duty_org, duty_org_nm, duty_emp, duty_emp_nm, duty_role, duty_chng_yn, auto_apply_yn, auto_apply_all_yn, auto_apply_prcd_id, auto_apply_prcd_nm, regr_id, reg_dt, amdr_id, amd_dt)
        values(
                  #{taskId},
                  #{taskNm},
                  #{deadline},
                  #{dutyOrg},
                  #{dutyOrgNm},
                  #{dutyEmp},
                  #{dutyEmpNm},
                  #{dutyRole},
                  #{dutyChngYn},
                  #{autoApplyYn},
                  #{autoApplyAllYn},
                  #{autoApplyPrcdId},
                  #{autoApplyPrcdNm},
                  #{loginUsr},
                  sysdate,
                  #{loginUsr},
                  sysdate
              )
    </insert>

    <update id="update">
        <foreach collection="rows" item="item" open="DECLARE BEGIN" close=";END;" separator=";">
            update tb_voc_task_bas
            set
                task_nm = #{item.taskNm},
                deadline = #{item.deadline},
                use_yn = #{item.useYn},
                duty_chng_yn = #{item.dutyChngYn},
                auto_apply_yn = #{item.autoApplyYn},
                auto_apply_all_yn = #{item.autoApplyAllYn},
                <if test='item.autoApplyYn.equals("N") or item.autoApplyAllYn.equals("Y")'>
                    auto_apply_prcd_id = null,
                    auto_apply_prcd_nm = null,
                </if>
                amdr_id = #{loginUsr},
                amd_dt = sysdate
            where
                task_id = #{item.taskId}
        </foreach>
    </update>

    <delete id="delete">
        delete from tb_voc_task_bas
        where
        task_id in
        <foreach collection="rows" item="item" open="(" close=")" separator=",">
            #{item.taskId}
        </foreach>
    </delete>

    <select id="selectMaxCd" resultType="string">
        select
            max(task_id)
        from
            tb_voc_task_bas
    </select>

    <update id="chngTaskDuty">
        update tb_voc_task_bas
        set
            ${targetInfo.col} = #{chngMap.id},
            ${targetInfo.col}_nm = #{chngMap.nm},
            amdr_id = #{loginUsr},
            amd_dt = sysdate
        where
            task_id = #{targetInfo.taskId}
    </update>

    <select id="selectAppliedPrcd" resultType="com.kspo.voc.kspo.setting.model.VocPrcdBasVo">
        select
            <include refid="prcdCols"/>
        from
            tb_voc_prcd_bas
        where
            prcd_id = #{prcdId}
    </select>

    <select id="selectAvailablePrcdList" resultType="com.kspo.voc.kspo.setting.model.VocPrcdBasVo">
        select
            <include refid="prcdCols"/>
        from
            tb_voc_prcd_bas
        where
            task_yn = 'Y'
            <if test="prcdId != null and prcdId != ''">
                and
                prcd_id != #{prcdId}
            </if>
    </select>

    <update id="updateAutoApplyPrcd">
        update
            tb_voc_task_bas
        set
            auto_apply_all_yn = 'N',
            auto_apply_prcd_nm = #{prcdNm},
            auto_apply_prcd_id = #{prcdId}
        where
            task_id = #{taskId}
    </update>
</mapper>
