<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.egov.voc.kspo.corp.dao.VocCorporationDao">


    <select id="selectOrgList" resultType="com.egov.voc.sys.model.CrmOrgBaseVo">
        select
            *
        from
            crm_org_bas
        where
            org_nm like '%' || #{keyword} || '%'
    </select>

    <select id="selectEmpList" resultType="com.egov.voc.sys.model.CrmEmpBaseVo">
        select
            ceb.*,
            (select org_nm from crm_org_bas where org_id = ceb.org_id) orgNm
        from
            crm_emp_bas ceb
        where
            <if test="orgId != null">
                org_id = #{orgId}
            </if>
    </select>

    <select id="selectComnCdList" resultType="com.egov.voc.sys.model.CrmComnCdBaseVo">
        select
            *
        from
            crm_comn_cd_bas
        where
            top_comn_cd = #{topComnCd}
            and
            comn_cd != #{topComnCd}
            <if test="existCd != null and !existCd.isEmpty()">
                and
                comn_cd not in
                <foreach collection="existCd" item="item" separator="," open="(" close=")">
                    #{item.comnCd}
                </foreach>
            </if>
    </select>


</mapper>
