<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kspo.voc.kspo.process.dao.VocRegistrationDao">

    <insert id="insert">
        insert into TB_VOC
        (VOC_SEQ, CHANNEL, TITLE, CONTENT, REG_COMMENT, CUST_ID, AMDR_ID)
        values(
               #{vocSeq},
               #{channel},
               #{title},
               #{content},
               #{regComment},
               #{custId},
               #{loginUsr}
              )
    </insert>

    <update id="update">
        update TB_VOC
        set
            channel = #{channel},
            title = #{title},
            content = #{content},
            reg_comment = #{regComment},
            amdr_id = #{amdrId}
        where
            voc_seq = #{vocSeq}
    </update>

    <select id="selectMaxSeq" resultType="string">
        select
            max(voc_seq)
        from
            tb_voc
    </select>

    <select id="selectMaxRegPrcdSeq" resultType="string">
        select
            max(voc_prcd_seq)
        from
            tb_voc_prcd
    </select>

    <insert id="insertRegProcedure">
        insert into tb_voc_prcd
        (voc_prcd_seq, voc_seq, mc_prcd_seq, deadline_dt, amdr_id)
        values
            (
             #{vocPrcdSeq},
             #{vocSeq},
             #{mcPrcdSeq},
             #{deadlineDt},
             #{amdrId}
            )
    </insert>

    <select id="select" resultType="com.kspo.voc.kspo.process.model.VocVo">
        select
            *
        from
            TB_VOC
        where
            voc_seq = #{vocSeq}
    </select>
</mapper>
