<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kspo.voc.kspo.process.dao.VocReceiptListDao">

    <select id="selectList" resultType="com.kspo.voc.kspo.process.model.VocRegistrationVo">
        <include refid="com.kspo.voc.sys.dao.CrmCommonDao.pagingHeader"/>
        select
            <include refid="com.kspo.voc.kspo.common.dao.VocComnDao.registrationListCols"/>
        from
            VOC_REGISTRATION vr
        where
            <include refid="com.kspo.voc.kspo.common.dao.VocComnDao.registrationListStatusCondition"/>
        order by
            reg_seq desc
        <include refid="com.kspo.voc.sys.dao.CrmCommonDao.pagingFooter"/>

    </select>

    <select id="selectListCount" resultType="int">
        select
            count(*)
        from
            VOC_REGISTRATION vr
        where
            <include refid="com.kspo.voc.kspo.common.dao.VocComnDao.registrationListStatusCondition"/>
    </select>
</mapper>
