<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kspo.voc.kspo.process.dao.VocReceiptDao">

    <select id="selectRegistration" resultType="com.kspo.voc.kspo.process.model.VocRegistrationVo">
        select
            *
        from
            VOC_REGISTRATION
        where
            reg_seq = #{regSeq}
    </select>
</mapper>
