<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.egov.voc.sys.dao.CrmGrpMenuHstDao">
    <sql id="sqlPkConditions">
                WHERE GRP_MENU_HST_CD   =       #{grpMenuHstCd}
    </sql>
    <sql id="sqlCols">
                      GRP_MENU_HST_CD                    /*그룹메뉴이력코드        */
                    , GRP_CD                    /*그룹코드        */
                    , MENU_CD                    /*메뉴코드        */
                    , DEL_YN                    /*삭제여부        */
                    , REGR_ID                    /*등록자ID        */
                    , REG_DT                    /*등록일시        */
                    , AMDR_ID                    /*수정자ID        */
                    , AMD_DT                    /*수정일시        */
    </sql>
    <sql id="sqlConditions">
                WHERE 1 = 1
        <if test="grpMenuHstCd != null and grpMenuHstCd != ''">
            <choose>
                <when test="grpMenuHstCd instanceof String">
                              AND A.RP_MENU_HST_CD   =       #{grpMenuHstCd}
                </when>
                <otherwise>
                    AND A.GRP_MENU_HST_CD   IN
                    <foreach item="item" index="index" collection="grpMenuHstCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="grpCd != null and grpCd != ''">
            <choose>
                <when test="grpCd instanceof String">
                              AND A.GRP_CD            =       #{grpCd}
                </when>
                <otherwise>
                    AND A.GRP_CD            IN
                    <foreach item="item" index="index" collection="grpCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="menuCd != null and menuCd != ''">
            <choose>
                <when test="menuCd instanceof String">
                              AND A.MENU_CD           =       #{menuCd}
                </when>
                <otherwise>
                    AND A.MENU_CD           IN
                    <foreach item="item" index="index" collection="menuCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="delYn != null and delYn != ''">
                      AND A.DEL_YN            =       #{delYn}
        </if>
        <if test="strtDt != null and strtDt != ''">
                      AND A.REG_DT      >=       TO_DATE(#{strtDt},'YYYYMMDD')
        </if>
        <if test="endDt != null and endDt != ''">
                      AND TO_DATE(#{endDt},'YYYYMMDD') + 1 > A.REG_DT
        </if>
        <if test="empId != null and empId != ''">
                      AND A.AMDR_ID LIKE  #{empId} || '%'
        </if>
        <if test="menuNmLike != null and menuNmLike != ''">
                      AND C.MENU_NM LIKE '%' || #{menuNmLike} || '%'
        </if>
    </sql>
    <select id="selectListCount" resultType="int">
                SELECT COUNT(1)
                 FROM CRM_GRP_MENU_HST A
                INNER JOIN CRM_GRP_BAS B ON A.GRP_CD = B.GRP_CD
                INNER JOIN CRM_MENU_BAS C ON A.MENU_CD = C.MENU_CD
        <include refid="sqlConditions"/>
    </select>
    <select id="selectList" resultType="com.egov.voc.sys.model.CrmGrpMenuHstVo">
        <include refid="com.egov.voc.sys.dao.CrmCommonDao.pagingHeader"/>
               SELECT A.GRP_MENU_HST_CD                    /*그룹메뉴이력코드        */
                    , A.GRP_CD                    /*그룹코드        */
                    , A.MENU_CD                    /*메뉴코드        */
                    , A.DEL_YN                    /*삭제여부        */
                    , A.REGR_ID                    /*등록자ID        */
                    , A.REG_DT                    /*등록일시        */
                    , A.AMDR_ID                    /*수정자ID        */
                    , A.AMD_DT                    /*수정일시        */
                    , B.GRP_NM
                    , C.MENU_NM
                    , ( SELECT LISTAGG(MENU_NM, '>') WITHIN GROUP(ORDER BY MENU_LVL_NO)
                          FROM CRM_MENU_BAS
                         WHERE 1=1
                         START WITH MENU_CD = A.MENU_CD 
                       CONNECT BY PRIOR PRNTS_MENU_CD = MENU_CD ) MENU_PATH
                 FROM CRM_GRP_MENU_HST A
                INNER JOIN CRM_GRP_BAS B ON A.GRP_CD = B.GRP_CD
                INNER JOIN CRM_MENU_BAS C ON A.MENU_CD = C.MENU_CD
        <include refid="sqlConditions"/>
               ORDER BY A.REG_DT DESC
        <include refid="com.egov.voc.sys.dao.CrmCommonDao.pagingFooter"/>
    </select>
    <select id="select" resultType="com.egov.voc.sys.model.CrmGrpMenuHstVo">
               SELECT <include refid="sqlCols"/>
                 FROM CRM_GRP_MENU_HST
        <include refid="sqlPkConditions"/>
    </select>
    <insert id="insert">
                INSERT INTO CRM_GRP_MENU_HST (
        <include refid="sqlCols"/>
                 ) VALUES (
                       FN_CRM_AUTO_SEQ('GMH')
                     , #{grpCd}
                     , #{menuCd}
                     , 'N'
                     , #{regrId}
                     , SYSDATE
                     , #{amdrId}
                     , SYSDATE
                 )
    </insert>
    <insert id="insertDelete">
                INSERT INTO CRM_GRP_MENU_HST (
        <include refid="sqlCols"/>
                 ) VALUES (
                       FN_CRM_AUTO_SEQ('GMH')
                     , #{grpCd}
                     , #{menuCd}
                     , 'Y'
                     , #{regrId}
                     , SYSDATE
                     , #{amdrId}
                     , SYSDATE
                 )
    </insert>
    <update id="update">
               UPDATE CRM_GRP_MENU_HST
                  SET GRP_CD              =         #{grpCd}
                    , MENU_CD             =         #{menuCd}
                    , DEL_YN              =         #{delYn}
                    , AMDR_ID             =         #{amdrId}
                    , AMD_DT              =         SYSDATE
        <include refid="sqlPkConditions"/>
    </update>
    <delete id="delete">
               DELETE FROM CRM_GRP_MENU_HST
        <include refid="sqlPkConditions"/>
    </delete>
</mapper>
