<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.egov.voc.kspo.process.dao.VocRegistrationDao">


    <select id="selectChannel" resultType="com.egov.voc.kspo.setting.model.VocManagementCodeVo">
        select
            *
        from
            VOC_MANAGEMENT_CODE
        <where>
            comn_cd = #{comnCd}
            <if test="prntsCd != null and !prntsCd.equals('')">
                and
                prnts_cd = #{prntsCd}
            </if>
            <if test="prntsCd == null">
                and
                prnts_cd = (
                        select
                            management_cd
                        from
                            voc_management_code
                        where
                            comn_cd = #{comnCd}
                            and
                            management_cd = top_cd
                )
            </if>
        </where>
    </select>

    <insert id="insert">
        insert into VOC_REGISTRATION
        (REG_SEQ, CHANNEL, TITLE, CONTENT, REG_COMMENT, CUST_ID, REG_USR)
        values(
               #{regSeq},
               #{channel},
               #{title},
               #{content},
               #{regComment},
               #{custId},
               #{loginUsr}
              )
    </insert>

    <select id="selectMaxSeq" resultType="string">
        select
            max(REG_SEQ)
        from
            VOC_REGISTRATION
    </select>

    <select id="selectMaxRegPrcdSeq" resultType="string">
        select
            max(reg_prcd_seq)
        from
            voc_reg_prcd
    </select>

    <insert id="insertRegProcedure">
        insert into voc_reg_prcd
        (REG_PRCD_SEQ, REG_SEQ, MC_PRCD_SEQ, DEADLINE_DT, MOD_USR)
        values
            (
             #{regPrcdSeq},
             #{regSeq},
             #{mcPrcdSeq},
             #{deadlineDt},
             #{modUsr}
            )
    </insert>


</mapper>
