@charset "utf-8";

/* common */
#main {
    background: #ebeef0;
}
#sub {
    background: #f7f9fa;
}
.layout #main, .layout #sub {
    background: #ffffff;
}
#sub .lnb {
    border-right: 1px solid #c2c7cc;
}
#sub > .contentsWrap {
	border-left: 1px solid #c2c7cc;
	background: #ebeef0;
}
/*h*/
.headingBox h3 {
	background: url('../images/ico_tit_pot_off.png') 0 3px no-repeat;
}
.headingBox h3.active {
	background: url('../images/ico_tit_pot_on.png') 0 3px no-repeat;
}
h5 {
	border: solid #a6a6a6;
	border-width: 1px 1px 0 1px;
}

/*text*/
.error {
	color: #f2022f;
}
.warning {
	color: #ed5f00;
}
.success,
em.title {
	color: #00b1a0;
}
.btnSearch {
	border: 1px solid #ed5f00;
	color: #fff;
	background: #f27800;
}
.btnSearch:hover {
	border: 1px solid #d74600;
	background: #dd5e00;
}
.btnRegister,
.btnInner {
	border: 1px solid #565e66;
	color: #ffffff;
	background-color: #626a73;
}
.btnRegister:hover,
.btnInner:hover {
	border: 1px solid #3d434d;
	background-color: #474e59;
}
.btnMini,
.btnBasic, button.ash, .btnView, .popup > .contentsWrap .btnClose {
	border: 1px solid #757f8a;
	color: #474e59;
	background-color: #fafafa;
}
.btnMini:hover,
.btnBasic:hover, button.ash:hover, .btnView:hover, .popup > .contentsWrap .btnClose:hover  {
	border: 1px solid #474e59;
	background-color: #f0f3f5;
}

._em {
	border: 1px solid #f27800 !important;
	color: #ed5f00 !important;
	background-color: #fffbf7 !important;
}
._em:hover {
	border: 1px solid #d74600 !important;
	background-color: #fff1e8 !important;
}

.btnInner._disabled,
.btnInner._disabled:hover,
.btnBasic._disabled,
.btnBasic._disabled:hover {
	cursor: default;
	border: 1px solid #C2C7CC;
	color: #949EA8;
	background-color: #E1E4E8;
}


.comment ul li .btnArea button,
 {

}
.comment ul li .btnArea button:hover,
.btnMini:hover {

}

/*button.ash, .btnRegister, .btnView {
	border: 1px solid #757f8a;
	color: #474e59;
	background-color: #fafafa;
}
button.ash:hover, .btnRegister:hover, .btnView:hover,
button.ash:focus, .btnRegister:focus, .btnView:focus {

}
button.gray, .popup > .contentsWrap .btnClose {
	border: 1px solid #636363;
	color: #fff;
	background-color: #7d7d7d;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#919191', endColorstr='#7d7d7d', GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#919191), to(#7d7d7d));
    background-image: -webkit-linear-gradient(top, #919191, #f9f9f9);
    background-image: -o-linear-gradient(top, #919191, #7d7d7d);
    background-image: -moz-linear-gradient(top, #919191, #7d7d7d);
	background-image: linear-gradient(to bottom, #919191, #7d7d7d);
}
button.gray:hover, .popup > .contentsWrap .btnClose:hover,
button.gray:focus, .popup > .contentsWrap .btnClose:focus {
	border: 1px solid #4e4e4e;
	background-color: #656565;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#858585', endColorstr='#656565', GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#858585), to(#656565));
    background-image: -webkit-linear-gradient(top, #858585, #656565);
    background-image: -o-linear-gradient(top, #858585, #656565);
    background-image: -moz-linear-gradient(top, #858585, #656565);
	background-image: linear-gradient(to bottom, #858585, #656565);
}
button.navy {
	border: 1px solid #222a34;
	color: #fff;
	background-color: #2d3744;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4c5865', endColorstr='#2d3744', GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4c5865), to(#2d3744));
    background-image: -webkit-linear-gradient(top, #4c5865, #2d3744);
    background-image: -o-linear-gradient(top, #4c5865, #2d3744);
    background-image: -moz-linear-gradient(top, #4c5865, #2d3744);
	background-image: linear-gradient(to bottom, #4c5865, #2d3744);
}
button.navy:hover
button.navy:focus{
	border: 1px solid #161d25;
	background-color: #1d2530;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333f4c', endColorstr='#1d2530', GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333f4c), to(#1d2530));
    background-image: -webkit-linear-gradient(top, #333f4c, #1d2530);
    background-image: -o-linear-gradient(top, #333f4c, #1d2530);
    background-image: -moz-linear-gradient(top, #333f4c, #1d2530);
	background-image: linear-gradient(to bottom, #333f4c, #1d2530);
}
button.blue {
	border: 1px solid #475d83;
	color: #fff;
	background-color: #5c79aa;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7e98c1', endColorstr='#5c79aa', GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7e98c1), to(#5c79aa));
    background-image: -webkit-linear-gradient(top, #7e98c1, #5c79aa);
    background-image: -o-linear-gradient(top, #7e98c1, #5c79aa);
    background-image: -moz-linear-gradient(top, #7e98c1, #5c79aa);
	background-image: linear-gradient(to bottom, #7e98c1, #5c79aa);
}
button.blue:hover,
button.blue:focus {
	border: 1px solid #324a7b;
	background-color: #466297;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6582b1', endColorstr='#466297', GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6582b1), to(#466297));
    background-image: -webkit-linear-gradient(top, #6582b1, #466297);
    background-image: -o-linear-gradient(top, #6582b1, #466297);
    background-image: -moz-linear-gradient(top, #6582b1, #466297);
	background-image: linear-gradient(to bottom, #6582b1, #466297);
}
button.sky {
	border: 1px solid #4182b6;
	color: #fff;
	background-color: #54a9eb;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#76c0f2', endColorstr='#54a9eb', GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#76c0f2), to(#54a9eb));
    background-image: -webkit-linear-gradient(top, #76c0f2, #54a9eb);
    background-image: -o-linear-gradient(top, #76c0f2, #54a9eb);
    background-image: -moz-linear-gradient(top, #76c0f2, #54a9eb);
	background-image: linear-gradient(to bottom, #76c0f2, #54a9eb);
}
button.sky:hover,
button.sky:focus {
	border: 1px solid #3074b2;
	background-color: #3e96e6;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5db0ed', endColorstr='#3e96e6', GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5db0ed), to(#3e96e6));
    background-image: -webkit-linear-gradient(top, #5db0ed, #3e96e6);
    background-image: -o-linear-gradient(top, #5db0ed, #3e96e6);
    background-image: -moz-linear-gradient(top, #5db0ed, #3e96e6);
	background-image: linear-gradient(to bottom, #5db0ed, #3e96e6);
}
button.green {
	border: 1px solid #108078;
	color: #fff;
	background-color: #16a69d;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2cbeb7', endColorstr='#16a69d', GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2cbeb7), to(#16a69d));
    background-image: -webkit-linear-gradient(top, #2cbeb7, #16a69d);
    background-image: -o-linear-gradient(top, #2cbeb7, #16a69d);
    background-image: -moz-linear-gradient(top, #2cbeb7, #16a69d);
	background-image: linear-gradient(to bottom, #2cbeb7, #16a69d);
}
button.green:hover,
button.green:focus {
	border: 1px solid #097269;
	background-color: #0d9389;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#19aea5', endColorstr='#0d9389', GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#19aea5), to(#0d9389));
    background-image: -webkit-linear-gradient(top, #19aea5, #0d9389);
    background-image: -o-linear-gradient(top, #19aea5, #0d9389);
    background-image: -moz-linear-gradient(top, #19aea5, #0d9389);
	background-image: linear-gradient(to bottom, #19aea5, #0d9389);
}
button.olive {
	border: 1px solid #5f8a34;
	color: #fff;
	background-color: #7cb443;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9bc964', endColorstr='#7cb443', GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#9bc964), to(#7cb443));
    background-image: -webkit-linear-gradient(top, #9bc964, #7cb443);
    background-image: -o-linear-gradient(top, #9bc964, #7cb443);
    background-image: -moz-linear-gradient(top, #9bc964, #7cb443);
	background-image: linear-gradient(to bottom, #9bc964, #7cb443);
}
button.olive:hover,
button.olive:focus {
	border: 1px solid #4e7e25;
	background-color: #65a32f;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#85bb4b', endColorstr='#65a32f', GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#85bb4b), to(#65a32f));
    background-image: -webkit-linear-gradient(top, #85bb4b, #65a32f);
    background-image: -o-linear-gradient(top, #85bb4b, #65a32f);
    background-image: -moz-linear-gradient(top, #85bb4b, #65a32f);
	background-image: linear-gradient(to bottom, #85bb4b, #65a32f);
}
button.yellow {
	border: 1px solid #c0721a;
	color: #fff;
	background-color: #f99521;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbb03d', endColorstr='#f99521', GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb03d), to(#f99521));
    background-image: -webkit-linear-gradient(top, #fbb03d, #f99521);
    background-image: -o-linear-gradient(top, #fbb03d, #f99521);
    background-image: -moz-linear-gradient(top, #fbb03d, #f99521);
	background-image: linear-gradient(to bottom, #fbb03d, #f99521);
}
button.yellow:hover,
button.yellow:focus {
	border: 1px solid #bf620f;
	background-color: #f78014;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f99e26', endColorstr='#f78014', GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f99e26), to(#f78014));
    background-image: -webkit-linear-gradient(top, #f99e26, #f78014);
    background-image: -o-linear-gradient(top, #f99e26, #f78014);
    background-image: -moz-linear-gradient(top, #f99e26, #f78014);
	background-image: linear-gradient(to bottom, #f99e26, #f78014);
}
button.scarlet {
	border: 1px solid #9e2e2a;
	color: #fff;
	background-color: #cb3c37;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#da5c58', endColorstr='#cb3c37', GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#da5c58), to(#cb3c37));
    background-image: -webkit-linear-gradient(top, #da5c58, #cb3c37);
    background-image: -o-linear-gradient(top, #da5c58, #cb3c37);
    background-image: -moz-linear-gradient(top, #da5c58, #cb3c37);
	background-image: linear-gradient(to bottom, #da5c58, #cb3c37);
}
button.scarlet:hover,
button.scarlet:focus {
	border: 1px solid #93201d;
	background-color: #be2925;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0433f', endColorstr='#be2925', GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d0433f), to(#be2925));
    background-image: -webkit-linear-gradient(top, #d0433f, #be2925);
    background-image: -o-linear-gradient(top, #d0433f, #be2925);
    background-image: -moz-linear-gradient(top, #d0433f, #be2925);
	background-image: linear-gradient(to bottom, #d0433f, #be2925);
}
button.purple {
	border: 1px solid #694980;
	color: #fff;
	background-color: #8860a6;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a681be', endColorstr='#8860a6', GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a681be), to(#8860a6));
    background-image: -webkit-linear-gradient(top, #a681be, #8860a6);
    background-image: -o-linear-gradient(top, #a681be, #8860a6);
    background-image: -moz-linear-gradient(top, #a681be, #8860a6);
	background-image: linear-gradient(to bottom, #a681be, #8860a6);
}
button.purple:hover,
button.purple:focus {
	border: 1px solid #583972;
	background-color: #724993;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9169ae', endColorstr='#724993', GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#9169ae), to(#724993));
    background-image: -webkit-linear-gradient(top, #9169ae, #724993);
    background-image: -o-linear-gradient(top, #9169ae, #724993);
    background-image: -moz-linear-gradient(top, #9169ae, #724993);
	background-image: linear-gradient(to bottom, #9169ae, #724993);
}*/

 /*icon*/
.icon {
	color: #fff;
}
.icon.purple { /*on/사*/
	background: #9870b4;
}
.icon.green {/*on/비*/
	background: #1cb4ab;
}
.icon.olive {/*off/사*/

	background: #8cc051  ;
}
.icon.scarlet { /*off/비 */
	background: #d44944;
}
.icon.coupone {
	border:solid 1px #efa759;
	color:#ea8921;
	background:#fdf3e8;
}
/* 설문결과 */
.surveyResult {
	margin-bottom: 20px;
	border: 1px solid #a4abb3;
	background: #fff;
}
.surveyResult table th, .surveyResult table td {
	border: 1px solid #c9c9c9;
}
.surveyResult table th, .surveyResult table td {
	border: 1px solid #c9c9c9;
}
.surveyResult td .graph {
    background-color: #f7f7f7;
    background-image: -moz-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f9f9f9));
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: -o-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff9f9f9', GradientType=0);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.surveyResult td .graph>span {
	background-color: #3e96e6;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5db0ed', endColorstr='#3e96e6', GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5db0ed), to(#3e96e6));
    background-image: -webkit-linear-gradient(top, #5db0ed, #3e96e6);
    background-image: -o-linear-gradient(top, #5db0ed, #3e96e6);
    background-image: -moz-linear-gradient(top, #5db0ed, #3e96e6);
    background-image: linear-gradient(to bottom, #5db0ed, #3e96e6);
}

/* box */
.boxLeft {
	border-right: 0px dashed #ccc;
}
.boxRight {
	border-left: 0px dashed #ccc;
}
.box .tree {
	border: 1px solid #a4abb3;
}

/*text*/
.info {
	color: #666666;
}
.import {
    color: #e60013;
    padding: 0 3px;
}

/* popup */
.popup {
	background: #474E59;
}
.popup > h3 {
	color: #ffffff;
	background: #474e59;
}
.popup > strong.title {
	color: #ffffff;
}
.popup .contentsWrap .contentsBox {
	background: #ffffff;
}
.popup > .btnClose {
	background: transparent url('../images/btn_popup_close.png') center center no-repeat;
}
.popup .contentsWrap {
	background: #ffffff;
}


/* tab */
/* tab */
.tab {
	border-bottom: 1px solid #a4abb3 ;
}
.tab li {
	border: 1px solid #a4abb3;
	background: #fff;
}
.tab li.active,
.tab li:hover,
.tab li:focus,
.tab li.active:hover,
.tab li.active:focus {
	border-color: #4a7aaf;
	background-color: #4a7aaf;
}

.tab li a {
	color: #474e59;
}

.tab li:hover a,
.tab li:focus a,
.tab li.active a,
.tab li.active:hover a,
.tab li.active:focus a {
	color: #ffffff;
}

.tab.type2 li.btnPrev, .tab.type2 li.btnNext {
	border: 1px solid #a4abb3;
	background-color: #f7f9fa;
}
/* board */
th, td {
	border-left: 1px solid #d0d0d0;
	border-top: 1px solid #ccc;
}

.boardList > table, .boardView > table, .boardWrite > table {
	border: 1px solid #a4abb3;
	background: #ffffff;
}
.boardList .ui-widget-content, .boardView .ui-widget-content, .boardWrite .ui-widget-content {
	border: none;
}
.boardList  tr:first-child th {
	border-top: none;
}
.boardList th {
	border-top: 1px solid #d0d0d0;
	border-left: 1px solid #d0d0d0;
	background-color: #eee;
}
.boardList thead {
	border-bottom: 1px solid #aaa;
}
.boardList tbody tr:nth-child(even) {
 	background: #f6f6f6;
}

.boardList tbody tr:hover,
.boardList tbody tr:nth-child(even):hover {
	background: #e8e8e8;
}

.boardList tbody tr:active,
.boardList tbody tr:nth-child(even):active {
	background: #fff1e8;
}


.boardList td {
	border-left: 1px solid #d0d0d0;
	border-right: 1px solid #d0d0d0;
	border-top: 1px solid #ccc;
}
.boardList td:last-child {
	border-right: none;
}
.boardList th:first-child, .boardList td:first-child  {
	border-left: none;
}
.boardList tbody tr:first-child td,
.boardList thead tr:first-child th {
	border-top: none;
}



.boardView thead {
	border-bottom: 1px solid #bbbbbb;
}
.boardView tr:first-child > th,
.boardView tr:first-child > td,
.boardWrite tr:first-child > th,
.boardWrite tr:first-child > td {
	border-top: none;
}
.boardView th {
	background-color: #eee;
}
.boardView th, .boardView td, .boardWrite th, .boardWrite td {
	border-color: #d0d0d0;
	box-shadow: none;
}
.boardView th:first-child, .boardView td:first-child, .boardWrite th:first-child, .boardWrite td:first-child  {
	border-left: none;
	/* border-right: none; */
}
.boardWrite th {
	background-color: #eee;
}
 .asterisk:after {
	color: #f2022f;
}

/* contents */
.location li{ /*location*/
	color:#898989;
}
.location li:first-child {
	background:url('../images/icon_home.png') 0 2px no-repeat;
}

.headingBox h3.active+.description { /*title*/
	color: #666666;
}

.searchBox { /*searchBox*/
    border: 1px solid #a4abb3;
	background: #fff;
}

/* iframeWrap TJ */
.iframeWrap {width:100%;padding:12px 20px;border:1px solid #aaa;background: #fff;display:inline-block;text-align:center;}

/* titleBox TJ */
.titleBox {width:100%;margin-bottom:10px;/*padding:12px 20px;border:1px solid #aaa;*/border-bottom:none;/*background: #fff;*/display:inline-block; text-align: left;}
.titleBox h4 {float:left;width:40%;/* padding:2px 0px 0px 0px; */font-size:17px;color:#444;font-weight:bold; }
.titleBox .btnRWrap {float:right;/* width:auto; */}
/* 하단 버튼 css 추가 */
.btnRBWrap {float:right; margin-top: 10px;}
/* 모달/팝업 하단 버튼 css 추가 */
.btnPBWrap {text-align: center; margin-top: 20px;}
/* margin */
.mr0 {
	margin: 0;
}

.mb10 {
	margin-bottom: 10px;
}

.mb20 {
	margin-bottom: 20px;
}
.mt0 {
	margin-top: 0px;
}
/* titleBox TJ */
.boardWrite .titleBox {width:100%;margin-bottom:-13px;padding:12px 20px;border:1px solid #aaa;border-bottom:none;background: #fff; display:inline-block;}
.boardWrite .titleBox h4 {float:left;width:50%;padding:2px 0px 0px 0px;font-size:14px;color:#444;font-weight:bold; }
.boardWrite .titleBox .btnRWrap {float:right;width:auto;}

/* SearchBoxM TJ */
.SearchBoxCenter {width:100%;margin-bottom:14px;padding:12px 30px;border:1px solid #aaa;background: #fff; display:inline-block;}
.SearchBoxCenter .wrapper {margin:auto;width:500px; height:42px;background: #f7f7f7;padding:6px 30px;border:1px solid #ccc; border-radius:4px; text-align: center;}
.SearchBoxCenter .wrapper .btn {background:#474e59;border:1px solid rgba(0,0,0,0.3);color:#fff;}
.SearchBoxCenter .wrapper label {padding-right:12px;color:#555;font-weight:bold;}


/* pageSkip TJ */
.pageSkipWrap {width:100%;/* margin-bottom:10px; */padding:4px 20px;border:1px solid #aaa;border-top:none;background: #fff;display:inline-block; position: relative;min-height: 39px;}
.pageSkipWrap .wrapper {margin:auto;width:330px;}

.pageSkipWrap .pageSkip {float:left;display:inline-block;}
.pageSkipWrap .pageSkip li {float:left;margin-left:0px;padding:0px 0px; vertical-align: middle; }
.pageSkipWrap .pageSkip li a {padding:0px 0px 0px 0px;line-height:26px;border:0px solid #ccc;border-radius:0px;box-sizing:border-box;font-size:12px;color:#666;font-weight:700;display:block;}
.pageSkipWrap .pageSkip li a:hover,
.pageSkipWrap .pageSkip li.on a {color:#fff;background:#aaa;border:0px solid rgba(0,0,0,0.15);text-decoration:none;}
.pageSkipWrap .pageSkip li .frmInput {padding:0px 0px 0px 10px;display:inline-block; vertical-align: middle;}
.pageSkipWrap .pageSkip li .number {font-size:12px;}

.pageSkipWrap .pageSkip .first {width:20px;font-size:0;background:url('../images/page_skip_01.png') no-repeat center;}
.pageSkipWrap .pageSkip .first:hover {background:url('../images/page_skip_on01.png') no-repeat center;}
.pageSkipWrap .pageSkip .preview {margin:0px 5px 0px 0px; width:20px;font-size:0;background:url('../images/page_skip_02.png') no-repeat center;}
.pageSkipWrap .pageSkip .preview:hover {background:url('../images/page_skip_on02.png') no-repeat center ;}
.pageSkipWrap .pageSkip .next {margin:0px 0px 0px 5px;width:20px;font-size:0;background:url('../images/page_skip_03.png') no-repeat center;}
.pageSkipWrap .pageSkip .next:hover {background:url('../images/page_skip_on03.png') no-repeat center;}
.pageSkipWrap .pageSkip .last {padding:0;width:20px;font-size:0;background:url('../images/page_skip_04.png') no-repeat center;}
.pageSkipWrap .pageSkip .last:hover {background:url('../images/page_skip_on04.png') no-repeat center;}

.pageSkipWrap .frmSelect {float:left;padding:0px 0px 0px 10px;display:inline-block;}
.pageSkipWrap .pageInfo {position:absolute;top:13px;right:20px;padding:0px;color:#777;font-size:12px;display:inline-block;}

/* error TJ */
.errorWrap {margin:0 auto;width:550px;position:relative;}
.errorWrap .contWrap {width:100%;margin-top:10%;padding:20px 50px 30px 50px;background:#fff;position:relative;border:1px solid #aaa;border-radius:6px;display:inline-block;} 
.errorWrap .contWrap .img {margin:0 auto;margin-bottom:0px;width:84px;height:84px;padding:0px 0px 0px 0px;background:url(../images/ico_nodata.png) no-repeat center top;background-size:100%;display:block;}
.errorWrap .contWrap .imgError {margin:0 auto;margin-bottom:0px;width:260px;height:190px;padding:0px 0px 0px 0px;background:url(../images/icon_error.png) no-repeat center top;background-size:100%;display:block;}
.errorWrap .contWrap .alert{padding:0px 0px 10px 0px;font-size:20px;color:#333;font-weight:900;line-height:170%;font-family:"NanumSquare", sans-serif;text-align:center;}
.errorWrap .contWrap .infoWrap {padding:20px 30px 30px 30px;line-height:180%;border:1px solid #e1e1e1;border-radius:5px;} 
.errorWrap .contWrap .info{margin-top:0px;color:#555;line-height:180%;} 
.errorWrap .contWrap .info.mB10 {margin-bottom:10px;}   
.errorWrap .contWrap .info a {text-decoration:none;}
.errorWrap .contWrap .info a:link, a:visited {text-decoration:none;}
.errorWrap .contWrap .info a:hover, a:focus, a:active {text-decoration:none;}
.errorWrap .contWrap .btnArea {margin:auto;padding:10px 0px 0px 0px;text-align:center;}

/* error TJ new */
.errorWrap .contWrap2 {width:100%;background:#fff;position:relative;display:inline-block;} 
.errorWrap .contWrap2 .imgError2 {margin:0 auto;margin-bottom:0px;width:260px;height:260px;padding:0px 0px 0px 0px;background:url(../images/icon_error_n.png) no-repeat center top;background-size:100%;display:block;}
.errorWrap .contWrap2 .infoWrap2 {margin:0 auto;padding:30px 0 40px;line-height:180%;text-align: center;} 
.errorWrap .contWrap2 .info2{margin-top:0px;color:#797979;line-height:180%;font-size: 18px;font-weight: 700} 
.errorBtnArea {text-align: center;}
.errorWrap .contWrap2 .imgHome {width:30px;height:30px;padding:0px 0px 0px 0px;background:url(../images/icon_home_n.png) no-repeat center top;background-size:100%;display:inline-block;margin-right: 20px;vertical-align: middle;}
.errorBtnArea .btnError{width: 300px;height: 55px;font-size: 30px !important;}

.box .tree { /* box */
	background: #fff;
}

.comment { /*답글*/
	border: 1px solid #a4abb3;
}
.comment .register {
    background: #fff;
}
.comment ul li {
	border-top: 1px solid #dddddd;
	background: #fff;
}
.comment ul li:first-child {
	border-top: none;
}
.comment ul li .date {
	color: #999999;
}
.comment ul li p {
	color: #666666;
}
/* .comment ul li.twoDepth { */
/* 	background: #fff url('/images/common/mngs/icon_recommend.gif') 30px 22px no-repeat; */
/* } */
/* .comment ul li.threeDepth { */
/* 	background: #fff url('/images/common/mngs/icon_recommend.gif') 60px 22px no-repeat; */
/* } */


/* quickTask */
.quickTask ul li {
	background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #fafafa, #ededed);
    background-image: -ms-linear-gradient(top, #fafafa, #ededed);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#ededed));
    background-image: -webkit-linear-gradient(top, #fafafa, #ededed);
    background-image: -o-linear-gradient(top, #fafafa, #ededed);
    background-image: linear-gradient(top, #fafafa, #ededed);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#ededed', GradientType=0);
    -webkit-box-shadow: inset 0 0 1px 1px #ffffff;
    -moz-box-shadow: inset 0 0 1px 1px #ffffff;
    box-shadow: inset 0 0 1px 1px #ffffff;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    border: 1px solid #a6a6a6;
}
.quickTask ul li a { /* quickTask */
	text-shadow: 0 1px 0 #ffffff;
}
.quickTask ul li .badge {
	color: #fff;
}
.badge.olive {
	background: #8cc051;
}
.badge.yellow {
	background: #ffae00;
}
.badge.scarlet {
	background: #e64637;
}
.btnInclub {
	border: 1px solid #a6a6a6;
	border-radius: 5px;
	color: #333;
	font-weight: 700;
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top, #fafafa, #ededed);
    background-image: -ms-linear-gradient(top, #fafafa, #ededed);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#ededed));
    background-image: -webkit-linear-gradient(top, #fafafa, #ededed);
    background-image: -o-linear-gradient(top, #fafafa, #ededed);
    background-image: linear-gradient(top, #fafafa, #ededed);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#ededed', GradientType=0);
    -webkit-box-shadow: inset 0 0 1px 1px #ffffff;
    -moz-box-shadow: inset 0 0 1px 1px #ffffff;
    box-shadow: inset 0 0 1px 1px #ffffff;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
}
#inclubCnt {
	color: #b94a48;
}


/* 문제 미리보기  */
.test {
	border-color: #a6a6a6;
	background: #ffffff;
}
.test dt {
    border-top-color: #e5e5e5;
}
.test dt p {
	color: #49596b;
}
.test dt p > span {
	color: #bbbbbb;
}
.test dt p > span > strong {
	color: #6c89b7;
}
.test dt p > span > span {
	color: #49596b;
}
.test dd p > span {
    color: #d44944;
}
.test dd.answer > p {
    color: #d44944;
}
.test dd.answer .explain .btnView:after, .test dd.answer .explain.active .btnView:after {
	 color: #49596b;
}
.test dd.answer .explain .content {
    background: #f5f5f5;
}




