<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kspo.voc.kspo.common.dao.IVocPrcDao">

    <resultMap type="com.kspo.voc.kspo.setting.model.VocActivityVo" id="VocActivityVo">
        <result property="explanation"  column="EXPLANATION"  jdbcType="CLOB" javaType="java.lang.String" />
    </resultMap>

    <sql id="vocMgmtCdCols">
        MGMT_CD,
        TOP_MGMT_CD,
        PRNTS_MGMT_CD,
        TOP_COMN_CD,
        COMN_CD,
        MGMT_CD_ORDR,
        MGMT_CD_LVL_NO,
        MGMT_CD_NM,
        USE_YN,
        REGR_ID,
        REG_DT,
        AMDR_ID,
        AMD_DT
    </sql>

    <select id="selectVocMgmtCdTree" resultType="com.kspo.voc.kspo.setting.model.VocMgmtCdVo">
        select
            <include refid="vocMgmtCdCols"/>
        from
            TB_VOC_MGMT_CD_BAS
        <where>
            <if test="topComnCd != null and !topComnCd.equals('')">
                TOP_COMN_CD = #{topComnCd}
            </if>
            <!-- 단건의 분류코드 그룹 호출 시 -->
            <if test="comnCd instanceof String">
                AND
                COMN_CD = #{comnCd}
            </if>
            <!-- 여러개의 분류코드 그룹 호출 시 -->
            <if test="comnCd instanceof java.util.ArrayList">
                AND
                COMN_CD IN
                <foreach collection="comnCd" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        order by
            MGMT_CD
    </select>

    <select id="selectMgmtCd" resultType="com.kspo.voc.kspo.setting.model.VocMgmtCdVo">
        select
            <include refid="vocMgmtCdCols"/>
        from
            TB_VOC_MGMT_CD_BAS
        <where>
            <if test="mgmtCd != null and !mgmtCd.equals('')">
                MGMT_CD = #{mgmtCd}
            </if>
            <if test="mgmtCd == null and prntsMgmtCd != null and !prntsMgmtCd.equals('')">
                AND
                MGMT_CD = #{prntsMgmtCd}
            </if>
        </where>
    </select>

    <select id="selectPrcdBas" resultType="com.kspo.voc.kspo.setting.model.VocPrcdBasVo">
        SELECT
            *
        FROM
            TB_VOC_PRCD_BAS
        WHERE
            PRCD_CD = #{prcdCd}
    </select>

    <select id="selectPrcdBasList" resultType="com.kspo.voc.kspo.setting.model.VocPrcdBasVo">
        SELECT
            *
        FROM
            TB_VOC_PRCD_BAS
        WHERE
            VOC_APPLY_YN = 'Y'
        ORDER BY
            PRCD_CD
    </select>

    <select id="selectTaskBasList" resultType="com.kspo.voc.kspo.setting.model.VocTaskBasVo">
        SELECT
            *
        FROM
            TB_VOC_TASK_BAS
        <where>
            <if test="autoApplyAllPrcdYn != null and !autoApplyAllPrcdYn.equals('')">
                AUTO_APPLY_ALL_PRCD_YN = #{autoApplyAllPrcdYn}
            </if>
            <if test="autoApplyPrcdCd != null and !autoApplyPrcdCd.equals('')">
                or
                AUTO_APPLY_PRCD_CD = #{autoApplyPrcdCd}
            </if>
            <if test="mcPrcdCd != null and !mcPrcdCd.equals('')">
                TASK_CD NOT IN (
                    SELECT
                        TASK_CD
                    FROM
                        TB_VOC_MC_TASK_DTL
                    WHERE
                        MC_PRCD_CD = #{mcPrcdCd}
                )
            </if>
        </where>
    </select>

    <select id="selectActivityFuncBasList" resultType="EzMap">
        select
            *
        from
            tb_voc_activity_func_bas
        where
            func_cd not in (
            select
                func_cd
            from
                tb_voc_activity_dtl
            where
                mc_task_id = #{mcTaskId}
            )
    </select>

    <select id="selectProcedure" resultType="com.kspo.voc.kspo.setting.model.VocMcPrcdVo">
        select
            *
        from
            tb_voc_procedure
        <where>
            <if test="mcPrcdSeq != null and !mcPrcdSeq.equals('')">
                mc_prcd_seq = #{mcPrcdSeq}
            </if>
            <if test="prntsSeq != null and !prntsSeq.equals('')">
                and
                prnts_seq = #{prntsSeq}
            </if>
        </where>
    </select>

    <select id="selectProcedureList" resultType="com.kspo.voc.kspo.setting.model.VocMcPrcdVo">
        select
            mc_prcd_seq,
            prnts_seq,
            prcd_seq,
            prcd_nm,
            deadline,
            duty_org,
            duty_emp,
            duty_role,
            regr_id,
            reg_dt,
            amdr_id,
            amd_dt,
            (select task_yn from tb_voc_procedure_bas where prcd_seq = vp.prcd_seq) taskYn
        from
            tb_voc_procedure vp
        where
                vp.mc_prcd_seq in (
                select
                    mc_prcd_seq
                from
                    tb_voc_procedure_dir_conn
                where
                    dir_cd = #{dirCd}
            )
        order by
            3
    </select>

    <select id="selectTaskList" resultType="com.kspo.voc.kspo.setting.model.VocTaskVo">
        select
            mc_task_seq,
            mc_prcd_seq,
            task_seq,
            task_nm,
            odrg,
            deadline,
            duty_org,
            duty_emp,
            duty_role,
            regr_id,
            reg_dt,
            amdr_id,
            amd_dt,
        from
            tb_voc_task
        <where>
            <if test="mcPrcdSeq != null and !mcPrcdSeq.equals('')">
                mc_prcd_seq = #{mcPrcdSeq}
            </if>
        </where>
        order by
            odrg
    </select>

    <select id="selectActivityList" resultMap="VocActivityVo">
        select
            act_seq,
            mc_task_seq,
            func_cd,
            act_nm,
            explanation,
            regr_id,
            reg_dt,
            amdr_id,
            amd_dt
        from
           tb_voc_activity
        <where>
            <if test="mcTaskSeq != null and !mcTaskSeq.equals('')">
                mc_task_seq = #{mcTaskSeq}
            </if>
        </where>
        order by
            1
    </select>

    <select id="selectDirCd" resultType="string">
        select
        dir_cd
        from
        tb_voc_dir_mc_mapping
        <where>
            <if test="mgmtCd != null and !mgmtCd.equals('')">
                MGMT_CD = #{mgmtCd}
            </if>
        </where>
    </select>

    <select id="selectDutyOrgList" resultType="EzMap">
        select
            *
        from
            tb_voc_dir_org_mapping
        where
            dir_cd = #{dirCd}
        order by
            2 desc, 3
    </select>

    <select id="selectRegPrcd" resultType="com.kspo.voc.kspo.process.model.VocApplyPrcdVo">
        select
            *
        from
            tb_voc_reg_prcd
        where
            reg_prcd_seq = #{regPrcdSeq}
    </select>

    <select id="selectRegPrcdList" resultType="com.kspo.voc.kspo.process.model.VocApplyPrcdVo">
        select
            *
        from
            tb_voc_procedure vp inner join tb_voc_reg_prcd vrp
            on vp.mc_prcd_seq = vrp.mc_prcd_seq
        <where>
            <if test="regSeq != null and !regSeq.equals('')">
                vrp.reg_seq = #{regSeq}
            </if>
        </where>
        order by
            reg_prcd_seq
    </select>

    <select id="selectVocStatus" parameterType="string" resultType="map">
        select
            status_cd "statusCd",
            prcd_seq "prcdSeq",
            status_nm "statusNm",
            status "status"
        from
            tb_voc_status
        <where>
            <if test="prcdSeq != null and !prcdSeq.equals('')">
                prcd_seq = #{prcdSeq}
            </if>
            <if test="status != null and !status.equals('')">
                and
                status = #{status}
            </if>
        </where>
    </select>

    <select id="getMgmtCdSelect" resultType="com.kspo.voc.kspo.setting.model.VocMgmtCdVo">
        select
            *
        from
            TB_VOC_MGMT_CD_BAS
        <where>
            comn_cd = #{comnCd}
            <if test="prntsCd != null and !prntsCd.equals('')">
                and
                PRNTS_MGMT_CD = #{prntsCd}
            </if>
            <if test="prntsCd == null">
                and
                PRNTS_MGMT_CD = (
                    select
                        MGMT_CD
                    from
                        TB_VOC_MGMT_CD_BAS
                    where
                        comn_cd = #{comnCd}
                        and
                        MGMT_CD = TOP_MGMT_CD
                )
            </if>
        </where>
    </select>

    <select id="selectStatusCd" resultType="map">
        select
            *
        from
            tb_voc_status vs inner join tb_voc_procedure_bas vpb
            on vs.PRCD_SEQ = vpb.PRCD_SEQ
        where
            vpb.top_comn_cd = #{topComnCd}
            and
            vpb.comn_cd = #{comnCd}
            and
            vs.status = #{status}
    </select>

    <select id="selectStatusList" resultType="map">
        select
            *
        from
            tb_voc_status
        order by
            1
    </select>

    <!--  upt  -->
    <update id="updateRegistrationStatus">
        update TB_VOC
        set
            status_cd = #{statusCd}
        where
            voc_seq = #{regSeq}
    </update>

    <update id="updateRegPrcd">
        update tb_voc_prcd
        set
            status = #{status}
        where
            voc_prcd_seq = #{vocPrcdSeq}
    </update>






</mapper>
