<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kspo.voc.program.common.dao.IVocPrcDao">

<!--    <resultMap type="com.kspo.voc.program.setting.model.VocActivityVo" id="VocActivityVo">-->
<!--        <result property="explanation"  column="EXPLANATION"  jdbcType="CLOB" javaType="java.lang.String" />-->
<!--    </resultMap>-->

    <sql id="vocMgmtCdCols">
        MGMT_CD /* 관리코드 */,
        TOP_MGMT_CD /* 최상단 관리코드 */,
        PRNTS_MGMT_CD /* 부모 관리코드 */,
        TOP_COMN_CD /* 최상단 공통코드 */,
        COMN_CD /* 공통코드 */,
        MGMT_CD_ORDR /* 관리코드 순번 */,
        MGMT_CD_LVL_NO /* 관리코드 레벨 번호 */,
        MGMT_CD_NM /* 관리코드명*/,
        USE_YN /* 사용여부 */,
        REGR_ID /* 등록자 아이디 */,
        REG_DT /* 등록일시 */,
        AMDR_ID /* 수정자 아이디 */,
        AMD_DT /* 수정일시 */
    </sql>

    <sql id="vocPrcdBasCols">
        PRCD_CD /* 절차코드 */,
        PRCD_NM /* 절차명 */,
        TOP_COMN_CD /* 최상단 공통코드 */,
        COMN_CD /* 공통코드 */,
        DDLN_SEC /* 처리기한 초 */,
        DUTY_ORG_ID /* 담당부서 아이디 */,
        DUTY_ORG_NM /* 담당부서명 */,
        DUTY_EMP_ID /* 담당자 아이디 */,
        DUTY_EMP_NM /* 담당자명 */,
        DUTY_ROLE_CD /* 담당권한 코드 */,
        DUTY_CHNG_YN /* 변경가능여부 */,
        VOC_APPLY_YN /* VOC 적용여부 */,
        VOC_DTL_APPLY_YN /* 상세VOC 적용여부 */,
        VOC_ESTL_APPLY_YN /* VOC 필수적용여부 */,
        VOC_DTL_ESTL_APPLY_YN /* 상세VOC 필수적용여부 */,
        TASK_USE_YN /* TASK 사용여부 */,
        REGR_ID /* 등록자 아이디 */,
        REG_DT /* 등록일시 */,
        AMDR_ID /* 수정자 아이디 */,
        AMD_DT /* 수정일시 */
    </sql>

    <sql id="dirMgmtCols">
        TVDMR.DIR_CD /* 경로 코드 */,
        TVDMR.MGMT_CD /* 관리절차 코드 */,
        TVDMR.REGR_ID /* 등록자 아이디 */,
        TVDMR.REG_DT /* 등록일시 */,
        TVDMR.AMDR_ID /* 수정자 아이디 */,
        TVDMR.AMD_DT /* 수정일시 */
    </sql>

    <select id="selectVocMgmtCdTree" resultType="com.kspo.voc.program.setting.model.VocMgmtCdVo">
        select
            <include refid="vocMgmtCdCols"/>
        from
            TB_VOC_MGMT_CD_BAS
        <where>
            <if test="topComnCd != null and !topComnCd.equals('')">
                TOP_COMN_CD = #{topComnCd}
            </if>
            <!-- 단건의 분류코드 그룹 호출 시 -->
            <if test="comnCd instanceof String">
                AND
                COMN_CD = #{comnCd}
            </if>
            <!-- 여러개의 분류코드 그룹 호출 시 -->
            <if test="comnCd instanceof java.util.ArrayList">
                AND
                COMN_CD IN
                <foreach collection="comnCd" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        order by
            MGMT_CD
    </select>

    <select id="selectMgmtCd" resultType="com.kspo.voc.program.setting.model.VocMgmtCdVo">
        select
            <include refid="vocMgmtCdCols"/>
        from
            TB_VOC_MGMT_CD_BAS
        <where>
            <if test="mgmtCd != null and !mgmtCd.equals('')">
                MGMT_CD = #{mgmtCd}
            </if>
            <if test="mgmtCd == null and prntsMgmtCd != null and !prntsMgmtCd.equals('')">
                AND
                MGMT_CD = #{prntsMgmtCd}
            </if>
        </where>
    </select>

    <select id="selectPrcdBas" resultType="com.kspo.voc.program.setting.model.VocPrcdBasVo">
        SELECT
            <include refid="vocPrcdBasCols"/>
        FROM
            TB_VOC_PRCD_BAS
        WHERE
            PRCD_CD = #{prcdCd}
    </select>

    <select id="selectPrcdBasList" resultType="com.kspo.voc.program.setting.model.VocPrcdBasVo">
        SELECT
            <include refid="vocPrcdBasCols"/>
        FROM
            TB_VOC_PRCD_BAS
        <where>
            <if test="vocApplyYn != null and !vocApplyYn.equals('')">
                VOC_APPLY_YN = #{vocApplyYn}
            </if>
            <if test="vocDtlApplyYn != null and !vocDtlApplyYn.equals('')">
                VOC_DTL_APPLY_YN = #{vocDtlApplyYn}
            </if>
        </where>
        ORDER BY
            COMN_CD
    </select>

    <select id="selectTaskBasList" resultType="com.kspo.voc.program.setting.model.VocTaskBasVo">
        SELECT
            *
        FROM
            TB_VOC_TASK_BAS
        <where>
            <if test="autoApplyAllPrcdYn != null and !autoApplyAllPrcdYn.equals('')">
                AUTO_APPLY_ALL_PRCD_YN = #{autoApplyAllPrcdYn}
            </if>
            <if test="autoApplyPrcdCd != null and !autoApplyPrcdCd.equals('')">
                or
                AUTO_APPLY_PRCD_CD = #{autoApplyPrcdCd}
            </if>
            <if test="mcPrcdCd != null and !mcPrcdCd.equals('')">
                TASK_CD NOT IN (
                    SELECT
                        TASK_CD
                    FROM
                        TB_VOC_MC_TASK_DTL
                    WHERE
                        MC_PRCD_CD = #{mcPrcdCd}
                )
            </if>
        </where>
    </select>

    <select id="selectChannelDirCd" resultType="com.kspo.voc.program.setting.model.VocDirCdVo">
        SELECT
            <include refid="dirMgmtCols"/>
        FROM
            TB_VOC_DIR_MGMT_REL TVDMR
        WHERE
            MGMT_CD = #{chMgmtCd}
            AND
                (
                    SELECT
                        COUNT(*)
                    FROM
                        TB_VOC_DIR_MGMT_REL
                    WHERE
                        DIR_CD = TVDMR.DIR_CD
                ) = 1
    </select>

    <select id="selectDirOrg" resultType="com.kspo.voc.program.setting.model.VocDirOrgVo">
        SELECT
            *
        FROM
            TB_VOC_DIR_ORG_REL
        WHERE
            DIR_CD = #{dirCd}
        ORDER BY
            PRIM_PROC_ORG_YN DESC, REG_DT
    </select>

</mapper>
