<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kspo.voc.program.common.dao.IVocPrcDao">

<!--    <resultMap type="com.kspo.voc.program.setting.model.VocActivityVo" id="VocActivityVo">-->
<!--        <result property="explanation"  column="EXPLANATION"  jdbcType="CLOB" javaType="java.lang.String" />-->
<!--    </resultMap>-->

    <sql id="vocMgmtCdCols">
        MGMT_CD /* 관리코드 */,
        TOP_MGMT_CD /* 최상단 관리코드 */,
        PRNTS_MGMT_CD /* 부모 관리코드 */,
        TOP_COMN_CD /* 최상단 공통코드 */,
        COMN_CD /* 공통코드 */,
        MGMT_CD_ORDR /* 관리코드 순번 */,
        MGMT_CD_LVL_NO /* 관리코드 레벨 번호 */,
        MGMT_CD_NM /* 관리코드명*/,
        USE_YN /* 사용여부 */,
        REGR_ID /* 등록자 아이디 */,
        REG_DT /* 등록일시 */,
        AMDR_ID /* 수정자 아이디 */,
        AMD_DT /* 수정일시 */
    </sql>

    <sql id="vocPrcdBasCols">
        PRCD_CD /* 절차코드 */,
        PRCD_NM /* 절차명 */,
        TOP_COMN_CD /* 최상단 공통코드 */,
        COMN_CD /* 공통코드 */,
        DDLN_SEC /* 처리기한 초 */,
        DUTY_ORG_ID /* 담당부서 아이디 */,
        DUTY_ORG_NM /* 담당부서명 */,
        DUTY_EMP_ID /* 담당자 아이디 */,
        DUTY_EMP_NM /* 담당자명 */,
        DUTY_ROLE_CD /* 담당권한 코드 */,
        DUTY_CHNG_YN /* 변경가능여부 */,
        VOC_APPLY_YN /* VOC 적용여부 */,
        VOC_DTL_APPLY_YN /* 상세VOC 적용여부 */,
        VOC_ESTL_APPLY_YN /* VOC 필수적용여부 */,
        VOC_DTL_ESTL_APPLY_YN /* 상세VOC 필수적용여부 */,
        TASK_USE_YN /* TASK 사용여부 */,
        REGR_ID /* 등록자 아이디 */,
        REG_DT /* 등록일시 */,
        AMDR_ID /* 수정자 아이디 */,
        AMD_DT /* 수정일시 */
    </sql>

    <sql id="vocActvBasCols">
        ACTV_CD /* 수행코드 */,
        FUNC_TP_CD /* 기능유형코드 */,
        ACTV_NM /* 수행명 */,
        CALL_MTHD_CD /* 호출메소드코드 */,
        ACTV_EXPLN /* 수행설명 */,
        USE_YN /* 사용여부 */,
        REGR_ID /* 등록자 아이디 */,
        REG_DT /* 등록일시 */,
        AMDR_ID /* 수정자 아이디 */,
        AMD_DT /* 수정일시 */
    </sql>

    <sql id="dirMgmtCols">
        TVDMR.DIR_CD /* 경로 코드 */,
        TVDMR.MGMT_CD /* 관리절차 코드 */,
        TVDMR.REGR_ID /* 등록자 아이디 */,
        TVDMR.REG_DT /* 등록일시 */,
        TVDMR.AMDR_ID /* 수정자 아이디 */,
        TVDMR.AMD_DT /* 수정일시 */
    </sql>

    <sql id="dirPrcdCols">
        DIR_CD /* 경로 코드 */,
        MGMT_PRCD_CD /* 관리절차 코드 */
    </sql>

    <sql id="mgmtPrcdCols">
        TVMPD.MGMT_PRCD_CD /* 관리절차코드 */,
        TVMPD.PRCD_CD /* 절차코드 */,
        TVMPD.MGMT_PRCD_ORDR /* 관리절차순번 */,
        TVMPD.DDLN_SEC /* 처리기한 초 */,
        TVMPD.DUTY_ORG_ID /* 담당부서 아이디 */,
        TVMPD.DUTY_EMP_ID /* 담당직원 아이디 */,
        TVMPD.DUTY_ROLE_CD /* 담당권한코드 */,
        TVMPD.REGR_ID /* 등록자 아이디 */,
        TVMPD.REG_DT /* 등록일시 */,
        TVMPD.AMDR_ID /* 수정자 아이디 */,
        TVMPD.AMD_DT /* 수정일시 */
    </sql>

    <sql id="mgmtTaskCols">
        TVMTD.MGMT_TASK_CD /* 관리TASK코드 */,
        TVMTD.TASK_CD /* TASK코드 */,
        TVMTD.MGMT_PRCD_CD /* 관리절차코드 */,
        TVMTD.MGMT_TASK_ORDR /* 관리TASK순번 */,
        TVMTD.DDLN_SEC /* 처리기한 초 */,
        TVMTD.DUTY_ORG_ID /* 담당부서 아이디 */,
        TVMTD.DUTY_EMP_ID /* 담당자 아이디 */,
        TVMTD.DUTY_ROLE_CD /* 담당권한 코드 */,
        TVMTD.REGR_ID /* 등록자 아이디 */,
        TVMTD.REG_DT /* 등록일시 */,
        TVMTD.AMDR_ID /* 수정자 아이디 */,
        TVMTD.AMD_DT /* 수정일시 */
    </sql>

    <sql id="mgmtActvCols">
        TVMAD.MGMT_ACTV_CD /* 관리TASK코드 */,
        TVMAD.ACTV_CD /* TASK코드 */,
        TVMAD.MGMT_TASK_CD /* 관리절차코드 */,
        TVMAD.MGMT_ACTV_ORDR /* 관리TASK순번 */,
        TVMAD.DUTY_ORG_ID /* 담당부서 아이디 */,
        TVMAD.DUTY_EMP_ID /* 담당자 아이디 */,
        TVMAD.DUTY_ROLE_CD /* 담당권한 코드 */,
        TVMAD.REGR_ID /* 등록자 아이디 */,
        TVMAD.REG_DT /* 등록일시 */,
        TVMAD.AMDR_ID /* 수정자 아이디 */,
        TVMAD.AMD_DT /* 수정일시 */
    </sql>

    <select id="selectVocMgmtCdTree" resultType="com.kspo.voc.program.setting.model.VocMgmtCdVo">
        select
            <include refid="vocMgmtCdCols"/>
        from
            TB_VOC_MGMT_CD_BAS
        <where>
            <if test="topComnCd != null and !topComnCd.equals('')">
                TOP_COMN_CD = #{topComnCd}
            </if>
            <!-- 단건의 분류코드 그룹 호출 시 -->
            <if test="comnCd instanceof String">
                AND
                COMN_CD = #{comnCd}
            </if>
            <!-- 여러개의 분류코드 그룹 호출 시 -->
            <if test="comnCd instanceof java.util.ArrayList">
                AND
                COMN_CD IN
                <foreach collection="comnCd" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        order by
            MGMT_CD
    </select>

    <select id="selectMgmtCd" resultType="com.kspo.voc.program.setting.model.VocMgmtCdVo">
        select
            <include refid="vocMgmtCdCols"/>
        from
            TB_VOC_MGMT_CD_BAS
        <where>
            <if test="mgmtCd != null and !mgmtCd.equals('')">
                MGMT_CD = #{mgmtCd}
            </if>
            <if test="mgmtCd == null and prntsMgmtCd != null and !prntsMgmtCd.equals('')">
                AND
                MGMT_CD = #{prntsMgmtCd}
            </if>
        </where>
    </select>

    <select id="selectPrcdBas" resultType="com.kspo.voc.program.setting.model.VocPrcdBasVo">
        SELECT
            <include refid="vocPrcdBasCols"/>
        FROM
            TB_VOC_PRCD_BAS
        WHERE
            PRCD_CD = #{prcdCd}
    </select>

    <select id="selectPrcdBasList" resultType="com.kspo.voc.program.setting.model.VocPrcdBasVo">
        SELECT
            <include refid="vocPrcdBasCols"/>
        FROM
            TB_VOC_PRCD_BAS
        <where>
            <if test="vocApplyYn != null and !vocApplyYn.equals('')">
                VOC_APPLY_YN = #{vocApplyYn}
            </if>
            <if test="vocDtlApplyYn != null and !vocDtlApplyYn.equals('')">
                VOC_DTL_APPLY_YN = #{vocDtlApplyYn}
            </if>
        </where>
        ORDER BY
            COMN_CD
    </select>

    <select id="selectTaskBasList" resultType="com.kspo.voc.program.setting.model.VocTaskBasVo">
        SELECT
            *
        FROM
            TB_VOC_TASK_BAS
        <where>
            <if test="autoApplyAllPrcdYn != null and !autoApplyAllPrcdYn.equals('')">
                AUTO_APPLY_ALL_PRCD_YN = #{autoApplyAllPrcdYn}
            </if>
            <if test="autoApplyPrcdCd != null and !autoApplyPrcdCd.equals('')">
                OR
                AUTO_APPLY_PRCD_CD = #{autoApplyPrcdCd}
            </if>
            <if test="prcdCd != null and !prcdCd.equals('')">
                AND
                AUTO_APPLY_PRCD_CD = #{prcdCd}
            </if>
        </where>
    </select>

    <select id="selectActvBasList" resultType="com.kspo.voc.program.setting.model.VocActvBasVo">
        SELECT
            <include refid="vocActvBasCols"/>
        FROM
            TB_VOC_ACTV_BAS
    </select>

    <select id="selectChannelDirCd" resultType="com.kspo.voc.program.setting.model.VocDirCdVo">
        SELECT
            <include refid="dirMgmtCols"/>
        FROM
            TB_VOC_DIR_MGMT_REL TVDMR
        WHERE
            MGMT_CD = #{chMgmtCd}
            AND
                (
                    SELECT
                        COUNT(*)
                    FROM
                        TB_VOC_DIR_MGMT_REL
                    WHERE
                        DIR_CD = TVDMR.DIR_CD
                ) = 1
    </select>

    <select id="selectDirOrg" resultType="com.kspo.voc.program.setting.model.VocDirOrgVo">
        SELECT
            *
        FROM
            TB_VOC_DIR_ORG_REL
        WHERE
            DIR_CD = #{dirCd}
        ORDER BY
            PRIM_PROC_ORG_YN DESC, REG_DT
    </select>

    <select id="selectDirPrcdList" resultType="EzMap">
        SELECT
            <include refid="dirPrcdCols"/>
        FROM
            TB_VOC_DIR_PRCD_REL
        WHERE
            DIR_CD = #{dirCd}
    </select>

    <select id="selectMgmtPrcd" resultType="com.kspo.voc.program.setting.model.VocMgmtPrcdVo">
        SELECT
            <include refid="mgmtPrcdCols"/>
            ,
            TVPB.PRCD_NM
        FROM
            TB_VOC_MGMT_PRCD_DTL TVMPD INNER JOIN TB_VOC_PRCD_BAS TVPB
            ON TVMPD.PRCD_CD = TVPB.PRCD_CD
        WHERE
            MGMT_PRCD_CD = #{mgmtPrcdCd}
        ORDER BY
            TVMPD.MGMT_PRCD_ORDR
    </select>

    <select id="selectMgmtPrcdList" resultType="com.kspo.voc.program.setting.model.VocMgmtPrcdVo">
        SELECT
            <include refid="mgmtPrcdCols"/>
            ,
            TVPB.PRCD_NM,
            (SELECT COUNT(*) FROM TB_VOC_MGMT_TASK_DTL WHERE MGMT_PRCD_CD = TVMPD.MGMT_PRCD_CD) childCnt
        FROM
            TB_VOC_MGMT_PRCD_DTL TVMPD INNER JOIN TB_VOC_PRCD_BAS TVPB
            ON TVMPD.PRCD_CD = TVPB.PRCD_CD
        WHERE
            MGMT_PRCD_CD IN
            <foreach collection="dirPrcdList" item="item" open="(" separator="," close=")">
                #{item.mgmtPrcdCd}
            </foreach>
        ORDER BY
            TVMPD.MGMT_PRCD_ORDR
    </select>

    <select id="selectMgmtTaskList" resultType="com.kspo.voc.program.setting.model.VocMgmtTaskVo">
        SELECT
            <include refid="mgmtTaskCols"/>
            ,
            TVTB.TASK_NM,
            (SELECT COUNT(*) FROM TB_VOC_MGMT_ACTV_DTL WHERE MGMT_TASK_CD = TVMTD.MGMT_TASK_CD) childCnt
        FROM
            TB_VOC_MGMT_TASK_DTL TVMTD INNER JOIN TB_VOC_TASK_BAS TVTB
            ON TVMTD.TASK_CD = TVTB.TASK_CD
        WHERE
            TVMTD.MGMT_PRCD_CD = #{mgmtPrcdCd}
        ORDER BY
            TVMTD.MGMT_TASK_ORDR
    </select>

    <select id="selectMgmtActvList" resultType="com.kspo.voc.program.setting.model.VocMgmtActvVo">
        SELECT
            <include refid="mgmtActvCols"/>
            ,
            TVAB.ACTV_NM
        FROM
            TB_VOC_MGMT_ACTV_DTL TVMAD INNER JOIN TB_VOC_ACTV_BAS TVAB
            ON TVMAD.ACTV_CD = TVAB.ACTV_CD
        WHERE
            TVMAD.MGMT_TASK_CD = #{mgmtTaskCd}
    </select>

</mapper>
