@charset "utf-8";

@import url("component.css");

/* header */
#header .component1 {
	background: #ffffff;
	border-bottom: 2px solid #f27800;
}
#header .component1 .userInfo .user {
	color: #474d59;
 	background: url('../images/user.png') left center no-repeat;
}
#header .component1 .userInfo .btnLogout {
    color: #fff;
	border: none;
	background-color: #474e59;
}
#header .component1 .userInfo .btnLogout:before {
	background: url('../images/header_component1_btn_logout.png') center center no-repeat;
}
#header .component1 .userInfo .btnLogout:hover,
#header .component1 .userInfo .btnLogout:focus {

}
#header .component1 .gnb {
	border-top: 1px solid #e5e5e5;
}
#header .component1 .gnb > li > a:hover,
#header .component1 .gnb > li > a:focus {
	color: #ff7200;
}
#header .component1 .gnb li .twoDepth {
	border: solid #c2c7cc;
	border-width: 0px 1px 1px 1px;
	border-top: 2px solid transparent;
    background: #fff;
}
#header .component1 .gnb li .twoDepth:after {
	border-top: 2px solid #f27800;
}
/* visual */
.webModule1 .visual {
	background: #f7f9fa url('../images/gate_visual02.png') center center no-repeat;
}
.webModule1 .visual .title p {
	color: #231916;
}

/* loginBox */
.webModule2 .loginBox li:first-child {
	color: #333;
}
.webModule2 .loginBox li label {
	color: #333;
}
.webModule2 .loginBox li .btnLogin {
	color: #ffffff;
	border: 1px solid #ed5f00;
	background: #f27800;
}
.webModule2 .loginBox li .btnLogin:hover,
.webModule2 .loginBox li .btnLogin:focus {
	border: 1px solid #d74600;
	background: #dd5e00;
}
