<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kspo.voc.sys.dao.CrmCommonDao">
    <sql id="pagingHeader">
        SELECT T.*
          FROM ( SELECT ROWNUM AS ROW_INDEX
                      , A.*
                   FROM (
            </sql>
            <sql id="pagingFooter">
                          ) A ) T
         WHERE   T.ROW_INDEX BETWEEN NVL(#{firstRecordIndex},1) AND NVL(#{lastRecordIndex},30)
    </sql>
    <select id="getAutoSeq" resultType="String">
        SELECT FN_CRM_AUTO_SEQ(#{prefix}) 
          FROM DUAL
    </select>
     
</mapper>