<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kspo.voc.sys.dao.CrmGrpEmpHstDao">
    <sql id="sqlPkConditions">
                WHERE GRP_EMP_HST_CD    =       #{grpEmpHstCd}
    </sql>
    <sql id="sqlCols">
                      GRP_EMP_HST_CD                    /*그룹사원이력코드        */
                    , GRP_CD                    /*그룹코드        */
                    , EMP_ID                    /*사원ID        */
                    , DEL_YN                    /*삭제여부        */
                    , REGR_ID                    /*등록자ID        */
                    , REG_DT                    /*등록일시        */
                    , AMDR_ID                    /*수정자ID        */
                    , AMD_DT                    /*수정일시        */
    </sql>
    <sql id="sqlConditions">
                WHERE 1 = 1
        <if test="grpEmpHstCd != null and grpEmpHstCd != ''">
            <choose>
                <when test="grpEmpHstCd instanceof String">
                              AND A.GRP_EMP_HST_CD    =       #{grpEmpHstCd}
                </when>
                <otherwise>
                    AND A.GRP_EMP_HST_CD    IN
                    <foreach item="item" index="index" collection="grpEmpHstCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="grpCd != null and grpCd != ''">
            <choose>
                <when test="grpCd instanceof String">
                              AND A.GRP_CD            =       #{grpCd}
                </when>
                <otherwise>
                    AND A.GRP_CD            IN
                    <foreach item="item" index="index" collection="grpCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="empId != null and empId != ''">
                      AND A.EMP_ID            =       #{empId}
        </if>
        <if test="delYn != null and delYn != ''">
                      AND A.DEL_YN            =       #{delYn}
        </if>
        <if test="strtDt != null and strtDt != ''">
                      AND A.REG_DT      >=       TO_DATE(#{strtDt},'YYYYMMDD')
        </if>
        <if test="endDt != null and endDt != ''">
                      AND TO_DATE(#{endDt},'YYYYMMDD') + 1 > A.REG_DT
        </if>
        <if test="empId != null and empId != ''">
                      AND A.AMDR_ID LIKE  #{empId} || '%'
        </if>
        <if test="empNmLike != null and empNmLike != ''">
                      AND C.EMP_NM LIKE '%' || #{empNmLike} || '%'
        </if>
    </sql>
    <select id="selectListCount" resultType="int">
                SELECT COUNT(1)
                 FROM TB_SYS_GRP_EMP_HST A
                INNER JOIN TB_SYS_GRP_BAS B ON A.GRP_CD = B.GRP_CD
                INNER JOIN TB_SYS_EMP_BAS C ON A.EMP_ID = C.EMP_ID
                INNER JOIN TB_SYS_ORG_BAS D ON C.ORG_ID = D.ORG_ID
        <include refid="sqlConditions"/>
    </select>
    <select id="selectList" resultType="com.kspo.voc.sys.model.CrmGrpEmpHstVo">
        <include refid="com.kspo.voc.sys.dao.CrmCommonDao.pagingHeader"/>
               SELECT A.GRP_EMP_HST_CD                    /*그룹사원이력코드        */
                    , A.GRP_CD                    /*그룹코드        */
                    , A.EMP_ID                    /*사원ID        */
                    , A.DEL_YN                    /*삭제여부        */
                    , A.REGR_ID                    /*등록자ID        */
                    , A.REG_DT                    /*등록일시        */
                    , A.AMDR_ID                    /*수정자ID        */
                    , A.AMD_DT                    /*수정일시        */
                    , B.GRP_NM
                    , C.EMP_NM
                    , D.ORG_NM
                 FROM TB_SYS_GRP_EMP_HST A
                INNER JOIN TB_SYS_GRP_BAS B ON A.GRP_CD = B.GRP_CD
                INNER JOIN TB_SYS_EMP_BAS C ON A.EMP_ID = C.EMP_ID
                INNER JOIN TB_SYS_ORG_BAS D ON C.ORG_ID = D.ORG_ID
        <include refid="sqlConditions"/>
               ORDER BY REG_DT DESC
        <include refid="com.kspo.voc.sys.dao.CrmCommonDao.pagingFooter"/>
    </select>
    <select id="select" resultType="com.kspo.voc.sys.model.CrmGrpEmpHstVo">
               SELECT <include refid="sqlCols"/>
                 FROM TB_SYS_GRP_EMP_HST
        <include refid="sqlPkConditions"/>
    </select>
    <insert id="insert">
                INSERT INTO TB_SYS_GRP_EMP_HST (
        <include refid="sqlCols"/>
                 ) VALUES (
                       FN_VOC_AUTO_SEQ('GEH')
                     , #{grpCd}
                     , #{empId}
                     , 'N'
                     , #{regrId}
                     , SYSDATE
                     , #{amdrId}
                     , SYSDATE
                 )
    </insert>
    <insert id="insertDelete">
                INSERT INTO TB_SYS_GRP_EMP_HST (
        <include refid="sqlCols"/>
                 ) VALUES (
                       FN_VOC_AUTO_SEQ('GEH')
                     , #{grpCd}
                     , #{empId}
                     , 'Y'
                     , #{regrId}
                     , SYSDATE
                     , #{amdrId}
                     , SYSDATE
                 )
    </insert>
    <update id="update">
               UPDATE TB_SYS_GRP_EMP_HST
                  SET GRP_CD              =         #{grpCd}
                    , EMP_ID              =         #{empId}
                    , DEL_YN              =         #{delYn}
                    , AMDR_ID             =         #{amdrId}
                    , AMD_DT              =         SYSDATE
        <include refid="sqlPkConditions"/>
    </update>
    <delete id="delete">
               DELETE FROM TB_SYS_GRP_EMP_HST
        <include refid="sqlPkConditions"/>
    </delete>
</mapper>
