<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kspo.voc.sys.dao.CrmGrpEmpRelDao">
    <sql id="sqlPkConditions">
                WHERE GRP_ID            =       #{grpId}
                  AND EMP_ID            =       #{empId}
    </sql>
    <sql id="sqlCols">
                      GRP_ID                    /*그룹코드        */
                    , EMP_ID                    /*사원ID        */
                    , REGR_ID                    /*등록자ID        */
                    , REG_DT                    /*등록일시        */
                    , AMDR_ID                    /*수정자ID        */
                    , AMD_DT                    /*수정일시        */
    </sql>
    <sql id="sqlConditions">
                WHERE 1 = 1
        <if test="grpId != null and grpId != ''">
            <choose>
                <when test="grpId instanceof String">
                              AND A.GRP_ID            =       #{grpId}
                </when>
                <otherwise>
                    AND A.GRP_ID            IN
                    <foreach item="item" index="index" collection="grpId" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="empId != null and empId != ''">
                      AND A.EMP_ID            =       #{empId}
        </if>
    </sql>
    <select id="selectListCount" resultType="int">
                SELECT COUNT(1)
                 FROM TB_SYS_GRP_EMP_REL A
                INNER JOIN TB_SYS_EMP_BAS B ON A.EMP_ID = B.EMP_ID
                INNER JOIN TB_SYS_ORG_BAS C ON B.ORG_ID = C.ORG_ID
        <include refid="sqlConditions"/>
    </select>
    <select id="selectList" resultType="com.kspo.voc.sys.model.CrmGrpEmpRelVo">
        <include refid="com.kspo.voc.sys.dao.CrmCommonDao.pagingHeader"/>
               SELECT A.GRP_ID                    /*그룹코드        */
                    , A.EMP_ID                    /*사원ID        */
                    , A.REGR_ID                    /*등록자ID        */
                    , A.REG_DT                    /*등록일시        */
                    , A.AMDR_ID                    /*수정자ID        */
                    , A.AMD_DT                    /*수정일시        */
                    , B.EMP_GRADE_CD
                    , B.EMP_NM
                    , C.ORG_NM
                 FROM TB_SYS_GRP_EMP_REL A
                INNER JOIN TB_SYS_EMP_BAS B ON A.EMP_ID = B.EMP_ID
                INNER JOIN TB_SYS_ORG_BAS C ON B.ORG_ID = C.ORG_ID
        <include refid="sqlConditions"/>
               ORDER BY TO_NUMBER(B.EMP_GRADE_CD)
                       , B.EMP_NM
        <include refid="com.kspo.voc.sys.dao.CrmCommonDao.pagingFooter"/>
    </select>
    <select id="select" resultType="com.kspo.voc.sys.model.CrmGrpEmpRelVo">
               SELECT <include refid="sqlCols"/>
                 FROM TB_SYS_GRP_EMP_REL
        <include refid="sqlPkConditions"/>
    </select>
    <insert id="insert">
                INSERT INTO TB_SYS_GRP_EMP_REL (
        <include refid="sqlCols"/>
                 ) VALUES (
                       #{grpId}
                     , #{empId}
                     , #{regrId}
                     , SYSDATE
                     , #{amdrId}
                     , SYSDATE
                 )
    </insert>
    <update id="update">
               UPDATE TB_SYS_GRP_EMP_REL
                  SET AMDR_ID             =         #{amdrId}
                    , AMD_DT              =         SYSDATE
        <include refid="sqlPkConditions"/>
    </update>
    <delete id="delete">
               DELETE FROM TB_SYS_GRP_EMP_REL
        <include refid="sqlPkConditions"/>
    </delete>
     <delete id="deleteGrpId">
               DELETE FROM TB_SYS_GRP_EMP_REL
                WHERE GRP_ID            =       #{grpId}
    </delete>
</mapper>
