<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kspo.voc.sys.dao.CrmGrpMenuRelDao">
    <sql id="sqlPkConditions">
                WHERE GRP_ID            =       #{grpId}
                  AND MENU_ID           =       #{menuId}
    </sql>
    <sql id="sqlCols">
                      GRP_ID                    /*그룹코드        */
                    , MENU_ID                    /*메뉴코드        */
                    , MENU_REG_AUTH_YN                    /*메뉴등록권한여부        */
                    , MENU_READ_AUTH_YN                    /*메뉴읽기권한여부        */
                    , MENU_AMD_AUTH_YN                    /*메뉴수정권한여부        */
                    , MENU_DEL_AUTH_YN                    /*메뉴삭제권한여부        */
                    , REGR_ID                    /*등록자ID        */
                    , REG_DT                    /*등록일시        */
                    , AMDR_ID                    /*수정자ID        */
                    , AMD_DT                    /*수정일시        */
    </sql>
    <sql id="sqlConditions">
                WHERE 1 = 1
        <if test="grpId != null and grpId != ''">
            <choose>
                <when test="grpId instanceof String">
                              AND GRP_ID            =       #{grpId}
                </when>
                <otherwise>
                    AND GRP_ID            IN
                    <foreach item="item" index="index" collection="grpId" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="menuId != null and menuId != ''">
            <choose>
                <when test="menuId instanceof String">
                              AND MENU_ID           =       #{menuId}
                </when>
                <otherwise>
                    AND MENU_ID           IN
                    <foreach item="item" index="index" collection="menuId" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="menuRegAuthYn != null and menuRegAuthYn != ''">
                      AND MENU_REG_AUTH_YN  =       #{menuRegAuthYn}
        </if>
        <if test="menuReadAuthYn != null and menuReadAuthYn != ''">
                      AND MENU_READ_AUTH_YN =       #{menuReadAuthYn}
        </if>
        <if test="menuAmdAuthYn != null and menuAmdAuthYn != ''">
                      AND MENU_AMD_AUTH_YN  =       #{menuAmdAuthYn}
        </if>
        <if test="menuDelAuthYn != null and menuDelAuthYn != ''">
                      AND MENU_DEL_AUTH_YN  =       #{menuDelAuthYn}
        </if>
    </sql>
    <select id="selectListCount" resultType="int">
                SELECT COUNT(1)
                 FROM TB_SYS_GRP_MENU_REL
        <include refid="sqlConditions"/>
    </select>
    <select id="selectList" resultType="com.kspo.voc.sys.model.CrmGrpMenuRelVo">
        <include refid="com.kspo.voc.sys.dao.CrmCommonDao.pagingHeader"/>
               SELECT <include refid="sqlCols"/>
                 FROM TB_SYS_GRP_MENU_REL
        <include refid="sqlConditions"/>
               ORDER BY REG_DT DESC
        <include refid="com.kspo.voc.sys.dao.CrmCommonDao.pagingFooter"/>
    </select>
    <select id="select" resultType="com.kspo.voc.sys.model.CrmGrpMenuRelVo">
               SELECT <include refid="sqlCols"/>
                 FROM TB_SYS_GRP_MENU_REL
        <include refid="sqlPkConditions"/>
    </select>
    <insert id="insert">
                INSERT INTO TB_SYS_GRP_MENU_REL (
        <include refid="sqlCols"/>
                 ) VALUES (
                       #{grpId}
                     , #{menuId}
                     , #{menuRegAuthYn}
                     , #{menuReadAuthYn}
                     , #{menuAmdAuthYn}
                     , #{menuDelAuthYn}
                     , #{regrId}
                     , SYSDATE
                     , #{amdrId}
                     , SYSDATE
                 )
    </insert>
    <update id="update">
               UPDATE TB_SYS_GRP_MENU_REL
                  SET MENU_REG_AUTH_YN    =         #{menuRegAuthYn}
                    , MENU_READ_AUTH_YN   =         #{menuReadAuthYn}
                    , MENU_AMD_AUTH_YN    =         #{menuAmdAuthYn}
                    , MENU_DEL_AUTH_YN    =         #{menuDelAuthYn}
                    , AMDR_ID             =         #{amdrId}
                    , AMD_DT              =         SYSDATE
        <include refid="sqlPkConditions"/>
    </update>
    <delete id="delete">
               DELETE FROM TB_SYS_GRP_MENU_REL
        <include refid="sqlPkConditions"/>
    </delete>
    <delete id="deleteMenuId">
               DELETE 
                 FROM TB_SYS_GRP_MENU_REL
                WHERE MENU_ID  =  #{menuId}
    </delete>
    <delete id="deleteGrpId">
               DELETE 
                 FROM TB_SYS_GRP_MENU_REL
                WHERE GRP_ID  =  #{grpId}
    </delete>
</mapper>
