<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kspo.voc.sys.dao.CrmUserWdgtDao">
    <sql id="sqlPkConditions">
                WHERE USER_ID           =       #{userId}
                  AND MENU_ID           =       #{menuId}
    </sql>
    <sql id="sqlCols">
                      USER_ID                    /*사용자코드        */
                    , MENU_ID                    /*메뉴코드        */
                    , MENU_ODRG                    /*메뉴순번        */
                    , REGR_ID                    /*등록자ID        */
                    , REG_DT                    /*등록일시        */
                    , AMDR_ID                    /*수정자ID        */
                    , AMD_DT                    /*수정일시        */
    </sql>
    <sql id="sqlConditions">
                WHERE A.MENU_ID = B.MENU_ID
        <if test="userId != null and userId != ''">
            <choose>
                <when test="userId instanceof String">
                              AND A.USER_ID           =       #{userId}
                </when>
                <otherwise>
                    AND A.USER_ID           IN
                    <foreach item="item" index="index" collection="userId" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="menuId != null and menuId != ''">
            <choose>
                <when test="menuId instanceof String">
                              AND A.MENU_ID           =       #{menuId}
                </when>
                <otherwise>
                    AND A.MENU_ID           IN
                    <foreach item="item" index="index" collection="menuId" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="menuOdrg != null and menuOdrg != ''">
                      AND A.MENU_ODRG         =       #{menuOdrg}
        </if>
        
    </sql>
    <select id="selectListCount" resultType="int">
                SELECT COUNT(1)
                 FROM TB_SYS_USER_WDGT_BAS A
                    , TB_SYS_MENU_BAS B
        <include refid="sqlConditions"/>
    </select>
    <select id="selectList" resultType="com.kspo.voc.sys.model.CrmUserWdgtVo">
        <include refid="com.kspo.voc.sys.dao.CrmCommonDao.pagingHeader"/>
               SELECT A.USER_ID                    /*사용자코드        */
                    , A.MENU_ID                    /*메뉴코드        */
                    , A.MENU_ODRG                    /*메뉴순번        */
                    , A.REGR_ID                    /*등록자ID        */
                    , A.REG_DT                    /*등록일시        */
                    , A.AMDR_ID                    /*수정자ID        */
                    , A.AMD_DT                    /*수정일시        */
                    , B.MENU_NM
                    , B.MENU_URL
                 FROM TB_SYS_USER_WDGT_BAS A
                    , TB_SYS_MENU_BAS B
<!--                   AND A.USER_ID = NVL(#{userId},#{amdrId})      -->
                  <include refid="sqlConditions"/>      
                ORDER BY A.MENU_ODRG
                    , B.MENU_NM
        <include refid="com.kspo.voc.sys.dao.CrmCommonDao.pagingFooter"/>
    </select>
    <select id="select" resultType="com.kspo.voc.sys.model.CrmUserWdgtVo">
               SELECT <include refid="sqlCols"/>
                 FROM TB_SYS_USER_WDGT_BAS
        <include refid="sqlPkConditions"/>
    </select>
    <insert id="insert">
        <selectKey order="BEFORE" keyProperty="menuOdrg" resultType="int">
            SELECT NVL(DECODE(#{menuOdrg},0,NULL,#{menuOdrg}),NVL(MAX(MENU_ODRG),0) + 1 )
              FROM TB_SYS_USER_WDGT_BAS
             WHERE USER_ID = TO_CHAR(#{userId}) 
        </selectKey>
                INSERT INTO TB_SYS_USER_WDGT_BAS (
        <include refid="sqlCols"/>
                 ) VALUES (
                       #{userId}
                     , #{menuId}
                     , #{menuOdrg}
                     , #{regrId}
                     , SYSDATE
                     , #{amdrId}
                     , SYSDATE
                 )
    </insert>
    <update id="update">
               UPDATE TB_SYS_USER_WDGT_BAS
                  SET MENU_ODRG           =         #{menuOdrg}
                    , AMDR_ID             =         #{amdrId}
                    , AMD_DT              =         SYSDATE
        <include refid="sqlPkConditions"/>
    </update>
    <delete id="delete">
               DELETE FROM TB_SYS_USER_WDGT_BAS
        <include refid="sqlPkConditions"/>
    </delete>
    <delete id="deleteMenuId">
               DELETE FROM TB_SYS_USER_WDGT_BAS
                WHERE MENU_ID = #{menuId}
    </delete>
    
</mapper>
