<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.egov.voc.kspo.setting.dao.VocManagementCodeDao">


    <select id="vocManagementCodeTree" resultType="com.egov.voc.kspo.setting.model.VocManagementCodeVo">
        select
            <include refid="vocManagementCodeCols"/>
        from
            voc_management_code
    </select>

    <select id="selectList" resultType="com.egov.voc.kspo.setting.model.VocManagementCodeVo">
        select
            <include refid="vocManagementCodeCols"/>
            ,
            nvl((
                select
                    code_nm
                from
                    voc_management_code
                where
                    management_cd = vmc.prnts_cd
            ), '-') prntsCdNm,
            (
                select
                    code_nm
                from
                    voc_management_code
                where
                    management_cd = vmc.top_cd
            ) topCdNm
        from
            voc_management_code vmc
        where
            <if test="prntsCd != null and !prntsCd.equals('')">
                prnts_cd = #{prntsCd}
            </if>
            <if test="prntsCd == null">
                prnts_cd is null
            </if>
        order by
            odrg, management_cd
    </select>

    <select id="select" resultType="com.egov.voc.kspo.setting.model.VocManagementCodeVo">
        select
            <include refid="vocManagementCodeCols"/>
        from
            voc_management_code
        <where>
            <if test="managementCd != null and !managementCd.equals('')">
                management_cd = #{managementCd}
            </if>
            <if test="prntsCd != null and !prntsCd.equals('')">
                and
                management_cd = #{prntsCd}
            </if>
        </where>
    </select>

    <insert id="insert">
        insert into voc_management_code
        (MANAGEMENT_CD, TOP_CD, PRNTS_CD, ODRG, LVL, CODE_NM, REG_USR)
        values(
               #{managementCd},
               #{topCd},
               #{prntsCd},
               #{odrg},
               #{lvl},
               #{codeNm},
               #{loginUsr}
              )
    </insert>

    <update id="update">
        <foreach collection="rows" item="item" open="DECLARE BEGIN" separator=";" close="; END;">
            update voc_management_code
            set
                odrg = #{item.odrg},
                code_nm = #{item.codeNm},
                use_yn = #{item.useYn}
            where
                management_cd = #{item.managementCd}
        </foreach>
    </update>

    <delete id="delete">
        delete from voc_management_code
        where
            management_cd in
            <foreach collection="list" separator="," item="item" open="(" close=")">
                #{item.managementCd}
            </foreach>
    </delete>


    <select id="maxChildCd" resultType="string">
        select
            max(management_cd)
        from
            voc_management_code
        where
            prnts_cd = #{prntsCd}
    </select>


    <sql id="vocManagementCodeCols">
        MANAGEMENT_CD,
        TOP_CD,
        PRNTS_CD,
        ODRG,
        LVL,
        CODE_NM,
        USE_YN,
        REG_USR,
        REG_DT
    </sql>
</mapper>
