<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.egov.voc.kspo.setting.dao.VocRegProcedureSettingDao">


    <select id="selectMaxMcPrcdSeq" resultType="String">
        select
            max(mc_prcd_seq)
        from
            voc_procedure
    </select>

    <select id="selectMaxMcTaskSeq" resultType="String">
        select
            max(mc_task_seq)
        from
            voc_task
    </select>

    <select id="selectMaxActSeq" resultType="String">
        select
            max(act_seq)
        from
            voc_activity
    </select>

    <select id="selectMaxDirCd" resultType="String">
        select
            max(dir_cd)
        from
            voc_dir_cd
    </select>

    <insert id="insertDirCd">
        insert into VOC_DIR_CD
            (DIR_CD)
        values
            (#{dirCd})
    </insert>

    <insert id="insertDirMcMapping">
        insert into VOC_DIR_MC_MAPPING
            (DIR_CD, MANAGEMENT_CD)
        values
            (#{dirCd}, #{managementCd})
    </insert>

    <insert id="insertDirOrgMapping">
        insert
        into voc_dir_org_mapping
        (DIR_CD, PRIMARY_ORG_YN, ORG_ID)
        values
        (#{dirCd}, #{primaryOrgYn}, #{orgId})
    </insert>

    <insert id="insertProcedure">
        insert into voc_procedure
        (MC_PRCD_SEQ, PRNTS_SEQ, PRCD_SEQ, PRCD_NM, DEADLINE, DUTY_ORG, DUTY_EMP, DUTY_ROLE, REG_USR)
        values
        (
            #{mcPrcdSeq},
            #{prntsSeq},
            #{prcdSeq},
            (select prcd_nm from voc_procedure_bas where prcd_seq = #{prcdSeq}),
            (select deadline from voc_procedure_bas where prcd_seq = #{prcdSeq}),
            #{dutyOrg},
            (select duty_emp from voc_procedure_bas where prcd_seq = #{prcdSeq}),
            (select duty_role from voc_procedure_bas where prcd_seq = #{prcdSeq}),
            #{loginUsr}
        )
    </insert>

    <update id="insertProcedureDirConn">
        insert all
        <foreach collection="mcPrcdSeqList" item="mcPrcdSeq" separator=" ">
            into voc_procedure_dir_conn
            (DIR_CD, MC_PRCD_SEQ)
            values(
                   #{dirCd}, #{mcPrcdSeq}
            )
        </foreach>
        select * from dual
    </update>



    <delete id="deleteDirOrg">
        delete from voc_dir_org_mapping
        where
            dir_cd = #{dirCd}
            <if test="orgList != null and !orgList.isEmpty()">
                and
                org_id in
                <foreach collection="orgList" item="org" separator="," open="(" close=")">
                    #{org.orgId}
                </foreach>
            </if>
    </delete>

    <update id="updateDirOrg">
        <foreach collection="orgList" item="org" separator=";" open="DECLARE BEGIN" close="; END;">
            update voc_dir_org_mapping
            set
                primary_org_yn = #{org.primaryOrgYn}
            where
                dir_cd = #{dirCd}
                and
                org_id = #{org.orgId}
        </foreach>
    </update>

    <insert id="insertTask">
        insert into voc_task
        (MC_TASK_SEQ, MC_PRCD_SEQ, TASK_SEQ, ODRG, TASK_NM, DEADLINE, DUTY_ORG, DUTY_EMP, DUTY_ROLE, REG_USR)
        values
            (
                #{mcTaskSeq},
                #{mcPrcdSeq},
                #{taskSeq},
                #{odrg},
                #{taskNm},
                #{deadline},
                #{dutyOrg},
                #{dutyEmp},
                #{dutoRole},
                #{loginUsr}
            )
    </insert>

    <insert id="insertActivity">
        insert into voc_activity
        (ACT_SEQ, MC_TASK_SEQ, FUNC_CD, ACT_NM, EXPLANATION)
        values(
               #{actSeq},
               #{mcTaskSeq},
               #{funcCd},
               #{actNm},
               #{explanation}
              )
    </insert>

    <delete id="deleteActivity">
        delete from voc_activity
        where
            act_seq in
            <foreach collection="actList" item="act" open="(" close=")" separator=",">
                #{act.actSeq}
            </foreach>
    </delete>

    <delete id="deleteTask">
        delete from voc_task
        where
            mc_task_seq in
            <foreach collection="taskList" item="task" open="(" close=")" separator=",">
                #{task.mcTaskSeq}
            </foreach>
    </delete>

    <delete id="deleteProcedure">
        delete from voc_procedure
        where
            mc_prcd_seq in
            <foreach collection="prcdList" item="prcd" open="(" close=")" separator=",">
                #{prcd.mcPrcdSeq}
            </foreach>
    </delete>

    <update id="updateProcedure">
        update voc_procedure
        set
            prnts_seq = #{prntsSeq},
            deadline = #{deadline},
            duty_org = #{dutyOrg},
            duty_emp = #{dutyEmp},
            duty_role = #{dutyRole}
        where
            mc_prcd_seq = #{mcPrcdSeq}
    </update>
</mapper>
