<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.egov.voc.kspo.setting.dao.VocRegProcedureSettingDao">

    <sql id="vocManagementCodeCols">
        MANAGEMENT_CD,
        TOP_CD,
        PRNTS_CD,
        TOP_COMN_CD,
        COMN_CD,
        ODRG,
        LVL,
        CODE_NM,
        USE_YN,
        REG_USR,
        REG_DT
    </sql>

    <select id="vocManagementCodeTree" resultType="com.egov.voc.kspo.setting.model.VocManagementCodeVo">
        select
            <include refid="vocManagementCodeCols"/>
        from
            voc_management_code
        where
            top_comn_cd = #{topComnCd}
            <!-- 단건의 분류코드 그룹 호출 시 -->
            <if test="comnCd instanceof String">
            and
            comn_cd = #{comnCd}
            </if>
            <!-- 여러개의 분류코드 그룹 호출 시 -->
            <if test="comnCd instanceof java.util.ArrayList">
            and
            comn_cd in
                <foreach collection="comnCd" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            and
            prnts_cd is not null
    </select>

    <select id="selectPrcdBas" resultType="com.egov.voc.kspo.setting.model.VocProcedureCodeVo">
        select
            *
        from
            voc_procedure_bas
        where
            prcd_seq = #{prcdSeq}
    </select>

    <select id="selectPrcdBasList" resultType="com.egov.voc.kspo.setting.model.VocProcedureCodeVo">
        select
            *
        from
            voc_procedure_bas
        where
            reg_use_yn = 'Y'
        order by
            prcd_seq
    </select>

    <select id="selectMaxMcPrcdSeq" resultType="String">
        select
            max(mc_prcd_seq)
        from
            voc_procedure
    </select>

    <select id="selectMaxDirCd" resultType="String">
        select
            max(dir_cd)
        from
            voc_dir_cd
    </select>

    <insert id="insertDirCd">
        insert into VOC_DIR_CD
            (DIR_CD)
        values
            (#{dirCd})
    </insert>

    <insert id="insertDirMcMapping">
        insert into VOC_DIR_MC_MAPPING
            (DIR_CD, MANAGEMENT_CD)
        values
            (#{dirCd}, #{managementCd})
    </insert>

    <insert id="insertDirOrgMapping">
        insert
        into voc_dir_org_mapping
        (DIR_CD, PRIMARY_ORG_YN, ORG_ID)
        values
        (#{dirCd}, #{primaryOrgYn}, #{orgId})
    </insert>

    <insert id="insertProcedure">
        insert into voc_procedure
        (MC_PRCD_SEQ, PRNTS_SEQ, PRCD_SEQ, PRCD_NM, DEADLINE, DUTY_ORG, DUTY_EMP, DUTY_ROLE, REG_USR)
        values
        (
            #{mcPrcdSeq},
            #{prntsSeq},
            #{prcdSeq},
            (select prcd_nm from voc_procedure_bas where prcd_seq = #{prcdSeq}),
            (select deadline from voc_procedure_bas where prcd_seq = #{prcdSeq}),
            #{dutyOrg},
            (select duty_emp from voc_procedure_bas where prcd_seq = #{prcdSeq}),
            (select duty_role from voc_procedure_bas where prcd_seq = #{prcdSeq}),
            #{regUsr}
        )
    </insert>

    <update id="insertProcedureDirConn">
        insert all
        <foreach collection="mcPrcdSeqList" item="mcPrcdSeq" separator=" ">
            into voc_procedure_dir_conn
            (DIR_CD, MC_PRCD_SEQ)
            values(
                   #{dirCd}, #{mcPrcdSeq}
            )
        </foreach>
        select * from dual
    </update>

    <select id="selectDirCd" resultType="string">
        select
            dir_cd
        from
            voc_dir_mc_mapping
        where
            <if test="managementCd != null and !managementCd.equals('')">
                management_cd = #{managementCd}
            </if>
    </select>

    <select id="selectProcedureList" resultType="com.egov.voc.kspo.setting.model.VocProcedureVo">
        select
            mc_prcd_seq,
            prnts_seq,
            prcd_seq,
            prcd_nm,
            deadline,
            duty_org,
            duty_emp,
            nvl(duty_role, '-') dutyRole,
            reg_usr,
            reg_dt,
            (select task_yn from voc_procedure_bas where prcd_seq = vp.prcd_seq) taskYn
        from
            voc_procedure vp
        where
            vp.mc_prcd_seq in (
                    select
                        mc_prcd_seq
                    from
                        voc_procedure_dir_conn
                    where
                        dir_cd = #{dirCd}
                )
        order by
            1
    </select>

    <select id="selectDutyOrgList" resultType="EzMap">
        select
            *
        from
            voc_dir_org_mapping
        where
            dir_cd = #{dirCd}
        order by
            2 desc, 3
    </select>

    <delete id="deleteDirOrg">
        delete from voc_dir_org_mapping
        where
            dir_cd = #{dirCd}
            and
            <if test="orgList != null and !orgList.isEmpty()">
                org_id in
                <foreach collection="orgList" item="org" separator="," open="(" close=")">
                    #{org.orgId}
                </foreach>
            </if>
    </delete>

    <update id="updateDirOrg">
        <foreach collection="orgList" item="org" separator=";" open="DECLARE BEGIN" close="; END;">
            update voc_dir_org_mapping
            set
                primary_org_yn = #{org.primaryOrgYn}
            where
                dir_cd = #{dirCd}
                and
                org_id = #{org.orgId}
        </foreach>
    </update>

</mapper>
