<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.egov.voc.kspo.setting.dao.VocRegProcedureSettingDao">

    <sql id="vocManagementCodeCols">
        MANAGEMENT_CD,
        TOP_CD,
        PRNTS_CD,
        TOP_COMN_CD,
        COMN_CD,
        ODRG,
        LVL,
        CODE_NM,
        USE_YN,
        REG_USR,
        REG_DT
    </sql>

    <select id="vocManagementCodeTree" resultType="com.egov.voc.kspo.setting.model.VocManagementCodeVo">
        select
            <include refid="vocManagementCodeCols"/>
        from
            voc_management_code
        where
            top_comn_cd = #{topComnCd}
            <!-- 단건의 분류코드 그룹 호출 시 -->
            <if test="comnCd instanceof String">
            and
            comn_cd = #{comnCd}
            </if>
            <!-- 여러개의 분류코드 그룹 호출 시 -->
            <if test="comnCd instanceof java.util.ArrayList">
            and
            comn_cd in
                <foreach collection="comnCd" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            and
            prnts_cd is not null
    </select>

    <select id="selectPrcdBasList" resultType="com.egov.voc.kspo.setting.model.VocProcedureCodeVo">
        select
            *
        from
            voc_procedure_bas
        where
            reg_use_yn = 'Y'
        order by
            prcd_seq
    </select>



</mapper>
