<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.egov.voc.kspo.setting.dao.VocTaskCodeSettingDao">


    <select id="selectList" resultType="com.egov.voc.kspo.setting.model.VocTaskCodeVo">
        select
            task_seq,
            task_nm,
            deadline,
            nvl(duty_dept, '-') dutyDept,
            nvl(duty_emp, '-') dutyEmp,
            nvl(duty_role, '-') dutyRole,
            chng_yn,
            auto_apply_yn,
            auto_apply_all_yn,
            auto_apply_prcd_seq,
            auto_apply_prcd_nm,
            mod_dt,
            mod_usr,
            nvl(duty_dept_nm, '-') dutyDeptNm,
            nvl(duty_emp_nm, '-') dutyEmpNm
        from
            voc_task_bas
        order by
            1
    </select>

    <insert id="insert">
        insert into voc_task_bas
        (task_seq, task_nm, deadline, duty_dept, duty_emp, duty_role, chng_yn, auto_apply_yn, auto_apply_all_yn, auto_apply_prcd_seq, auto_apply_prcd_nm, mod_dt, mod_usr, duty_dept_nm, duty_emp_nm)
        values(
                  concat('TB', lpad(seq_voc_task_bas.nextval, 8, 0)),
                  #{taskNm},
                  #{deadline},
                  #{dutyDept},
                  #{dutyEmp},
                  #{dutyRole},
                  #{chngYn},
                  #{autoApplyYn},
                  #{autoApplyAllYn},
                  #{autoApplyPrcdSeq},
                  #{autoApplyPrcdNm},
                  sysdate,
                  #{loginUsr},
                  #{dutyDeptNm},
                  #{dutyEmpNm}
              )
    </insert>

    <update id="update">
        <foreach collection="rows" item="item" open="DECLARE BEGIN" close=";END;" separator=";">
            update voc_task_bas
            set
                task_nm = #{item.taskNm},
                deadline = #{item.deadline},
                chng_yn = #{item.chngYn},
                auto_apply_yn = #{item.autoApplyYn},
                mod_dt = sysdate,
                mod_usr = #{loginUsr}
            where
                task_seq = #{item.taskSeq}
        </foreach>
    </update>

    <delete id="delete">
        delete from voc_task_bas
        where
        task_seq in
        <foreach collection="rows" item="item" open="(" close=")" separator=",">
            #{item.taskSeq}
        </foreach>
    </delete>

    <update id="chngTaskDuty">
        update voc_task_bas
        set
            ${targetInfo.col} = #{chngMap.id},
            ${targetInfo.col}_nm = #{chngMap.nm},
            mod_dt = sysdate,
            mod_usr = #{loginUsr}
        where
            task_seq = #{targetInfo.taskSeq}
    </update>

    <select id="selectAvailablePrcdList" resultType="com.egov.voc.kspo.setting.model.VocProcedureCodeVo">
        select
            *
        from
            voc_procedure_bas
        where
            task_yn = 'Y'
    </select>
</mapper>
