/*modal*/
.v_modal_header{
    height: 15px;
    padding: 13px;
    background-color: #676767;
}
.v_modal_header h3{
    display: inline;
    font-weight: 500;
    color: white;
}
.v_modal_header button{
    float: right;
    border: none;
    background-color: inherit;
    color: white;
}